header.main .bottom {
    min-height: 200px;
}

header.main h1 {
    margin-top: 10px;
}

header.main h2 {
    margin: 10px;
    float: left;
    font-size: 64px;
    padding-left: 80px;
    color: #fff;
    letter-spacing: 0.6em;
}

#page.admin_jira > h2 {
    margin: 1em;
    font-weight: 400;
}

#page.admin_jira > h2 .parent-title {
    font-weight: 600;
}

.jira-list {
    padding: 20px;
}

.jira-list > li {
  margin-bottom: 30px;
  padding: 0.25em 0.5em;
}

.jira-list > li h3 .media-link {
  vertical-align: sub;
  fill: #FFE;
  color: #FFE;
  text-decoration: none;
}

.jira-list > li .related {
  background: #fff;
  padding: 1em 1em 1em 40px;
}

.jira-list > li .related > label {
  font-size: 120%;
  font-weight: 700;
  color: #BBB;
}

.jira-list > li .related > ul{
  padding: 1em 0 0 1em;
  font-size: 90%;
}

.jira-list > li .related > ul li {
  margin-bottom: 0.33em;
}

.jira-list > li .related .close-button {
  float: right;
  padding: 0 4px;
  font-size: 16px;
  background: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #bbb;
  display: none;
}

.jira-list > li .related .close-button:hover {
  color: #333;
}

.jira-list > li.accepted {
    background: #59D57C;
}

.jira-list > li.accepted .related {
  background: #BBEFB1;
}

.jira-list > li.accepted .related > label {
  color: #999;
}

.jira-list > li.accepted .related .close-button {
  display: block;
}

.jira-list >li.declined {
background: #BBB;
color: #eee;
}

.jira-list li h3 {
     font-size: 24px;
}

.jira-list li article {
     margin-bottom: 20px;
}

.tags  > span {
    background: #e1e0e0;
    color: #555;
    padding: 4px 8px;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0), 0 1px 2px rgba(0,0,0,0);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0), 0 1px 2px rgba(0,0,0,0);
    margin-top: 4px;
}

.tags > i {
    margin-top: 4px;
}

.jira-buttons {
    list-style: none;
    float: right;
    margin-top: -3em;
    margin-right: 32px;
}


#page.admin_jira > h2 .jira-buttons {
    margin-top: 0;
}

.jira-buttons li, .jira-container-buttons li {
    float: left;
    margin-right: 24px;
}

.jira-buttons li:last-child, .jira-container-buttons li:last-child {
    margin-right: 0;
}

.jira-buttons a {
    width: 32px;
    fill: #F46D6D;
    padding: 0;
    background: none;
    border: 1px solid #F46D6D;
    border-radius: 20px;
    cursor: pointer;
    line-height: 1px;
    display: block;
}

.jira-buttons .jira-accept, .jira-buttons .jira-accept-all {
    fill: #319D3F;
    border-color: #319D3F;
}

.jira-buttons .jira-decline {
    fill: #F46D6D;
    border-color: #F46D6D;
}

.jira-buttons .jira-accept:hover, .jira-buttons .jira-accept-all:hover {
    fill: #FFF;
    background-color: #319D3F;
}

.jira-buttons .jira-decline:hover {
    fill: #FFF;
    background-color: #F46D6D;
}

.jira-buttons .active {
    background-color: #FFF;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.jira-decline.active {
    fill: #F46D6D;
}

.jira-accept.active, .jira-accept-all.active {
    fill: #319D3F;
}

.jira-comment-container, .jira-disk-accept-container {
    position: absolute;
    border: 3px solid #F46D6D;
    padding: 0.5em;
    border-radius: 16px 0 16px 16px;
    background: #FFF;
}

.jira-comment-container { 
    border-color: #F46D6D;
}
.jira-disk-accept-container {
    border-color: #319D3F;
}

.jira-comment-container > p, .jira-disk-accept-container > p {
    width: 300px;
}

.jira-comment {
    width: 300px;
    height: 150px;
}

.disk-images-upload .file {
    vertical-align: baseline;
    margin: 0;
}

.jira-container-buttons button {
    width: 24px;
    padding: 2px;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    line-height: 1px;
}

.jira-container-buttons button:hover {
    background: #ddd;
}

/* News */
.create-button-conainer {
  max-width: 1000px;
  margin: 30px auto 0;
}

.create-button {
  display: inline-block;
  padding: 20px;
  font-size: 150%;
  margin-left: -20px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #bbefb1;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #323232;
}
    a.create-button:hover {
      color: #323232;
    }

.news header {
  margin-bottom: 1em;
}

.news header input {
  font-size: 200%;
  margin-bottom: 1em;
}

.news .body .redactor-editor {
    height: 400px;
}

.news .body .redactor-toolbar li {
    font-size: 24px;
}

.news .objects {
  margin-bottom: -1.25em;
  min-height: 28px;
}
.news .objects li {
  float: left;
  margin-bottom: -0.4em;
}

.news .objects li > a {
  text-decoration: none;
  overflow: hidden;
  display: block;
  float: left;
  margin: 0 4px 4px 0;
  padding: 0 16px 0 8px;
  font-size: 14px;
  line-height: 16px;
  height: 28px;
  color: #555;
  background: #e3daa3;
  vertical-align: middle;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 4px;
  height: 24px;
}
.news .objects li:first-child > a {
  font-size: 115%;
  height: 29px;
  margin-top: -9px;
  padding-top: 8px;
}

.news .objects li .icon {
  margin-right: 9px;
  fill: #555555;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news .objects li a.add {
  margin-right: 32px;
  font-weight: 700;
}
.news .objects li a.active {
  background: #555;
  color: #f7f3db;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  height: 28px;
}


.news .objects li a.add:after {
  content: '+';
  line-height: 0;
  font-size: 10px;
  display: block;
  position: absolute;
  right: 2px;
  top: 5px;
}

.news .add-items-list {
  background: #555;
  width: 100%;
  z-index: -1;
  opacity: 0;
  margin-top: -8px;
  height: 0;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  transition: opacity 0.3s;
  margin-bottom: 2em;
}

.news .add-items-list.show {
  z-index: 5;
  opacity: 1;
  height: auto;
}
.filters-container .add-filter-list.remove-ltr {
  -webkit-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;
}

.news .add-items-list .search {
  margin: 10px;
}

.news .add-items-list .search .icon{
  margin-left: -2px;
}

.news .add-items-list .icon {
  margin: 0 10px;
  fill: #fff;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news .add-items-list .filters {
  padding-left: 10px;
  margin-bottom: 1em;
  min-height: 28px;
}
.news .add-items-list .filters a {
  display: block;
  float: left;
  height: 28px;
  font-size: 18px;
  line-height: 20px;
  padding: 0px 14px;
  color: #555;
  background: #f7f3db;
  text-decoration: none;
  margin-right: 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.news .add-items-list .filters a.active {
  background: #878877;
  color: #f7f3db;
}

.news .add-items-list .filters a .icon {
  margin: 6px 0 -7px 0;
  fill: #555555;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  transition: all 0.3s;
}
.news .add-items-list .filters a.active .icon {
  fill: #f7f3db;
}

.news .add-items-list .filters a span {
  margin-left: 15px;
  display: block;
  float: left;
  margin-top: 4px;
}

.news .add-items-list .items {
  margin: 1em 32px;
}

.news .add-items-list .items li {
  margin: 0 0.8em 0.5em;
}
.news .add-items-list .items li:hover {
  background: #ccc;
}
.news .add-items-list .items li.selected {
  display: none;
}

.news .add-items-list .items a {
  padding: 1em;
  line-height: 2em;
  color: #fff;
  fill: #fff;
}

.news .buttons-block {
  margin-top: 2em;
}

.news .buttons-block a {
  line-height: 2em;
}

.news .buttons-block button {
  float: right;
  background: #bbefb1;
  border-radius: 4px;
  font-size: 150%;
  padding: 0.3em;
  cursor: pointer;
  color: #323232;
  font-weight: 600;
  border: 1px solid #fff;
}

.news-list .jira-buttons {
    margin: -3em 0 0;
}
.news-list .jira-buttons a {
  width: 24px;
  height: 24px;
  display: block;
}

.pages-list .alias {
    display: block;
    text-decoration: none;
    font-size: 70%;
    color: #999;
}

input[type=text].invalid {
    border: 1px solid #F28484;
}

label.error {
    color: #F28484;
}

.bottom-margin {
    margin-bottom: 1em;
}

.users-list {
    margin-top: 2em;
}

.users-list table {
    margin-left: 40px;
}

.users-list th {
    font-size: 120%;
    text-align: center;
    font-weight: 600;
}

.users-list tbody tr {
    border-bottom: 1px solid #BBB;
}

.users-list tbody td {
    padding: 0.1em 0.5em;
}

.users-list .email {
    font-size: 120%;
}

.users-list .roles a {
    display: block;
    text-decoration: none;
    background: #F7F3DB;
    color: #555555;
    padding: 0 0.5em;
    line-height: 26px;
    font-size: 111%;
    font-weight: 400;
    margin: 0.5em;
    
    -webkit-border-radius:4px;
    border-radius:4px;

    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}

.users-list .roles a .icon {
    height: 20px;
    width: 17px;
    display: inline-block;
    vertical-align: text-top;
    fill: #555555;
    margin-right: 0.5em;
}

.users-list .roles a:hover {
    color: #555555;
    -webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
    box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
}
.users-list .roles a.active { 
    background:#555; 
    color:#f7f3db; 
}
.users-list .roles a.active .icon { 
    fill:#f7f3db; 
}