body {
    font-family: HelveticaNeue, Helvetica, Arial, Verdana;
}

#main {
    background: #f39c12;
    margin: 1em auto 0 auto;
    max-width: 666px;
    padding: 1em;
    border-radius: 16px;    
}

#logo {
    display: inline-block;
    width: 253px;
    height: 115px;
    fill: #fff;
}

form {
    display: inline-block;
    padding-left: 4em;
    width: 50%;
}

input, button {
    display: block;
    font-size: 20px;
    margin-bottom: 1em;
    width: 100%;
    transition: all 0.3s;
}

input[type=text], input[type=email], input[type=password] {
    border: solid 2px #EFE6B2;
    background: #f1efeb;
    color: #555;
}

input[type=text]:hover, input[type=email]:hover, input[type=password]:hover {
    border: solid 2px #aaa;
}

input.error
{
    border: solid 2px #FD2F0A;
}

button {
    font-weight: bold;
    color: #323232;
    border: 1px solid #fff;
    background: #efe6b2;
    border-radius: 16px;
    line-height: 2;
    cursor: pointer;
}

#errors {
    margin: 1em auto 0.5em auto;
    max-width: 666px;
    font-size: 24px;
    color: #FD2F0A;
}
