@charset "utf-8";
/* CSS Document */
* { outline:none; }
a:focus { outline:none; }
body { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: auto; font-smoothing:antialiased; vertical-align:middle; }
nav:after,
nav:before,
.row:after,
.row:before,
.clear:after,
.clear:before,
.date-1:after,
.date-1:before,
section:after,
section:before,
article:after,
article:before,
.content:after,
.content:before,
header.main:after,
header.main:before,
footer.main:after,
footer.main:before,
.horizontal:after,
.horizontal:before { display:table; clear:both; content:''; width:100%; height:0; overflow:hidden; font-size:0; line-height:0; }

.sw { max-width:1000px; margin:0 auto; }
#page {
	font-family:'HelveticaNeue';
	min-width:1000px;
	background:#f1efeb;
	color:#555;
	font-size:14px;
	line-height:16px;
	overflow:hidden;
}
th,
td { font-family:'HelveticaNeue'; }


.spinner {
	margin: 0px auto;
	width: 50px;
	height: 50px;
	position: relative;
}

.spinner .circle {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.spinner .circle:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 20%;
	height: 20%;
	background-color: #ee2f3f;
	
	border-radius: 100%;
	-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	animation: bouncedelay 1.2s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .circle2  { -webkit-transform: rotate(30deg);  transform: rotate(30deg)  }
.spinner .circle3  { -webkit-transform: rotate(60deg);  transform: rotate(60deg)  }
.spinner .circle4  { -webkit-transform: rotate(90deg);  transform: rotate(90deg)  }
.spinner .circle5  { -webkit-transform: rotate(120deg); transform: rotate(120deg) }
.spinner .circle6  { -webkit-transform: rotate(150deg); transform: rotate(150deg) }
.spinner .circle7  { -webkit-transform: rotate(180deg); transform: rotate(180deg) }
.spinner .circle8  { -webkit-transform: rotate(210deg); transform: rotate(210deg) }
.spinner .circle9  { -webkit-transform: rotate(240deg); transform: rotate(240deg) }
.spinner .circle10 { -webkit-transform: rotate(270deg); transform: rotate(270deg) }
.spinner .circle11 { -webkit-transform: rotate(300deg); transform: rotate(300deg) }
.spinner .circle12 { -webkit-transform: rotate(330deg); transform: rotate(330deg) }

.spinner .circle2:before  { -webkit-animation-delay: -1.1s; animation-delay: -1.1s }
.spinner .circle3:before  { -webkit-animation-delay: -1.0s; animation-delay: -1.0s }
.spinner .circle4:before  { -webkit-animation-delay: -0.9s; animation-delay: -0.9s }
.spinner .circle5:before  { -webkit-animation-delay: -0.8s; animation-delay: -0.8s }
.spinner .circle6:before  { -webkit-animation-delay: -0.7s; animation-delay: -0.7s }
.spinner .circle7:before  { -webkit-animation-delay: -0.6s; animation-delay: -0.6s }
.spinner .circle8:before  { -webkit-animation-delay: -0.5s; animation-delay: -0.5s }
.spinner .circle9:before  { -webkit-animation-delay: -0.4s; animation-delay: -0.4s }
.spinner .circle10:before { -webkit-animation-delay: -0.3s; animation-delay: -0.3s }
.spinner .circle11:before { -webkit-animation-delay: -0.2s; animation-delay: -0.2s }
.spinner .circle12:before { -webkit-animation-delay: -0.1s; animation-delay: -0.1s }

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0.0);
		transform: scale(0.0);
	} 40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

.row { margin:0 -10px; }
.column {
	float:left;
	padding:0 10px;
}

.ta-l { text-align:left; }
.ta-c { text-align:center; }
.ta-r { text-align:right; }

.f-l { float:left; }
.f-r { float:right; }

.o-h { overflow:hidden; }

.column-center { float:none; margin:0 auto; }

[class*="w-"] {
	min-height:1px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.w-6 { width:6%; }
.w-8 { width:8.33%; }
.w-10 { width:10%; }
.w-12 { width:12%; }
.w-15 { width:15%; }
.w-16 { width:16.66%; }
.w-20 { width:20%; }
.w-25 { width:25%; }
.w-28 { width:28%; }
.w-30 { width:30%; }
.w-31 { width:31%; }
.w-32 { width:32%; }
.w-33 { width:33.33%; }
.w-35 { width:35%; }
.w-40 { width:40%; }
.w-45 { width:45%; }
.w-50 { width:50%; }
.w-55 { width:55%; }
.w-60 { width:60%; }
.w-65 { width:66.66%; }
.w-65 { width:65%; }
.w-70 { width:70%; }
.w-75 { width:75%; }
.w-80 { width:80%; }
.w-83 { width:83.32%; }
.w-85 { width:85%; }
.w-90 { width:90%; }
.w-95 { width:95%; }
.w-100 { width:100%; }

ol { margin:10px 0; }
ol > li {
	list-style-type:decimal;
	list-style-position:outside;
	margin-left:30px;
	font-size:14px;
	line-height:18px;
	padding:2px 0;
}

ul.unstyle > li {
	background:none;
	padding:0;
	margin:0;
}
.horizontal > li {
	float:left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}


h2 { font-size:24px; line-height:1.2em; font-weight:bold; margin-bottom:25px; }
h3 { font-size:18px; line-height:1.5em; font-weight:bold; margin-bottom:10px; }
h4 { font-size:18px; line-height:1.5em; font-weight:normal; margin-bottom:10px; }
h6 { margin-bottom:15px; }

p { margin-bottom:15px; }
p:last-child { margin-bottom:0; }

a { color:inherit; }
a:hover { color:#5080c8; }



.el2 > li { width:50%; }
.el3 > li { width:33.33%; }
.el4 > li { width:25%; }
.el5 > li { width:20%; }

label { display:inline-block; }

input[type="url"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="date"],
input[type="range"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {
	display:block;
	border:solid 1px #fff;
	background:#fff;
	
	padding:3px 7px 3px 7px;
	font-size:18px;
	line-height:22px;
	width:100%;
	margin:0;
	color:#555;
	font-family:'HelveticaNeue';
	font-weight:normal;
	text-transform:none;
	outline:none;
	box-shadow:none;
	
	-webkit-border-radius:4px;
			border-radius:4px;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;

	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}

input::-webkit-input-placeholder {
	color:#000;
	line-height:22px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
input::-moz-placeholder { color:#000; opacity:1; }

input[type="url"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="date"]:hover,
input[type="range"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="password"]:hover { border-color:#555; }

input[type="url"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="date"]:focus,
input[type="range"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus { border-color:#555; }

input[type='checkbox'] { position:absolute; z-index:-999; left:-100000px; }
input[type='checkbox'] + label { position:relative; display:block; padding:6px 0 3px 26px; line-height:15px; color:#000; font-size:14px; }
input[type='checkbox'] + label a { color:inherit; text-decoration:underline; }
input[type='checkbox'] + label a:hover { color:#ff4258; }
input[type='checkbox'] + label:before {
	content:'';
	display:block;
	position:absolute;
	left:0px;
	top:3px;
	width:14px;
	height:14px;
	background:#fff;
	border: 3px solid #DDD;
	-webkit-border-radius:4px;
			border-radius:4px;
			
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
input[type='checkbox'] + label:after {
	content:'';
	display:block;
	position:absolute;
	left:6px;
	top:6px;
	width:11px;
	height:4px;
	border-left:solid 3px #f00;
	border-bottom:solid 3px #f00;
	opacity:0;
	-webkit-transform:rotate(-45deg);
			transform:rotate(-45deg);
	
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
input[type='checkbox']:checked + label:before {  }
input[type='checkbox']:checked + label:after { opacity:1; }

input[type='radio'] { position:absolute; z-index:-2; }
input[type='radio'] + label { position:relative; padding:6px 0 6px 18px; line-height:16px; margin-right:15px; cursor:pointer; display:block; }
input[type='radio'] + label:before {
	content:'';
	display:inline-block;
	position:absolute;
	left:0;
	top:50%;
	margin:-7px 0 0 0;
	width:8px;
	height:8px;
	background:#dcd8d1;
	border:solid 3px #fff;
	
	-webkit-border-radius:50%;
			border-radius:50%;
			
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
input[type='radio']:focus + label:before,
input[type='radio'] + label:hover:before { border-color:#aaa; }
input[type='radio']:checked + label:before { background-color:#f00; }

.horizontal input[type='radio'] + label { float:left; margin-top:18px; }

.file .btn { cursor:pointer; }

.file + label { color:#857272; font-size:12px; display:inline-block; vertical-align:middle; margin-left:155px; line-height:1.2em; }

.file.drag-and-drop {
	display:inline-block;
	vertical-align:middle;
	margin:0 -155px 0 0;
	padding:3px;
	position:relative;
	z-index:1;
	border:solid 3px #555555;

	-webkit-border-radius:50%;
			border-radius:50%;

	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.file.drag-and-drop .v { display:none; }
.file.drag-and-drop.focus,
.file.drag-and-drop.file-in-window { border-color:#aaa; }
.file.drag-and-drop.file-in { border-color:#f7f3db; }
.file.drag-and-drop.error { border-color:#f00; }

.file.drag-and-drop:after,
.file.drag-and-drop:before {
	content:'';
	display:block;
	position:absolute;
	z-index:-1;
	-webkit-border-radius:50%;
			border-radius:50%;
}
.file.drag-and-drop:before {
	top:0; right:0; bottom:0; left:0;
}
.file.drag-and-drop:after {
	background:#555;
	top:3px; right:3px; bottom:3px; left:3px;
}
.file.drag-and-drop .btn,
.file.drag-and-drop .progress span {
	width:128px;
	height:128px;
	background:#817676;
	position:relative;
	
	-webkit-border-radius:50%;
			border-radius:50%;

	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.file.drag-and-drop .btn:hover,
.file.drag-and-drop.hover .btn {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.2);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.2);
}
.file.drag-and-drop .btn:active {
	-webkit-box-shadow:inset 0px 2px 2px rgba(85,85,85,0.5), 0 1px 0px rgba(255,255,255,0.3);
			box-shadow:inset 0px 2px 2px rgba(85,85,85,0.5), 0 1px 0px rgba(255,255,255,0.3);
}

.file.drag-and-drop .btn:after,
.file.drag-and-drop .btn:before {
	content:'';
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	background:#555;
	z-index:3;
}
.file.drag-and-drop.loaded .btn:after,
.file.drag-and-drop.loaded .btn:before { opacity:0; }
.file.drag-and-drop .progress {
	position:absolute;
	display:block;
	z-index:2;
	width:0px;
	height:128px;
	left:0px;
	top:0px;
	overflow:hidden;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.file.drag-and-drop .progress span {
	display:block;
	background:#f7f3db;
	background-size:cover;
} 

.file.drag-and-drop .btn:after { width:6px; height:36px; margin:-18px 0 0 -3px; }
.file.drag-and-drop .btn:before { width:36px; height:6px; margin:-3px 0 0 -18px; }

.date-1 input { padding:3px 7px; }
.date-1 input:first-of-type { width:41px; float:left; margin:0 6px 0 0; }
.date-1 input:last-of-type { width:64px; float:left; margin:0 0 0 6px; }
.date-1 select,
.date-1 .select { float:left; width:114px; margin-top:3px !important; }
.date-1 label { display:block; }

.search {
	position:relative;
}
.search input {
	background:#fff;
	border:none 0;
	padding-left:36px;
	-webkit-border-radius:4px;
			border-radius:4px;
}
.search .icon {
	position:absolute;
	fill:#d1d1d1 !important;
	margin:0;
	left:14px;
	top:6px;
}
.search input::-webkit-input-placeholder { color:#d1d1d1; }
.search input::-moz-placeholder { color:#d1d1d1; }

button {
	-webkit-box-sizing: content-box;
			box-sizing: content-box;
}

.select {
	border:solid 1px #fff;
	
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
	
	-webkit-border-radius:4px;
			border-radius:4px;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.select:hover {
	border-color:rgba(255,255,255,.5);
	background:rgba(255,255,255,.5);
	
}
.select:focus { outline:none; }
.select .v {
	margin:0 48px 0 23px;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;

}
.select > .a { right:10px; }
.select > .a:before {
	border-color:#fff;
	border-left-width:1px;
	border-bottom-width:1px;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}

.select:hover .v { color:#2b2b2b; }
.select:hover > .a:before { border-color:#2b2b2b; }
.select.show { background:rgba(255,255,255,.5); }
.select.show .v { color:#2b2b2b; }
.select.show > .a:before {  border-color:#2b2b2b; }

.select .l { margin-top:0px; }
.select .l .w {
	background:#fff;
	margin:12px 23px 23px;
	padding:5px 0px;
	z-index:2;
	overflow:visible;

	-webkit-box-shadow:3px 3px 5px rgba(4,4,5,.3);
			box-shadow:3px 3px 5px rgba(4,4,5,.3);

	-webkit-border-radius:2px;
			border-radius:2px;
}
.select .l .w:before {
	content:'';
	display:block;
	position:absolute;
	bottom:100%;
	left:50%;
	border:solid 0px rgba(0,0,0,0);
	border-bottom-width:12px;
	border-bottom-color:#fff;
	border-left-width:12px;
	border-right-width:12px;
	margin-left:-12px;
}
.select .l .a {
	position:absolute;
	left:50%;
	margin-left:-19px;
	top:-9px;
	transform:rotate(-29deg);
	width:36px;
	height:36px;
	z-index:0;
}
.select .l .a:before {
	content:'';
	display:block;
	width:36px;
	height:25px;
	background:#f7f3db;
	border:solid 1px #fff;
	position:relative;
	transform:skewX(30deg);
}
.select .l ul li { padding:0 25px; line-height:43px; background:none; }

/* form.type-2 */
form.type-2 .row { margin:0 0 7px 0; }
form.type-2 label { color:#fff;  padding:0 0 0 10px; font-size:12px; }
form.type-2 .file + label { color:#857272; }
form.type-2 label a { line-height:15px; }
form.type-2 input[type="radio"] + label { line-height:34px; padding:0 0 0 18px; font-size:18px; font-weight:bold; }
form.type-2 .date-1 label { display:block; }
form.type-2 .select + label,
form.type-2 input[type="url"] + label,
form.type-2 input[type="tel"] + label,
form.type-2 input[type="text"] + label,
form.type-2 input[type="time"] + label,
form.type-2 input[type="date"] + label,
form.type-2 input[type="range"] + label,
form.type-2 input[type="email"] + label,
form.type-2 input[type="number"] + label,
form.type-2 input[type="search"] + label,
form.type-2 input[type="password"] + label { margin-top:14px; padding:3px 0 3px 11px; line-height:15px; font-size:12px; }
form.type-2 input[type="checkbox"] + label { padding:3px 0 3px 26px; }

form.type-2 input[type="url"],
form.type-2 input[type="tel"],
form.type-2 input[type="text"],
form.type-2 input[type="time"],
form.type-2 input[type="date"],
form.type-2 input[type="range"],
form.type-2 input[type="email"],
form.type-2 input[type="number"],
form.type-2 input[type="search"],
form.type-2 input[type="password"] { border:solid 3px #555; background:#f1efeb; color:#555; }

form.type-2 label + .field,
form.type-2 label + .select,
form.type-2 label + input[type="url"],
form.type-2 label + input[type="tel"],
form.type-2 label + input[type="text"],
form.type-2 label + input[type="time"],
form.type-2 label + input[type="date"],
form.type-2 label + input[type="range"],
form.type-2 label + input[type="email"],
form.type-2 label + input[type="number"],
form.type-2 label + input[type="search"],
form.type-2 label + input[type="password"] {
	margin-top:3px;
}

form.type-2 input[type="url"]:hover,
form.type-2 input[type="tel"]:hover,
form.type-2 input[type="text"]:hover,
form.type-2 input[type="time"]:hover,
form.type-2 input[type="date"]:hover,
form.type-2 input[type="range"]:hover,
form.type-2 input[type="email"]:hover,
form.type-2 input[type="number"]:hover,
form.type-2 input[type="search"]:hover,
form.type-2 input[type="password"]:hover { border:solid 3px #aaa; }

form.type-2 input[type="url"]:focus,
form.type-2 input[type="tel"]:focus,
form.type-2 input[type="text"]:focus,
form.type-2 input[type="time"]:focus,
form.type-2 input[type="date"]:focus,
form.type-2 input[type="range"]:focus,
form.type-2 input[type="email"]:focus,
form.type-2 input[type="number"]:focus,
form.type-2 input[type="search"]:focus,
form.type-2 input[type="password"]:focus { border:solid 3px #aaa; }

form.type-2 input[type='checkbox'] + label a:hover { color:#5080c8; }
form.type-2 input[type='checkbox'] + label:before { border:solid 3px #555; }
form.type-2 input[type='checkbox']:focus + label:before,
form.type-2 input[type='checkbox'] + label:hover:before { border-color:#aaa; }
form.type-2 input[type='checkbox']:checked + label:after { opacity:1; }

form.type-2 select { display:block; margin-top:6px; height:28px; }
form.type-2 .select {
	min-width:0;
	background:#f1efeb;
	border:solid 3px #555555;
	
	-webkit-border-radius:5px;
			border-radius:5px;
}
form.type-2 .select.focus,
form.type-2 .select:hover { border-color:#aaa; }
form.type-2 .select .v {
	margin:3px 30px 3px 11px;
	font-size:18px;
	line-height:22px;
	color:#555;
	overflow:hidden;
}
form.type-2 .select > .a:before { border-color:#555; }
form.type-2 .select .l {
	min-width:100%;
	padding:0 8px 0 2px;
	margin:0 -8px 0 -2px;
}
form.type-2 .select .l .a:before {
	border:none 0;
}
form.type-2 .select .l .i {
	margin:18px 0px 8px 0px;
	
	-webkit-box-shadow:3px 3px 5px rgba(4,4,5,0.3);
			box-shadow:3px 3px 5px rgba(4,4,5,0.3);
}
form.type-2 .select .l .i2 {
	background:#f7f3db;
	padding:7px 0;
}
form.type-2 .select .l ul {}
form.type-2 .select .l ul li {
	background:none;
	line-height:22px;
	white-space:normal;
	color:#555;
}
form.type-2 .select .l ul li.selected { background:#555; color:#f7f3db; }

form.type-2 .select .l ul li.focus,
form.type-2 .select .l ul li:hover { background:#666; color:#f7f3db; }

/* /form.type-2 */

[class*="btn-"] { cursor:pointer; }
[class*="btn-"],
[class*="icon-"] {
	display:inline-block;
	vertical-align:middle;
	
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
[class*="btn-"]:after,
[class*="btn-"]:before,
[class*="icon-"]:after,
[class*="icon-"]:before {
	content:'';
	display:inline-block;
	
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}

[class*="icon-"] { position:relative; }

.icon-tag,
.icon-mark,
.icon-disc,
.icon-book,
.icon-text,
.icon-audio,
.icon-video,
.icon-search,
.icon-author,
.icon-calendar { width:16px; height:16px; }

.icon-tag:after,
.icon-tag:before,
.icon-mark:after,
.icon-mark:before,
.icon-disc:after,
.icon-disc:before,
.icon-book:after,
.icon-book:before,
.icon-text:after,
.icon-text:before,
.icon-audio:after,
.icon-audio:before,
.icon-video:after,
.icon-video:before,
.icon-search:after,
.icon-search:before,
.icon-author:after,
.icon-author:before,
.icon-calendar:after,
.icon-calendar:before {
	width:16px;
	height:16px;
	position:absolute;
	left:0;
	top:0;
	background:url(../img/icons.png) no-repeat 0 0;
}

.icon-tag { background:url(../img/icons/Icon-16x16-1-17.svg#555555); fill:#555; }
.icon-tag:after { background:none; }
.icon-tag:before {  }
.icon-mark:after { background-position:-112px -16px; opacity:0; }
.icon-mark:before { background-position:-112px 0; }
.icon-disc:after { background-position:0 -16px; opacity:0; }
.icon-disc:before { background-position:0 0; }
.icon-book:after { background-position:-48px -16px; opacity:0; }
.icon-book:before { background-position:-48px 0; }
.icon-text:after { background-position:-80px -16px; opacity:0; }
.icon-text:before { background-position:-80px 0; }
.icon-audio:after { background-position:-16px -16px; opacity:0; }
.icon-audio:before { background-position:-16px 0; }
.icon-video:after { background-position:-32px -16px; opacity:0; }
.icon-video:before { background-position:-32px 0; }
.icon-search:after { background-position:-144px -16px; opacity:0; }
.icon-search:before { background-position:-144px 0px; }
.icon-author:after { background-position:-96px -16px; opacity:0; }
.icon-author:before { background-position:-96px 0; }
.icon-calendar:after { background-position:-64px -16px; opacity:0; }
.icon-calendar:before { background-position:-64px 0; }

[class*="btn-"] [class*="icon-"]:after {}
[class*="btn-"] [class*="icon-"]:before {}

[class*="btn-"]:hover [class*="icon-"]:after {}
[class*="btn-"]:hover [class*="icon-"]:before {}

.btn-grey {
	background:#666;
	color:#f1efeb;
	font-size:18px;
	line-height:22px;
	padding:3px 19px;
	cursor:pointer;
	-webkit-border-radius:4px;
	border-radius:4px;
        border: none;
}
.btn-grey:hover {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.2);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.2);
}

.btn-grey:active {
	-webkit-box-shadow:inset 0px 2px 2px rgba(85,85,85,0.5), 0 1px 0px rgba(255,255,255,0.3);
			box-shadow:inset 0px 2px 2px rgba(85,85,85,0.5), 0 1px 0px rgba(255,255,255,0.3);
}

.btn-1 { color:#ededed; border-bottom:dashed 1px #ededed; text-decoration:none; line-height:1.2em; }
.btn-1:hover { color:#fff; border-color:#fff; }
.btn-1:active { color:#efe6b2; border-color:#efe6b2; }

.btn-green {
	display:inline-block;
	padding:0 8px;
	background:#38bf25;
	color:#fff;
	font-size:14px;
	text-decoration:none;
	white-space:nowrap;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.btn-green:hover {
	color:#fff;
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.2);
	box-shadow:inset 0px 1px 0px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.2);
}
.btn-green:active {
	color:#fff;
	-webkit-box-shadow:inset 0px 2px 2px rgba(85,85,85,0.5), 0 1px 0px rgba(255,255,255,0.3);
	box-shadow:inset 0px 2px 2px rgba(85,85,85,0.5), 0 1px 0px rgba(255,255,255,0.3);
}
.btn-green + .btn-green { margin-top:5px; }
.btn-green:before {
	content:'';
	display:inline-block;
	width:1px;
	margin-right:-2px;
	height:28px;
	vertical-align:middle;
}
.btn-green i,
.btn-green span { display:inline-block; vertical-align:middle; }

.btn-green i {
	width:20px;
	height:20px;
	fill:#fff;
	margin-right:5px;
}

.btn-light {
	background:#f7f3db;
	line-height:22px;
	height:22px;
	color:#555;
	font-weight:normal;
	padding:0 15px;
	-webkit-border-radius:11px;
	border-radius:11px;
}
.btn-light:hover {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
	box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
}
.btn-light:active {
	-webkit-box-shadow:inset 0px 2px 2px rgba(85,85,85,0.2);
	box-shadow:inset 0px 2px 2px rgba(85,85,85,0.2);
}

/* header.main */

header.main { background:#f39c12; }
header.main p { margin-bottom:25px; }

header.main .top { background:#555; padding:11px 0; color:#f7f3db; font-size:14px; }
header.main .top.user-panel { padding:6px 0;}
header.main .buttons a { display:inline-block; vertical-align:middle; line-height:20px; margin:4px 0 4px 4px; }

header.main .buttons a {
	line-height:28px;
	margin-top:0;
	margin-bottom:0;
	padding:0 10px;
	text-decoration:none;
	
	-webkit-border-radius:4px;
	border-radius:4px;
	
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
}

header.main .buttons a.help:hover,
header.main .buttons a.login:hover,
header.main .buttons a.logout:hover {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.2);
	box-shadow:inset 0px 1px 0px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.2);
}

header.main .buttons a.help:active,
header.main .buttons a.login:active,
header.main .buttons a.logout:active {
	-webkit-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.3);
	box-shadow:inset 0px 2px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.3);
}

header.main .buttons a.login,
header.main .buttons a.regist,
header.main .buttons a.logout,
header.main .buttons a.account { color:#828282; white-space:nowrap; position:relative; }

header.main .buttons a.login:after,
header.main .buttons a.logout:after,
header.main .buttons a.account:after,
header.main .buttons a.regist:after {
	content:'';
	display:inline-block;
	position:absolute;
	left:10px;
	right:10px;
	bottom:3px;
	height:1px;
	border-bottom:dashed 1px #828282;
}

header.main .buttons a.login:hover, header.main .buttons a.logout:hover, 
header.main .buttons a.login:active, header.main .buttons a.logout:active { color:#ededed; }

header.main .buttons a.login:hover:after, header.main .buttons a.logout:hover:after,
header.main .buttons a.login:active:after,header.main .buttons a.logout:active:after  { border-color:#ededed; }

header.main .buttons a.regist, header.main .buttons a.account { color:#ededed; text-decoration:none;  }
header.main .buttons a.regist:after, header.main .buttons a.account:after { border-color:#ededed; }
header.main .buttons a.regist:hover, header.main .buttons a.account:hover { color:#fff; }
header.main .buttons a.regist:hover:after, header.main .buttons a.account:hover:after { border-color:#fff; }
header.main .buttons a.regist:active, header.main .buttons a.account:active { color:#efe6b2; }
header.main .buttons a.regist:active:after, header.main .buttons a.account:active:after { border-color:#efe6b2; }

header.main .buttons a.help { color:#ededed; font-size:22px; font-weight:bold; }

header.main .buttons a.active,
header.main .buttons a.active:hover,
header.main .buttons a.active:active { background:#f7f3db; color:#555; }
header.main .buttons a.active:after,
header.main .buttons a.active:hover:after,
header.main .buttons a.active:active:after { border: none 0; }

header.main .buttons a.active:hover {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.2);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.2);
}
header.main .buttons a.active:active {
	-webkit-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.3);
			box-shadow:inset 0px 2px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.3);
}

header.main .buttons > img {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    vertical-align: middle;
}

.login-panel .block .errors, .user-panel .block .errors  {
    color: #FF2700;
    width: 175%;
    margin-bottom: 1em;
}

.login-panel .block input.error, .user-panel .block input.error  {
    border-color: #FF2700;
}

header.main .block,
header.main .step {
	-webkit-transition:height 0.3s;
			transition:height 0.3s;
}

#block-regist .checkboxes-column { padding-top:30px; }
#block-regist .button-column { padding-top: 30px; text-align: right; }

#block-regist .errors {
    height: 69px;
}

#block-regist form { padding:40px 0 30px; }

#block-login .buttons :last-child { margin-top:8px; }
#block-login label { margin-bottom:0px; }

#block-regist .errors {
   text-align: center;
   margin: 15px 0;
}

#block-login .step-1 .row { padding:40px 0 90px; }
#block-login .step-2 .row { padding:90px 0; }

#block-help > .row { padding:40px 0 15px 0; }


header.main .bottom { min-height:262px; position:relative; }
header.main h1 { float:left; margin:40px 0 0 0; }
header.main h1 a { color:#fff; text-decoration:none; }
header.main h1 i { display:block; width:253px; height:115px; fill:#fff; }
header.main h1 span { display:block; margin:-33px 0 0 55px; color:#fff; }

header.main nav { position:absolute; left:0; bottom:-1px; width:100%; text-align:left; }
header.main nav a,
header.main nav > span {
	display:inline-block;
	text-decoration:none;
	position:relative;
}

header.main nav a span,
header.main nav > span span {
	position:relative;
	color:#555;
	font-size:24px;
	line-height:54px;
	display:inline-block;
	padding:0 30px;
	border:solid 1px rgba(0,0,0,0);
	border-bottom:none 0;
	background:rgba(0,0,0,0);
	
	-webkit-border-radius:16px 16px 0 0;
			border-radius:16px 16px 0 0;
	
	-webkit-transition:background 0.3s, color 0.3s;
			transition:background 0.3s, color 0.3s;
}
header.main nav a:after,
header.main nav > span:after,
header.main nav a:before,
header.main nav > span:before {
	content:'';
	display:inline-block;
	position:absolute;
	width:19px;
	height:19px;
	background:#efe6b2;
	bottom:0;
	opacity:0;
	z-index:1;
}
header.main nav:after,
header.main nav .active:after { right:-18px; }
header.main nav a:before,
header.main nav .active:before { left:-18px; }

header.main nav a span:after,
header.main nav > span span:after,
header.main nav a span:before,
header.main nav > span span:before {
	content:'';
	display:inline-block;
	position:absolute;
	width:19px;
	height:19px;
	background:#f39c12;
	bottom:0;
	opacity:0;
	z-index:2;
}
header.main nav a span:after,
header.main nav > span span:after {
	right:-20px;
	border-left:solid 1px #fff;
	border-bottom:solid 1px #fff;
	-webkit-border-radius:0px 0px 0px 19px;
			border-radius:0px 0px 0px 19px;
}
header.main nav a span:before,
header.main nav .active span:before {
	left:-20px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	-webkit-border-radius:0px 0px 19px 0px;
			border-radius:0px 0px 19px 0px;
}

header.main nav a:hover span { color:#323232; }
header.main nav a:active span { font-weight:bold; color:#323232; padding:0 27px 0 27px; }
header.main nav .active span {
	font-weight:bold;
	color:#323232;
	border-color:#fff;
	background:#efe6b2;
}

header.main nav .news:before, header.main nav .news:after {
    background:#BBEFB1;
}
header.main nav .active.news span {
    background:#BBEFB1;
}

header.main nav .active:after,
header.main nav .active:before { opacity:1; }
header.main nav .active span:after,
header.main nav .active span:before { opacity:1; }

header.main .agents { float:right; padding-top:18px; }
header.main .agents figure { float:left; width:190px; text-align:center; color:#fff; margin-left:20px; font-size:14px; line-height:1.4em; }
header.main .agents figure span { display:block; }

/* /header.main */

.filters-container {
	background:#efe6b2;
	border-top:solid 1px #fff;
	border-bottom:solid 1px #fff;
	min-height:1.5em;
}
.news .filters-container {
	background:#BBEFB1;
}
.filters-container .filter { position:relative; }
.filters-container .nav { 
	padding:10px 0;
}

.filters-container .nav a {
	display:block;
	float:left;
	height:28px;
	font-size:18px;
	line-height:20px;
	padding:0px 14px;
	color:#555;
	background:#f7f3db;
	text-decoration:none;
	margin-right:3px;
	
	-webkit-border-radius:4px;
			border-radius:4px;
	
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.filters-container .nav a i { display:block; float:left; margin-top:6px; }
.filters-container .nav a span { display:block; float:left; margin-top:4px; }
.filters-container .nav a i + span { margin-left:15px; }
.filters-container .nav a:hover {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
}
.filters-container .nav a:active {
	-webkit-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.3);
			box-shadow:inset 0px 2px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.3);
}
.filters-container .nav a.active { background:#555; color:#f7f3db; }
.filters-container .nav a.active:hover {
	background:#555;
	color:#f7f3db;
	
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
}
.filters-container .nav a.active:active {
	background:#555;
	color:#f7f3db;
}

.filters-container .nav a:last-child { margin-right:0; }

.filters-container .icon {
	margin:0 -7px;
	fill:#555555;
	width:16px;
	height:16px;
	display:block;
	float:left;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.filters-container .nav .active .icon {
	fill:#f7f3db;
}

.filters-container .nav .active [class*="icon-"]:after { opacity:0; }
.filters-container .nav .active [class*="icon-"]:before { opacity:1; }
.filters-container .filter-list .icon { fill:#efe6b2; margin:0 -4px; }
.filters-container .filter-list a.tag,
.filters-container .filter-list a.add {
	text-decoration:none;
	overflow:hidden;
	display:block;
	float:left;
	margin:0 4px 4px 0;
	padding:0 16px 0 8px;
	font-size:14px;
	line-height:16px;
	height:28px;
	color:#555;
	background:#e3daa3;
	vertical-align:middle;
	position:relative;
	-webkit-border-radius:4px;
			border-radius:4px;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}

.filters-container .filter-list a.tag i,
.filters-container .filter-list a.add i {
	display:block;
	float:left;
	margin-top:6px;
	margin-left:0;
}
.filters-container .filter-list a.tag span,
.filters-container .filter-list a.add span {
	display:block;
	float:left;
	margin:6px 0 0 15px;
}
.filters-container .filter-list a.tag b {
	position:relative;
	display:block;
	float:left;
	vertical-align:middle;
	width:12px;
	height:12px;
	margin:8px -6px 0 8px;
}
.filters-container .filter-list a.tag b:after,
.filters-container .filter-list a.tag b:before {
	content:'';
	display:inline-block;
	width:100%;
	height:2px;
	background:#555;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-1px;
}
.filters-container .filter-list a.tag b:after {
	-webkit-transform:rotate(45deg);
			transform:rotate(45deg);
}
.filters-container .filter-list a.tag b:before {
	-webkit-transform:rotate(-45deg);
			transform:rotate(-45deg);
}

.filters-container .filter-list a.tag b:hover:after,
.filters-container .filter-list a.tag b:hover:before { background:#f00; }

.filters-container .filter-list a.tag b:active:after,
.filters-container .filter-list a.tag b:active:before { background:#fff; }

.filters-container .filter-list a.tag:hover,
.filters-container .filter-list a.add:hover {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
}
.filters-container .filter-list a.tag:hover .icon { fill:#555; }

.filters-container .filter-list a.tag:active,
.filters-container .filter-list a.add:active {
	color:#fff;
	background:#f00;
	-webkit-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.3);
			box-shadow:inset 0px 2px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.3)
}
.filters-container .filter-list a.tag:active .icon,
.filters-container .filter-list a.add:active .icon { fill:#f7f3db; }

.filters-container .filter-list a.tag:active b:after,
.filters-container .filter-list a.tag:active b:before,
.filters-container .filter-list a.add:active b:after,
.filters-container .filter-list a.add:active b:before { background:#fff; }


.filters-container .filter-list a.add .icon { fill:#555; margin:6px -3px 0; }
.filters-container .filter-list a.add:after {
	content:'+';
	line-height:0;
	font-size:10px;
	display:block;
	position:absolute;
	right:2px;
	top:5px;
}

.filters-container .filter-list a.add.active {
	background:#555;
	color:#f7f3db;
	-webkit-border-radius:4px 4px 0 0;
			border-radius:4px 4px 0 0;
}
.filters-container .filter-list a.add.active .icon { fill:#f7f3db; }

.filters-container .filter-list a.add { margin-right:32px; padding:0 12px; }
.filters-container .filter-list a.add + a.close { margin-left:-28px; }
.filters-container .filter-list a.add:active { background:#e3daa3; }
.filters-container .filter-list a.close {
	display:block;
	float:left;
	background:none;
	padding:0;
	width:16px;
	height:16px;
	margin:4px 0 0 6px;
	position:relative;
	border:solid 2px #f00;
	-webkit-border-radius:50%;
			border-radius:50%;
	-webkit-transition:background 0.3s;
			transition:background 0.3s;
}
.filters-container .filter-list .close:after,
.filters-container .filter-list .close:before {
	content:'';
	display:inline-block;
	width:12px;
	height:2px;
	background:#f00;
	position:absolute;
	left:2px;
	top:7px;
	-webkit-transition:background 0.3s, -webkit-box-shadow 0.3s;
			transition:background 0.3s, box-shadow 0.3s;
}
.filters-container .filter-list .close:after {
	-webkit-transform:rotate(45deg);
			transform:rotate(45deg);
}
.filters-container .filter-list .close:before {
	-webkit-transform:rotate(-45deg);
			transform:rotate(-45deg);
}

.filters-container .filter-list .close:hover {
	border-width:0;
	width:20px;
	height:20px;
	background:#f00;
	
	-webkit-box-shadow:inset 0px -1px 0px #9b3923, 0 -1px 2px #fff;
			box-shadow:inset 0px -1px 0px #9b3923, 0 -1px 2px #fff;
}
.filters-container .filter-list .close:hover:after,
.filters-container .filter-list .close:hover:before {
	background-color:#efe6b2;
	left:4px;
	top:9px;
}

.filters-container .filter-list .close:active {
	-webkit-box-shadow:inset 0px 2px 2px rgba(85,85,85,0.4), 0 1px 2px #fff;
			box-shadow:inset 0px 2px 2px rgba(85,85,85,0.4), 0 1px 2px #fff;
}
.filters-container .filter-list .close:active:after,
.filters-container .filter-list .close:active:before {
	background-color:#efe6b2;
	left:4px;
	top:9px;
}
.filters-container .add-filter-list {
	background:#555;
	position:absolute;
	width:100%;
	z-index:-1;
	opacity:0;
	margin-top:-8px;
	height:0;
	overflow:hidden;
	
	-webkit-border-radius:4px;
			border-radius:4px;
			
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.4);
			box-shadow:0 1px 2px rgba(0,0,0,.4);
	
	-webkit-transition:opacity 0.3s;
			transition:opacity 0.3s;
}
.filters-container .add-filter-list.remove-ltr {
	-webkit-border-radius:0 4px 4px 4px;
			border-radius:0 4px 4px 4px;
}
.filters-container .add-filter-list .search,
.filters-container .add-filter-list .scroll { margin:10px; }
.filters-container .add-filter-list.show { z-index:5; opacity:1; height:auto; }
.filters-container .filter-list .filter { padding-bottom:4px; }
.filters-container .filter-list ul { overflow:hidden; }
.filters-container .filter-list ul li { float:left; padding:0 10px 0 0; overflow:hidden; }
.filters-container .filter-list ul li:last-child {  }
.filters-container .filter-list ul li a.tag { clear:left; margin:0 0 10px 0; }
.filters-container .filter-list a.tag.hide,
.filters-container .filter-list a.tag.selected { display:none; }
.filters-container .filter-list a.active { }

.filters-container .filter-list .filter-search .icon { margin:0; }
.filters-container .filter-list .filter-search .search { float:none; overflow:hidden; }
.filters-container .filter-list .filter-search .close { float:right; }

.filters-container .filter-list .filter-date { margin-bottom:4px; }
.filters-container .filter-list .filter-date .close { float:right; }
.filters-container .filter-list .filter-date .filter-c {
	margin-right:25px;
	position:relative;
	background:#f7f3db;
	height:28px;
	overflow:hidden;
	-webkit-border-radius:14px;
			border-radius:14px;
}
.filters-container .filter-list .filter-date .filter-c:hover {
	-webkit-box-shadow:inset 0px 1px 0px #fff, 0 2px 2px rgba(0,0,0,.2);
			box-shadow:inset 0px 1px 0px #fff, 0 2px 2px rgba(0,0,0,.2);
}
.filters-container .filter-list .filter-date .filter-c:active {
	-webkit-box-shadow:inset 0px 2px 2px rgba(85,85,85,0.4), 0 1px 2px #fff;
			box-shadow:inset 0px 2px 2px rgba(85,85,85,0.4), 0 1px 2px #fff;
}
.filters-container .filter-list .filter-date .filter-c:hover .icon,
.filters-container .filter-list .filter-date .filter-c:active .icon { fill:#555; }
.filters-container .filter-list .filter-date .ui-slider { position:relative; height:28px; }
.filters-container .filter-list .filter-date .ui-slider:before {
	content:'';
	display:block;
	position:absolute;
	left:-42px;
	right:-42px;
	top:50%;
	height:2px;
	background:#f7f3db;
}
.filters-container .filter-list .filter-date .slider { margin:0 57px 0 87px; }
.filters-container .filter-list .filter-date .ui-slider .ui-slider-range {
	height:2px;
	top:14px;
	background:#555;
}
.filters-container .filter-list .filter-date .ui-slider .ui-slider-handle {
	background:#555;
	height:22px;
	line-height:22px;
	width:52px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	margin-top:3px;
	margin-left:-52px;
	top:0;
	-webkit-border-radius:11px;
			border-radius:11px;
}
.filters-container .filter-list .filter-date .ui-slider .ui-slider-handle:nth-of-type(2) { margin-left:0; margin-right:-52px; }

.filters-container .filter-list .filter-date .w {
	position:relative;
	left:0;
	-webkit-transition:left 0.3s;
			transition:left 0.3s;
}
.filters-container .filter-list .filter-date .r,
.filters-container .filter-list .filter-date .l {
	width:80%;
	background:#e3daa3;
	height:28px;
	float:left;
	-webkit-border-radius:14px;
			border-radius:14px;
}
.filters-container .filter-list .filter-date .m {
	width:20%;
	float:left;
	height:28px;
	line-height:28px;
	text-align:center;
	cursor:pointer;
}
.filters-container .filter-list .filter-date .icon { margin:6px 0 0 10px; }

.filters-container .filter-list .filter-date .r { text-align:center; padding-top:3px; height:25px; }
.filters-container .filter-list .filter-date .r input { display:inline-block; vertical-align:middle; width:114px; height:22px; }
.filters-container .filter-list .filter-date .r span { display:inline-block; vertical-align:middle; font-weight:bold; color:#555; margin-right:4px; }
.filters-container .filter-list .filter-date .r span.btn-light { font-weight:normal; }
.filters-container .filter-list .filter-date .r input + span { margin-left:60px; }
.filters-container .filter-list .filter-date .r i { margin-top:2px; }

.filters-container .mCSB_scrollTools { opacity:1; }
.filters-container .mCSB_scrollTools.mCSB_scrollTools_horizontal { height:15px; }
.filters-container .mCSB_scrollTools .mCSB_draggerContainer .mCSB_draggerRail {
	background:#817676;
	margin:0;
	height:15px;
	-webkit-border-radius:7px;
			border-radius:7px;
}
.filters-container .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	height:11px;
	margin:2px;
	width:auto;
	background:#555;
	text-align:center;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.filters-container .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar:hover {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.4), 0 1px 2px rgba(0,0,0,.4);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.4), 0 1px 2px rgba(0,0,0,.4);
}
.filters-container .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background:#323232;
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.4), 0 1px 2px rgba(0,0,0,.4);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.4), 0 1px 2px rgba(0,0,0,.4);
}
.filters-container .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar:after,
.filters-container .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar:before {
	content:'';
	display:inline-block;
	height:7px;
	margin-top:2px;
	width:1px;
	vertical-align:top;
}

.filters-container .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar:after { border-left:solid 1px #817676; margin-left:1px; }
.filters-container .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar:before { border-left:solid 1px #817676; border-right:solid 1px #817676; }

.filters-container .sort { text-align:center; position:relative; padding-top:2px; }

.filters-container .sort .order,
.filters-container .sort .order a { position:relative; }
.filters-container .sort .order a { z-index:2; }

.filters-container .sort .order-1 {
	position:absolute;
	right:0;
	top:12px;
	background:#f7f3db;
	height:16px;
	-webkit-border-radius:8px;
			border-radius:8px;
}
.filters-container .sort .order-1 a {
	display:block;
	float:left;
	width:34px;
	height:16px;
	position:relative;
}
.filters-container .sort .order-1 a:before {
	content:'';
	display:block;
	position:absolute;
	left:13px;
	top:2px;
	width:7px;
	height:7px;
	border-left:solid 1px #555;
	border-bottom:solid 1px #555;
	
	-webkit-transform:rotate(-45deg);
			transform:rotate(-45deg);
}
.filters-container .sort .order-1 a:first-child:before {
	top:6px;
	-webkit-transform:rotate(135deg);
			transform:rotate(135deg);
}
.filters-container .sort .order-1 .active-bg {
	display:block;
	position:absolute;
	top:0;
	background:#e3daa3;
	height:16px;
	-webkit-border-radius:8px;
			border-radius:8px;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}

.filters-container .sort .order-2 a { display:inline-block; height:31px; color:#323232; text-decoration:none; padding:0 25px; margin:0 5px; }
.filters-container .sort .order-2 a:before {
	content:'';
	display:inline-block;
	height:31px;
	width:1px;
	margin-right:-1px;
	vertical-align:middle;
}
.filters-container .sort .order-2 a span,
.filters-container .sort .order-2 a .icon { display:inline-block; vertical-align:middle; float:none; }

.filters-container .sort .order-2 .active-bg {
	display:block;
	position:absolute;
	left:0;
	top:0;
	background:#f1efeb;
	border:solid 1px #fff;
	border-bottom:none 0;
	height:31px;
	min-width:50px;
	
	-webkit-border-radius:8px 8px 0 0;
			border-radius:8px 8px 0 0;
	
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.filters-container .sort .order-2 .active-bg:after,
.filters-container .sort .order-2 .active-bg:before,
.filters-container .sort .order-2 .active-bg span:after,
.filters-container .sort .order-2 .active-bg span:before {
	content:'';
	display:block;
	width:8px;
	height:8px;
	background:#f1efeb;
	position:absolute;
	bottom:0;
}
.filters-container .sort .order-2 .active-bg:after { right:-7px; }
.filters-container .sort .order-2 .active-bg:before { left:-7px; }

.filters-container .sort .order-2 .active-bg span {
	display:block;
}
.filters-container .sort .order-2 .active-bg span:after,
.filters-container .sort .order-2 .active-bg span:before {
	background:#efe6b2;
	z-index:2;
	border-bottom: solid 1px #fff;
}
.filters-container .sort .order-2 .active-bg span:after {
	right:-9px;
	border-left: solid 1px #fff;
	-webkit-border-radius:0 0 0 8px;
			border-radius:0 0 0 8px;
}
.filters-container .sort .order-2 .active-bg span:before {
	left:-9px;
	border-right: solid 1px #fff;
	-webkit-border-radius:0 0 8px 0;
			border-radius:0 0 8px 0;
	
}

.filters-container .sort .order-2 .icon {
	padding:2px;
	margin:0;
	width:16px;
	height:16px;
	border:solid 1px #555;
	-webkit-border-radius:50%;
			border-radius:50%;
}

.content .no-items {
  color: #555;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
  margin: 2em auto;
}

footer.main {
	background:#555;
	padding:25px 0;
	color:#f1efeb;
}
footer.main .row + .row { margin-top:25px; }

footer.main .links a {
	display:block;
	float:left;
	clear:left;
	text-decoration:underline;
	color:#f1efeb;
	font-size:14px;
	line-height:18px;
}
footer.main .links a:hover { color:#5080c8; }
footer.main .links li { float:left; width:33.33%; }

.logos { margin:10px 0; }
.logos a { display:inline-block; vertical-align:middle; fill:#555; }
.content.main .logos { text-align:center; }
.content.main .logos a { margin:5px; }
.tabs .logos a,
footer.main .logos a { fill:#f1efeb; }
.logos a + a { margin-left:25px; }
.logos a.logo-1 { width:58px; height:58px; }
.logos a.logo-2 { width:55px; height:51px; }
.logos a.logo-3 { width:49px; height:49px; }
.logos a.logo-4 { width:20px; height:51px; }

.ui-datepicker {
	background:#f7f3db;
	z-index:5 !important;
	width:12em;
	-webkit-border-radius:4px;
			border-radius:4px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.4);
			box-shadow:0 1px 2px rgba(0,0,0,.4);
	
}
.ui-datepicker table { font-size:14px; }
.ui-datepicker th {
	padding:0;
	text-align:center;
}
.ui-datepicker th,
.ui-datepicker td { padding:2px; color:#555; }
.ui-datepicker td span,
.ui-datepicker td a {
	display:block;
	padding:0;
	height:16px;
	border:solid 1px transparent;
	color:#555;
	text-align:center;
	line-height:16px;
	font-size:14px;
}

.ui-datepicker td span { opacity:0.6; }

.ui-datepicker td a:hover {
	border-color:#555;
}
.ui-datepicker td a:active {
	border-color:#555;
	background:#fff;
}
.ui-datepicker .ui-datepicker-title { margin:0 0.3em; }
.ui-datepicker a.ui-state-highlight {
	font-weight:bold;
}
.ui-datepicker a.ui-state-active {
	background:#555;
	border-color:#555;
	color:#fff;
	font-weight:normal;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next { display:none; }
.ui-datepicker select.ui-datepicker-month  { width:55%; }
.ui-datepicker select.ui-datepicker-year { width:35%; }
.ui-datepicker select.ui-datepicker-year { margin-left:5%; }

.post {
	padding:30px 0 10px;
	border-bottom:solid 1px #d1d1d1;
}

.post .post {
  padding: 0;
  border-bottom: none;
}
.post h2 {
	color:#555;
	margin-bottom:20px;
	font-size:24px;
	font-weight:normal;
}
.post footer {
	overflow:hidden;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
        clear: both;
}
.post h2 a { color:inherit; }
.post h2 a:hover { color:#5080c8; }
.post .disc { float:right; width:208px; text-align:right; }
.post .disc .title {
	overflow:hidden;
	font-size:14px;
	line-height:18px;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.post .disc .title a { text-decoration:none; display:inline-block; }
.post .disc .title i {
	display:inline-block;
	vertical-align:middle;
	width:16px;
	height:16px;
	fill:#d1d1d1;
}
.post .disc .title span {
	display:inline-block;
	width:150px;
	vertical-align:middle;
	margin-left:12px;
	color:#555;
	text-decoration:underline;
	text-align:center;
}
.post .disc .title a:hover span { color:#5080c8; }
.post .disc .images {
	text-align:center;
	overflow:hidden;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.post .disc .images a.cd { display:inline-block; color:#555; font-size:14px; margin-bottom:35px; }
.post .disc .images a.cd + a.btn-green { margin-top:5px; }
.post .disc .images a.cd span { display:block; }
.post .disc .images a.cd:hover { color:#5080c8; }

.post .nav { float:right; margin-left:10px; }
.post.text .nav { float:none; margin-left:0; overflow:hidden; margin-bottom:15px; }
.post .nav li {
	float:left;
	font-size:14px;
	padding:0px;
	background:#fff;
	-webkit-border-radius:3px;
			border-radius:3px;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.post .nav li + li { margin-left:2px; }
.post .nav li:before {}

.post .nav li i {
	display:inline-block;
	width:20px;
	height:20px;
	vertical-align:middle;
	fill:#555;
}
.post .nav li i.eye,
.post .nav li i.audio {
	border:none 0;
	width:16px;
	height:16px;
	-webkit-border-radius:0%;
			border-radius:0%;
}
.post .nav li i.eye svg {}
.post .nav li span {
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
	color:#555;
}
.post .nav li.exit {
	position:relative;
}
.post .nav li.exit:after,
.post .nav li.exit:before {
	content:'';
	display:block;
	position:absolute;
	right:5px;
	top:6px;
	z-index:2;
}
.post .nav li.exit:after {
	width:4px;
	height:4px;
	border-right:solid 1px #555;
	border-top:solid 1px #555;
}
.post .nav li.exit:before {
	right:5px;
	top:8px;
	width:5px;
	height:1px;
	background:#555;
	-webkit-transform:rotate(-45deg);
			transform:rotate(-45deg);
}
.post .nav li:hover {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,.2);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,.2);	
}
.post .nav li:active {
	-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,.2), 0px 1px 0px rgba(255,255,255,0.3);
			box-shadow:inset 0 2px 2px rgba(0,0,0,.2), 0px 1px 0px rgba(255,255,255,0.3);
}

.post .nav li.active { background:#555; }
.post .nav li.active i { fill:#fff; border-color:#fff; }
.post .nav li.active span { color:#fff; }

.post .nav li.active:hover {
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,.2);
			box-shadow:0 2px 2px rgba(0,0,0,.2);	
}

.post .nav li a { display:block; text-decoration:none; font-size:14px; padding:0 8px; }
.post .nav li a:before {
	content:'';
	display:inline-block;
	vertical-align:middle;
	width:1px;
	height:28px;
	margin-right:-1px;
}

.audiojs {
	font-family:"HelveticaNeue";
	margin-bottom:20px;
	width:auto;
	height:28px;
	background:#fff;
	-webkit-border-radius:14px;
			border-radius:14px;
	-webkit-box-shadow:none;
			box-shadow:none;
}
.audiojs .scrubber { float:none; background:none; width:auto; height:22px; margin:3px 0 0 0; border:none 0; padding:0 1px; }
.audiojs .loaded { background:#d1d1d1; height:2px; top:10px; }
.audiojs .progress { background:#757474; height:2px; top:10px; }
.audiojs .progress:after {
	content:'';
	display:block;
	position:absolute;
	width:1px;
	height:22px;
	top:-10px;
	right:-1px;
	background:#555;
}
.audiojs .time { float:right; height:28px; line-height:28px; color:#555; text-shadow:none; border:none 0; margin:0; padding:0 8px; }
.audiojs .time.t1 { float:left; padding-left:0; }
.audiojs .time.t2 { padding-right:15px; }
.audiojs .time .played { color:#555; }
.audiojs .play-pause {
	height:28px;
	width:50px;
	padding:0;
	border:none 0;
}
.audiojs p { height:28px; width:auto; position:relative; background:none; }
.audiojs .play {  }
.audiojs .play:before,
.audiojs .pause:before {
	content:'';
	display:block;
	border-left:solid 14px #555;
	border-top:solid 7px transparent;
	border-bottom:solid 7px transparent;
	position:absolute;
	left:50%;
	top:50%;
	margin:-7px 0 0 -7px;
}
/*.audiojs .pause { text-align:center;}
.audiojs .pause:after,
.audiojs .pause:before {
	content:'';
	display:inline-block;
	font-size:0;
	line-height:0;
	width:3px;
	height:14px;
	background:#555;
	margin-top:6px;
}

.audiojs .pause:after { margin-left:4px; }*/

.audiojs:hover .loaded,
.audiojs:hover .progress { height:4px; top:9px; }
.audiojs:hover .progress:after { top:-9px; }

.audiojs.playing { background:#555; }
.audiojs.playing .play:before { border-left-color:#94c11c; }
.audiojs.playing .pause:before {  border-left-color:#94c11c; }
.audiojs.playing .loaded { background:#757474; }
.audiojs.playing .progress { background:#94c11c; }
.audiojs.playing .progress:after { background:#fff; }
.audiojs.playing .time,
.audiojs.playing .time .played { color:#fff; }
.post  iframe { margin-bottom:15px; }

.post .info-content,
.post .text-content {
	overflow:hidden;
	font-size:14px;
	line-height:18px;
	color:#555;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}

.post .info-content .indent { padding:0px 0 20px; }
.post .text-content .indent { padding:18px; margin-bottom:20px; border:solid 1px #e1e0e0; background:#fff; }

.tags { font-size:14px; margin-bottom:15px; }
.column .tags { margin-top:15px; }
.tags i,
.tags a,
.tags span,
.tags a:before { display:inline-block; vertical-align:middle }
.tags a {
	background:#e1e0e0;
	color:#555;
	padding:0 8px;
	white-space:nowrap;
	-webkit-border-radius:3px;
			border-radius:3px;
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0), 0 1px 2px rgba(0,0,0,0);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0), 0 1px 2px rgba(0,0,0,0);
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.tags a:hover {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,.2);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,.2);	
}
.tags a:active {
	-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,.2), 0px 1px 0px rgba(255,255,255,0.3);
			box-shadow:inset 0 2px 2px rgba(0,0,0,.2), 0px 1px 0px rgba(255,255,255,0.3);
}
.tags a:before {
	content:'';
	height:28px;
	width:1px;
	margin-right:-2px;
}

.tags > * {
    margin-top: 0.3em;
}

.tags i { width:16px; height:16px; fill:#555; margin-right:8px; }
.tags i + a { margin-left:17px; }
.tags .date { margin-right:17px; margin-left: 8px;}

.tabs { position:relative; border-bottom:solid 1px #d1d1d1; }
.tabs header { padding:48px 0; }
.tabs header:after {
	content:'';
	display:table;
	clear:both;
}
.tabs header a { display:block; float:left; width:20%; height:230px; text-align:center; text-decoration:none; font-size:14px; line-height:18px; color:#555; }
.tabs header a span { 
    display:block;
    text-decoration:underline;
    padding-top:8px;
    margin:0 20px;    
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabs header a span.default-image-label {
    text-decoration: none;
    color: rgb(160, 142, 118);
    display: block;
    position: absolute;
    width: 137px;
    top: 55px;
    margin-left: 34px;
    overflow: hidden;
    font-size: 91%;
}
.tabs header a:hover { color:#5080c8; }
.tabs .tab {
	overflow:hidden;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.tabs .content { background:#555; color:#fff; font-size:14px; line-height:18px; position:relative; }
.tabs .content a { color:inherit; }
.tabs .content a:hover { color:#5080c8; }
.tabs .content h2 { font-weight:normal; margin-top:25px; width: 80% }

.tabs .arrow {
	display:none;
	position:absolute;
	top:-26px;
	left:20px;
	border-bottom:solid 26px #555;
	border-left:solid 35px transparent;
	border-right:solid 35px transparent;
	
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}
.tabs .tags { padding-top:30px; }
.tabs .tags > i,
.tabs .tags .date i { fill:#fff; }
.tabs .tags a { color:#555; }
.tabs .socials { margin-bottom:15px; }

.tabs .close-c { position:relative; }
.tabs .close-c a {
	display:block;
	position:absolute;
	right:-10px;
	top:25px;
	width:20px;
	height:20px;
	
	border:solid 2px #f00;
	
	-webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,0), 0px 0px 0px rgba(255,255,255,0);
			box-shadow:inset 0 0px 0px rgba(0,0,0,0), 0px 0px 0px rgba(255,255,255,0);
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	
	-webkit-border-radius:50%;
			border-radius:50%;
	
	-webkit-transition:background 0.3s linear, -webkit-box-shadow 0.3s linear;
			transition:background 0.3s linear, box-shadow 0.3s linear;
}
.tabs .close-c a:after,
.tabs .close-c a:before {
	content:'';
	display:block;
	width:12px;
	height:2px;
	background:#f00;
	position:absolute;
	top:50%;
	left:2px;
	margin-top:-1px;
	-webkit-transition:background 0.3s linear, -webkit-box-shadow 0.3s linear;
			transition:background 0.3s linear, box-shadow 0.3s linear;
}
.tabs .close-c a:before {
	-webkit-transform:rotate(-45deg);
			transform:rotate(-45deg);
}
.tabs .close-c a:after {
	-webkit-transform:rotate(45deg);
			transform:rotate(45deg);
}
.tabs .close-c a:hover {
	background:#f00;
	border:none 0;
	
	-webkit-box-shadow:inset 0 -1px 0px rgba(155,57,35,1), 0px -1px 2px 0 rgba(255,255,255,0.3);
			box-shadow:inset 0 -1px 0px rgba(155,57,35,1), 0px -1px 2px 0 rgba(255,255,255,0.3);
}
.tabs .close-c a:hover:after,
.tabs .close-c a:hover:before {
	background:#fff;
	left:4px;
	-webkit-box-shadow:0 -1px 0px rgba(155,57,35,1);
			box-shadow:0 -1px 0px rgba(155,57,35,1);
}
.tabs .close-c a:active {
	background:#d72d0e;
	border:none 0;
	
	-webkit-box-shadow:inset 0 2px 2px rgba(85,85,85,.4), 0px 1px 0px rgba(255,255,255,.7);
			box-shadow:inset 0 2px 2px rgba(85,85,85,.4), 0px 1px 0px rgba(255,255,255,.7);
}
.tabs .close-c a:active:after,
.tabs .close-c a:active:before {
	background:#fff;
	left:4px;
	-webkit-box-shadow:0 -1px 0px rgba(155,57,35,1);
			box-shadow:0 -1px 0px rgba(155,57,35,1);
}
.tabs .slider-images { margin:33px 0 0px 0; } 
.tabs .logos { margin-top:10px; }

.slider-images .p { text-align:center; }
.slider-images .p li {
	display:inline-block;
	padding:0;
	width:8px;
	height:8px;
	border:solid 1px #555;
	margin:0 1px;
	line-height:0;
	font-size:0;
	background-image:none;
	background-color:transparent;
	vertical-align:middle;
	cursor:pointer;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	
	-webkit-border-radius:50%;
			border-radius:50%;
	
	-webkit-transition:background 0.3s linear;
			transition:background 0.3s linear;
}
.slider-images .p li:hover,
.slider-images .p li.active {
	background-color:#555;
	border:none;
	width:6px;
	height:6px;
	margin:0px 2px 0;
}

.tabs .slider-images .p li { border-color:#fff; }
.tabs .slider-images .p li:hover,
.tabs .slider-images .p li.active { background-color:#fff; }

.list-els { padding:25px 0; }
.list-els ul { margin:0 -10px; }
.list-els ul:after {
	content:'';
	display:table;
	clear:both;
}
.list-els ul li {
	float:left;
	width:20%;
	padding:0 10px;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}
.list-els .hover {
	display:block;
	height:181px;
	border:solid 3px transparent;
	
	-webkit-border-radius:3px;
			border-radius:3px;
	
	-webkit-transition:all 0.3s linear;
			transition:all 0.3s linear;
}
.list-els .hover:hover { border-color:#5080c8; }
.list-els .hover:active { border-color:#95b5e6; }


.list-els .el { background:#fff; padding:10px; color:#555; fill:#555; font-size:14px; line-height:16px; }
.list-els .el.hover { height:161px; }
.list-els .el a { color:inherit; }
.list-els .el i,
.list-els .el span { display:inline-block; vertical-align:middle; }

.list-els .el h4 {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 16px;
    max-height: 4em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-els .el i { width:16px; height:16px; }

.list-els .el .o-1,
.list-els .el .o-2 { position:relative; padding-left:24px; padding-right:20px; }

.list-els .el .o-1 i,
.list-els .el .o-2 i { position:absolute; left:0; top:0; }

.list-els .el .o-3 { float:left; }
.list-els .el .o-3 i { margin-right:8px; }
.list-els .el .o-4 { overflow:hidden; text-align:right; }

.list-els .disc { color:#555; text-align:center; font-size:14px; }
.list-els .disc:hover { color:#447bc6; }
.list-els .disc:active { color:#447bc6; }
.list-els .disc strong { display:block; padding:0 20px; }

.pagination { padding:30px 0; }
.pagination:after {
	content:'';
	display:table;
	clear:both;
}
.pagination > a,
.pagination > span {
	display:block;
	float:left;
	margin-right:3px;
	line-height:28px;
}
.pagination > a,
.pagination > span.active {
	background:#fff;
	min-width:28px;
	text-align:center;
	text-decoration:none;
	color:#555;
	
	-webkit-border-radius:3px;
			border-radius:3px;
}
.pagination > span.active { background:#555; color:#fff; }
.pagination > a span { display:block; padding:0 5px; }

.pagination > a.left span,
.pagination > a.left span,
.pagination > a.right span,
.pagination > a.right span { height:28px; position:relative; overflow:hidden; }

.pagination > a.left span:after,
.pagination > a.left span:before,
.pagination > a.right span:after,
.pagination > a.right span:before {
	content:'';
	display:block;
}

.pagination > a.left span:after {
	width:18px;
	height:1px;
	background:#555;
	margin-top:14px;
}
.pagination > a.left span:before {
	width:6px;
	height:6px;
	border-left:solid 1px #555;
	border-top:solid 1px #555;
	position:absolute;
	top:50%;
	left:5px;
	margin-top:-3px;
	
	-webkit-transform:rotate(-45deg);
			transform:rotate(-45deg);
}

.pagination > a.right span:before {
	width:18px;
	height:1px;
	background:#555;
	margin-top:14px;
}
.pagination > a.right span:after {
	width:6px;
	height:6px;
	border-left:solid 1px #555;
	border-top:solid 1px #555;
	position:absolute;
	top:50%;
	right:5px;
	margin-top:-3px;
	
	-webkit-transform:rotate(130deg);
			transform:rotate(130deg);
}

.pagination > a:hover {
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,.2);
			box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,.2);	
}
.pagination > a:active {
	-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,.2), 0px 1px 0px rgba(255,255,255,0.3);
			box-shadow:inset 0 2px 2px rgba(0,0,0,.2), 0px 1px 0px rgba(255,255,255,0.3);
}

.sidebar { padding-bottom:30px; }
.sidebar .btn-green { margin-top:15px; }
.sidebar .logos {}
.sidebar h6 { margin-top:15px; }

.post .post .sidebar {
  float: right;
  margin-top: -2.75em;
  padding-bottom: 0;
}

.post .post .o-h {
      padding-left: 0px;
}

.post .objects {
  min-height: 28px;
  padding-bottom: 1em;
}

.post .objects a {
  display: block;
  float: left;
  height: 28px;
  font-size: 18px;
  line-height: 20px;
  padding: 0px 14px;
  color: #555;
  background: #f7f3db;
  text-decoration: none;
  margin-right: 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.post .objects a:hover {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
}

.post .objects a .icon {
  margin: 4px 6px 0 0;
  fill: #555555;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.post .objects a span {
  line-height: 24px;
}


.collection ol, .subcollections-list {
	margin-top: 3em;
}

.collection ol li {
	margin-left: 20px;
}

.subcollections-list > li > i {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	fill: #555;
}

.catalogue .subcollections-list > li > i {
	fill: #FFF;
}

.subcollections-list > li > span {
        margin-left: 0.5em;
	font-size: 115%;
}

.subcollections-list ol {
	margin-top: 0.5em;
}

.subcollections-list ol li {
	margin-left: 48px;
}

/* Studio */
.studio .content .header {
    background: #efe6b2;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    min-height: 1.5em;
}

.studio .content header {
    padding-top: 23px;
}

.studio .content header h3 {
    font-size: 26px;
    font-weight: bold;
    margin: 38px 0 44px 0;
}

.content header .subnav a, .studio .service li a, .page-pranama header h3 a {
    display: inline-block;
    text-decoration: none;
    background: #F7F3DB;
    color: #555555;
    padding: 0 0.5em;
    line-height: 26px;
    font-size: 111%;
    font-weight: 400;
    margin-right: 1.5em;
    
    -webkit-border-radius:4px;
    border-radius:4px;

    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}

.content header .subnav a .icon, .studio .service li a .icon, .page-pranama header h3 a .icon {
    height: 20px;
    width: 17px;
    display: inline-block;
    vertical-align: text-top;
    fill: #555555;
    margin-right: 0.5em;
}

.content header .subnav a .icon.stroke, .page-pranama header h3 a .icon.stroke {
    stroke: #555555;
}

.content header .subnav a:hover, .studio .service li a:hover, .page-pranama header h3 a:hover {
    color: #555555;
    -webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
    box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.2);
}
.content header .subnav a.active, .page-pranama header h3 a.active { 
    background:#555; 
    color:#f7f3db; 
}
.content header .subnav a.active .icon, .page-pranama header h3 a.active .icon { 
    fill:#f7f3db; 
}
.content header .subnav a.active .icon.stroke, .page-pranama header h3 a.active .icon.stroke {
    stroke: #f7f3db;
}

.studio .service li a {
    margin-top: 23px;
    font-size: 100%;
}

.studio .post {
    border-bottom: none;
}

.studio .post h1, .post.page .o-h h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 72px;
    margin-bottom: 20px;

}

.studio .post .members {
    margin-top: 68px;
    margin-top: 48px;
    display: inline-block;
}

.studio .post .members li{
    width: 240px;
    height: 276px;
    float: left;
}
.studio .post .members li .header1 {font-size: 20px; line-height: 24px; margin-top: 10px}
.studio .post .members li .header2 {font-size: 16px; line-height: 22px}
.studio .post .members li a {margin-top:15px; display: block;}
.studio .post .members li img {height: 128px; width: 128px}
.studio .post h2 {font-size: 26px; font-weight: bold; margin-top: 20px}

.studio .post .members .photo {
    height: 128px;
    width: 128px;
    background-repeat: no-repeat;
    background-image: url(/content/avatars/default-profile.png);
    background-size: 128px;
    -moz-border-radius: 64px; /* Firefox */
    -webkit-border-radius: 64px; /* Safari, Chrome */
    -khtml-border-radius: 64px; /* KHTML */
    border-radius: 64px; /* CSS3 */
    behavior: url(border-radius.htc); /*IE */
}

.studio #filial #map + .o-h { margin-top: 1em; }

.studio .post .jobs li, .studio .post .donations li {margin: 46px 0}

.studio .post .jobs li > div {width: 80%}
.studio .post .jobs li > div, .studio .post .donations li > div {height: 234px;}
.studio .post .jobs li > div > p { height: 80px; }
.studio .post .jobs li a {bottom: 37px;}
.studio .post .jobs img, .studio .post .donations img {margin-right: 50px}

.studio .post .donations li p{
    margin-bottom: 0px;
}

.studio .post .donations li {
    padding-bottom: 234px;
}
.studio .post .donations li h3{margin: 10px 0}
.studio .post .donations li h4{font-size: 16px; margin-bottom: 40px}

.studio .post .donation-info {width: 460px; float: left;}
.studio .post .donation-status {width: 215px; margin-left: 25px; float: left; position: relative;}
.studio .post .donation-status form {padding-top: 46%;}
.studio .post .donation-status form input {width: 106%;}
.studio .post .donation-status form input:hover {border-color: #BBB;}



.donations li > div > div {
    font-size: 16px;
    line-height: 22px;
}

.donations .big-button {
    width: 215px;
    border-radius:3px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    display: block;
    border: none;
}

.button-orange { background:#F5A623; color:#FFFFFF }
.button-green { background:#24BA98; color:#FFFFFF; cursor: pointer; }
.button-green-border { border:3px solid #24BA98; color: #24BA98 }
.button-red-border { border:3px solid #D0021B; color: #D0021B }

.studio .post .status-bar {
    position: relative;
    height: 45px;
    width: 450px;
    float: left;}

.studio .post .status-ready, .studio .post .status-remain{
    height: 25px;
    border-radius:100px;
    position: absolute;
    top: 10px;
}

.studio .post .status-remain{
    background:#D8D8D8;
    width:450px;
}

.studio .post .status-donate {
    height: 46px;
    line-height: 45px;
    margin-top: 1em;
}

.studio .post .status-archive{
    height: 40px;
    line-height: 40px;
    float: left;
}

.status-campaigns{
    border-radius:3px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    padding: 10px 45px;
    line-height: 45px;
}


.studio .service li {
    width: 265px;
    height: 125px;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    padding: 26px 107px 26px 26px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size:17px;
    font-weight: bold;
    color:#FFFFFF;
    line-height:24px;
    text-align:left;
}

.studio .vacancies-box {
    background: #F5A623;
    margin-right: 110px
}

.studio .donations-box{
    background:#4A90E2;
}


/* Pages */
.page.post {
    padding-top: 0;
}

.page .sw.header {
    background:#EFE6B2;
    max-width: none;
    padding-top: 30px;
    padding-bottom: 1.5em;
}
.page .header > header {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.page header h2 {
    font-weight: 600;
    margin-top: 1em;
    font-size: 180%;
    margin-bottom: 0.35em;
}

.page header h3 {
    font-weight: 200;
    width: 33em;
    font-size: 115%;
    line-height: 2em;
}

.page header .page-children {
    float: right;
}

.page header .page-children li {
    width: 88px;
    float: left;
    margin-right: 55px;
}
.page header .page-children li:last-child {
    margin-right: 0px;
}


.post.page .teaser {
    background-color: #555555;
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
    font-weight: 100;
    padding: 2em 0;
}

.post.page .teaser > div {
    max-width: 1000px;
    margin: 0 auto;
}

.post.page .teaser > div div {
    margin-top: 2em;
    margin-bottom: 2em;
}

.post.page .teaser > div div:first-child {
    margin-top: 0;
    margin-bottom: 2em;
}

.post.page .o-h > div  {    
    margin-bottom: 1em;
    margin-top: 2em;
}

.post.page .teaser.columned > div,
.post.page .teaser .columned,
.post .o-h div.columned,
.post .o-h p.columned,
.post .o-h blockquote.columned > div,
.post .o-h blockquote .columned {    
    -webkit-columns: 2;
    -webkit-column-gap: 1.5em;
    -moz-columns: 2;
    -moz-column-gap: 1.5em;
    columns: 2;
    column-gap: 1.5em;
    -webkit-perspective: 1;
}

.columned .column-break-after {
    page-break-after: always;
    break-after: always;
    -webkit-column-break-after: always;
}



.post.page .o-h h2, .post.page .o-h h3 {
    font-weight: 600;
    margin-top: 2em;
    font-size: 180%;
    margin-bottom: 0.75em;
    line-height: 1em;
}

.page .o-h p, .studio .o-h p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.page .o-h blockquote {
    width: 66%;
    margin: 5em auto;
    background-color: #FFFEF2;
    padding: 2em 7%;
    font-style: italic;
    font-family: Georgia;
    clear: both;
}

.page .o-h blockquote.columned {
    width: 86%;
}

.page .o-h blockquote .quote-image {
    float: right;
    margin: -5em -3em 1em 2em;
    display: block;
}

.page .o-h blockquote h1, .page .o-h blockquote h2, .page .o-h blockquote h3, .page .o-h blockquote h4 {
    font-family: HelveticaNeue;
    font-size: 20px;
    color: #555555;
    line-height: 24px;
    font-style: normal;
    margin: 2em 0 1em 0;
}

.page .o-h blockquote.columned div {
    margin-top: 6em;
}

.page .o-h blockquote.columned h4 + div {
    margin-top: 0;
}

.page .o-h blockquote p {
    margin-bottom: 1em;
}

.page dt {
    font-size: 18px;
    line-height: 2em;
}

.page dl ul {
    list-style-type: disc;
    margin-left: 26px;
}

.page .o-h dl ul li {
    padding-left: 10px;
}

.page ol > li {
    font-size: 16px;
    padding: 0.5em;
}


.page .right-side {
    float: right;
    width: 275px;
    margin-left: 1em;
}

.page .right-side .blue-button-link {
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0.3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.page .right-side .blue-button-link svg {
    vertical-align: top;
}

.page .right-side p {
    width: 222px;
    margin-left: auto;
    margin-right: auto;
}

.page .o-h ul {
    list-style-type: disc;
    font-size: 16px;
    margin-left: 32px;
    line-height: 1.5em;
    margin-bottom: 1em;
    margin-top: -0.5em;
}

.page .o-h ul li:before {
    margin-right: 10px;
}

/* Page maharaja */ 
.page.page-maharaja .sw.header > header h3 {
    width: inherit;
}

.page-maharaja header h3 > p {
    width: 50%;
    font-size: 16px;
}

.page-maharaja header h3 a {
    background: #F5A623;
    border: 1px solid #FFFFFF;
    width: 202px;
    height: 108px;
    display: block;
    float: right;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: initial;
    border-radius: 6px;
    padding: 0.75em 1em;
    margin: -8.5em 7em;
    line-height: 1.5em;
}

.page-maharaja header h3 a > span {
    display: block;
    width: 72%;
}

.page-maharaja header h3 a > img {
    float: right;
    margin: -7em -10.2em;
}

.page ul.page-children a[href~=pranama] {
    display: none;
}

/* Page pranama */
.page-pranama header h3 {
    width: 100%;
}

.blue-button-link {
    display: block;
    text-decoration: none;
    font-weight: 600;
    padding: 0.75em 2em;
    background: #4A90E2;
    border-radius: 3px;
    margin: 1em 3em 1em 0;
    color: #fff;
    font-size: 120%;
}

.blue-button-link:hover {
    color: #fff;
}

.blue-button-link svg {
    width: 16px;
    vertical-align: baseline;
    margin-right: 0.5em;
    fill: #ffffff;
    display: inline-block;
}

.page-pranama .o-h article h1 {
    font-size: 500%;
    line-height: 1.25em;
    margin-top: 0.3em;
}

.page-pranama #intro ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
    margin-top: 5em;
}

.page-pranama #intro ol > li {
    font-size: 16px;
    padding: 0;
    display: block;
    width: 47%;
    float: left;
    line-height: 1.5em;
    margin-left: 0;
    margin-right: 42px;
}

.page-pranama #intro ol > li:before {
    display: block;
    content: counter(item);
    counter-increment: item;
    font-size: 500%;
    margin-bottom: 0.5em;
    font-weight: 800;
}

.page-pranama #intro ol > li:last-child {
    float: none;
    width: 86%;
}

.page-pranama #rules ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
    margin-top: 3em;
}

.page-pranama #rules ol > li {
    font-size: 16px;
    padding: 0;
    line-height: 1.5em;    
    vertical-align: middle;
    margin: 2em 0;
}

.page-pranama #rules ol > li:before {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    font-size: 150%;
    vertical-align: middle;
    font-weight: 800;
    margin-right: 0.75em;
}

.page-pranama #rules ol > li span {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
}

#map {
	height: 500px;
}

.loader {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    top: 400px;
    text-align: center;
    display: none;
}

.loader img {
    margin-top: 10em;
}
