@charset "utf-8";
/* CSS Document */

.noos-slider { position:relative; }

.noos-slider,
.noos-slider > ul.ns-s,
.noos-slider ul.ns-s > li {
	-webkit-transition:top 0.5s, right 0.5s, bottom 0.5s, left 0.5s, opacity 0.5s, height 0.5s, transform 0.5s;
			transition:top 0.5s, right 0.5s, bottom 0.5s, left 0.5s, opacity 0.5s, height 0.5s, transform 0.5s;
}


.noos-slider {	width:100%; position:relative; overflow:hidden; }
.noos-slider:after,
.noos-slider:before,
.noos-slider .ns-p:after {
	content:'';
	display:table;
	clear:both;
	font-size:0;
	line-height:0;
}
.noos-slider .ns-s,
.noos-slider .ns-s > li {
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	background:none;
}
.noos-slider .ns-s { position:relative; z-index:1; }
.noos-slider .ns-s > li { position:absolute; background:no-repeat center center / cover; left:0; top:0; }
.noos-slider .ns-s > li > img:only-child { display:block; width:100%; height:auto; }

.noos-slider.fade .ns-s { overflow:hidden; }
.noos-slider.fade .ns-s > li { opacity:0; z-index:1; }
.noos-slider.fade .ns-s > li.active { opacity:1; z-index:2; }

.noos-slider.slide-h .ns-s { overflow:hidden; }
.noos-slider.slide-h .ns-s > li {
	left:-100%;
	z-index:1;
	-webkit-transition:left 0s;
			transition:left 0s;
}

.noos-slider.slide-h .ns-s > li.next-show {
	left:100%;
	z-index:2;
	-webkit-transition:left 0s ease 0s;
			transition:left 0s ease 0s;
}
.noos-slider.slide-h .ns-s > li.next-hide {
	left:-100%;
	z-index:2;
	-webkit-transition:left 0.6s ease 0s;
			transition:left 0.6s ease 0s;
}
.noos-slider.slide-h .ns-s > li.prev-show {
	left:-100%;
	z-index:2;
	-webkit-transition:left 0s ease 0s;
			transition:left 0s ease 0s;
}
.noos-slider.slide-h .ns-s > li.prev-hide {
	left:100%;
	z-index:2;
	-webkit-transition:left 0.6s ease 0s;
			transition:left 0.6s ease 0s;
}
.noos-slider.slide-h .ns-s > li.active {
	left:0;
	z-index:2;
	-webkit-transition:left 0.6s ease 0ms;
			transition:left 0.6s ease 0ms;
}
