@charset "utf-8";
/* CSS Document */

.noos-select { position:relative; cursor:pointer; min-width:100px; }
.noos-select select { display:none; }
.noos-select.mobile select { display:block; position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; }

.noos-select .l {
	position:absolute;
	top:100%;
	z-index:-1;
	overflow:hidden;
	
	-webkit-transition:all 0s ease 0.3s;
			transition:all 0s ease 0.3s;
}
.noos-select .l .i {
	position:relative;
	transform: translateY(-100%);
	-webkit-transition:all 0.3s ease 0s;
			transition:all 0.3s ease 0s;
			
}
.noos-select .l .i2 {
	position:relative;
	opacity:0.8;
	transform:rotateX(90deg);
	-webkit-transition:all 0.3s ease 0s;
			transition:all 0.3s ease 0s;
}
.noos-select.show .l {
	z-index:88;
	top:100%;
	-webkit-transition:all 0s ease 0s;
			transition:all 0s ease 0s;
}
.noos-select.show .l .i {
	-webkit-transform: translateY(0);
			transform: translateY(0);

	-webkit-transition:all 0.3s ease 0s;
			transition:all 0.3s ease 0s;
}
.noos-select.show .l .i2 {
	opacity:1;
	transform:rotateX(0deg);
	webkit-transition:all 0.3s ease 0s;
			transition:all 0.3s ease 0s;
}

.noos-select .l ul,
.noos-select .l ul li { padding:0; background:none; margin:0; }

.noos-select .v { margin-right:15px; }
.noos-select > .a {
	position:absolute;
	width:15px;
	right:0;
	top:0;
	height:100%;
	
	-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}

.noos-select > .a:before {
	content:'';
	display:block;
	width:6px;
	height:6px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-6px 0 0 -3px;
	border-left:solid 3px #000;
	border-bottom:solid 3px #000;
	
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
}
.noos-select.show > .a {
	-webkit-transform: rotateX(-180deg);
			transform: rotateX(-180deg);
}
