<div class="content main" role="main"> <!-- CONTENT START -->
    <article class="post">
        <div class="sw">
            <header>
                <h2>{{title}}</h2>
            </header>
            <div class="o-h">
                <div class="text-content">
                    <div class="indent">
                        {{{text}}}
                    </div>
                </div>                
                {{>bottom}}
            </div>
        </div>
    </article>
    
    {{>related-items}}
</div>