<div class="content main" role="main"> <!-- CONTENT START -->
    <article class="post">
        <div class="sw">
            <header>
                <h2>{{title}}</h2>
            </header>
            <div class="disc" style="{{^collections}}display:none;{{/collections}}">
                <div class="images">
                    {{#collections}}
                    <a class="cd" href="/{{{link}}}">
                        <img alt="{{title}}" height="180" src="{{^img_uri}}/img/collection-default.png{{/img_uri}}{{{img_uri}}}">
                        <span>{{title}}</span>
                    </a>
                    {{/collections}}
                </div>
            </div>
            <div class="o-h">
                <ul class="nav">
                    <li {{^is_logged_in}}class="buttons"{{/is_logged_in}}><a href="{{#is_logged_in}}{{{file_uri}}}{{/is_logged_in}}{{^is_logged_in}}#block-regist{{/is_logged_in}}" download><i><svg viewbox="0 0 20 20"><use xlink:href="#arrow-down-circle" /></svg></i><span>{{verbal_size}}</span></a></li>
                    <li class="text active"><a href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#text2-circle" /></svg></i><span>Текст</span></a></li>
                    {{#video_version_link}}<li class="exit"><a href="/{{{video_version_link}}}"><i class="eye"><svg viewbox="0 0 16 16"><use xlink:href="#video" /></svg></i></a></li>{{/video_version_link}}
                </ul>


                <script>
                    $('.content .buttons').on('click', 'a[href^=#]', function(e){
                        e.preventDefault();
                        var $block = $($(this).attr('href'));
                        var show = $(this).hasClass('active');
                        if($block.size()){

                            $('header.main .block').css({
                                'height':0,
                                'overflow':'hidden'
                            });
                            $('a.active', $(this).parent()).removeClass('active');

                            if(!show) {
                                $block.css({
                                    height: $block.get(0).scrollHeight
                                });
                                setTimeout(function(){
                                    $block.css({'overflow':'visible'});
                                }, 300);
                                $(this).addClass('active');
                            }
                        }
                    });
                </script>


                <audio src="{{{file_uri}}}" preload="none"></audio>
                <div class="info-content">
                    <div class="indent">
                        {{{teaser}}}
                    </div>
                </div>
                <div class="text-content">
                    <div class="indent">
                        {{{text}}}
                    </div>
                </div>                
                {{>bottom}}
            </div>
        </div>
    </article>
    
    {{>related-items}}
</div>