<h2>{{title}}</h2>
<img class="cover" src="{{{cover_img_uri}}}" alt="{{title}}" />
<article>
    {{{text}}}
</article>
<section class="links">
    <a class="buy" href="/{{link}}#buy">Купить книгу</a>
    <br>
    {{#download_uri}}
    <a href="{{download_uri}}"><i class="icon-download-alt"></i>Скачать</a>
    {{/download_uri}}
</section>
{{>bottom}}
<div class="content main" role="main"> <!-- CONTENT START -->
    <article class="post text">
        <div class="sw">
            <div class="ta-c" {{^cover_img_uri}}style="dislapy:none"{{/cover_img_uri}}>
                <img alt="{{title}}" src="{{{cover_img_uri}}}">
            </div>
            <header>
                <h2>{{title}}</h2>
            </header>
            <div class="disc">
                <div class="images">
                    <img alt="{{title}}" height="180" src="{{^cover_img_uri}}/img/book-default.png{{/cover_img_uri}}{{{cover_img_uri}}}">
                    <a class="btn-green" href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#order" /></svg></i><span>Заказать книгу</span></a>
                </div>
            </div>
            <div class="o-h">
                <div class="info-content">
                    <div class="indent">
                        {{{text}}}
                    </div>
                </div>

                {{>bottom}}
            </div>
        </div>
    </article>
    
    {{>related-items}}
</div>
