<div class="filters-container">
		<div class="sw">
			<div class="nav clear">
				<div class="categories f-l w-55">
					<a href="#collection">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#collection" />
							</svg>
						</i>
						<span>Диски</span>
					</a>
					<a href="#audio">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#audio" />
							</svg>
						</i>
						<span>Аудио</span>
					</a>
					<a href="#video">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#video" />
							</svg>
						</i>
						<span>Видео</span>
					</a>
					<a href="#book">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#book" />
							</svg>
						</i>
						<span>Книги</span>
					</a>
					<a href="#article">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#text" />
							</svg>
						</i>
						<span>Тексты</span>
					</a>
				</div>
				<div class="filters f-l w-45">
					<a href="#authors">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#people" />
							</svg>
						</i>
						<span>Автор</span>
					</a>
					<a href="#date">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#calendar" />
							</svg>
						</i>
						<span>Время</span>
					</a>
					<a href="#venues">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#mark" />
							</svg>
						</i>
						<span>Место</span>
					</a>
					<a href="#tags">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#tag" />
							</svg>
						</i>
						<span>Метки</span>
					</a>
					<a href="#text-search">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#search" />
							</svg>
						</i>
					</a>
				</div>
			</div>
			<div class="filter-list">
				<div id="authors" class="filter clear" data-icon="people" style="display: none;">
					<a class="add" href="#">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#people" />
							</svg>
						</i>
					</a>
					<a class="close" href="#"></a>
				</div>
				<div class="add-filter-list sw">
					<div class="search">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#search" />
							</svg>
						</i>
						<input type="text" name="search" value="" placeholder="Поиск автора">
					</div>
                                        {{#all_authors}}
                                        <a class="tag" href="#">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#people" />
							</svg>
						</i>
						<span>{{{.}}}</span>
					</a>
                                        {{/all_authors}}					
				</div>
				<div id="date" class="filter filter-date clear">
					<a class="close" href="#"></a>
					<div class="filter-c">
						<div class="w">
							<div class="l">
								<i class="icon">
									<svg viewbox="0 0 16 16">
										<use xlink:href="#calendar" />
									</svg>
								</i>
								<div class="slider">
								</div>
							</div>
							<div class="m">
								Точные даты
							</div>
							<div class="r exact-dates">
								<i class="icon">
									<svg viewbox="0 0 16 16">
										<use xlink:href="#calendar" />
									</svg>
								</i>
								<span>c</span>
								<input type="text" class="date" name="from" value="">
								<span>по</span>
								<input type="text" class="date" name="to" value="">
								
								<span class="btn-light confirm">Ок</span>
							</div>
						</div>
					</div>
				</div>
				<div id="venues" class="filter clear" data-icon="mark" style="display: none;">
					<a class="add" href="#">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#mark" />
							</svg>
						</i>
					</a>
					<a class="close" href="#"></a>
				</div>
				<div class="add-filter-list sw">
					<div class="search">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#search" />
							</svg>
						</i>
						<input type="text" name="search" value="" placeholder="Поиск места">
					</div>
                                        {{#all_venues}}
                                        <a class="tag" href="#">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#mark" />
							</svg>
						</i>
						<span>{{{.}}}</span>
					</a>
                                        {{/all_venues}}
				</div>
				<div id="tags" class="filter clear" data-icon="tag" style="display: none;">
					<a class="add" href="#">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#tag" />
							</svg>
						</i>
					</a>
					<a class="close" href="#"></a>
				</div>
				<div class="add-filter-list sw">
					<div class="search">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#search" />
							</svg>
						</i>
						<input type="text" name="search" value="" placeholder="Поиск меток">
					</div>
                                        {{#all_tags}}
                                        <a class="tag" href="#">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#tag" />
							</svg>
						</i>
						<span>{{{.}}}</span>
					</a>
                                        {{/all_tags}}
				</div>
				<div id="text-search" class="filter filter-search clear" {{^search_query}}style="display: none;"{{/search_query}}>
					<a class="close" href="#"></a>
					<div class="search">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#search" />
							</svg>
						</i>
						<input type="text" name="q" value="{{search_query}}" placeholder="Поиск по названию и аннотации">
					</div>
				</div>
			</div>
			<div class="sort">
				<div class="order order-1">
					<a class="up active" title="в обычном порядке" href="#"></a>
					<a class="down" title="в обратном порядке" href="#"></a>
					<span class="active-bg"></span>
				</div>
				<div class="order order-2">
					<a class="by-date active" href="#">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#calendar2" />
							</svg>
						</i>
						<span>по дате</span>
					</a>
					<a class="by-alphabet" href="#">
						<i class="icon">
							<svg viewbox="0 0 16 16">
								<use xlink:href="#AR" />
							</svg>
						</i>
						<span>по алфавиту</span>
					</a>
					<span class="active-bg"><span></span></span>
				</div>
			</div>
		</div>
	</div>
<div class="content main" role="main"> <!-- CONTENT START -->
    {{>search-list}}
</div>