<div class="content main" role="main"> <!-- CONTENT START -->
    <article class="post text">
        <div class="sw">
            <div class="slider-images" {{^images}}style="display:none"{{/images}} data-auto-pagination="true" data-prev-button="false" data-next-button="false">
                 <ul class="s">
                     {{#cover_img_uri}}
                     <li><img alt="{{title}}" src="{{{cover_img_uri}}}"></li>
                     {{/cover_img_uri}}
                     
                    {{#images}}
                    <li><img alt="{{title}}" src="{{{file_uri}}}"></li>
                    {{/images}}
                </ul>
            </div>
            <header>
                <h2>{{title}}</h2>
            </header>
            <div class="row">
                <div class="column w-80">
                    {{{text}}}
                    
                    <ul {{^sub_collection_items}}style="display:none"{{/sub_collection_items}} class="subcollections-list">
                        {{#sub_collection_items}}
                        <li>
                            <i><svg viewbox="0 0 20 20"><use xlink:href="#collection" /></svg></i><span>{{title}}</span>
                            <ol {{^linked_medias}}style="display:none"{{/linked_medias}}>
                                {{#linked_medias}}
                                <li>
                                    {{^visible}}{{title}}{{/visible}}
                                    {{#visible}}<a href="/{{{link}}}">{{title}}</a>{{/visible}}
                                    <span class="f-r">{{time}}</span></li>
                                {{/linked_medias}}
                            </ol>
                        </li>
                        {{/sub_collection_items}}
                    </ul>

                    <ol {{^content_items}}style="display:none"{{/content_items}}>
                        {{#content_items}}
                        <li>
                            {{^visible}}{{title}}{{/visible}}
                            {{#visible}}<a href="/{{{link}}}">{{title}}</a>{{/visible}}
                            <span class="f-r">{{time}}</span></li>
                        {{/content_items}}
                    </ol>

                    {{>bottom}}
                </div>
                <div class="column w-20 ta-c sidebar">
                    <img alt="{{title}}" height="180" src="{{^cover_img_uri}}/img/collection-default.png{{/cover_img_uri}}{{{cover_img_uri}}}">
                    <a class="btn-green" href="/studio/#filial"><i><svg viewbox="0 0 20 20"><use xlink:href="#order" /></svg></i><span>Заказать диск</span></a>
                    {{#download_uri}}
                    <!--a class="btn-green" href="{{{download_uri}}}">
                        <i><svg viewbox="0 0 20 20"><use xlink:href="#arrow-down-circle" /></svg></i>
                        <span>Скачать диск</span>
                    </a-->
                    {{/download_uri}}
                    <div class="logos">
                        <a class="logo-1" href="#"><svg viewbox="0 0 58 57"><use xlink:href="#logo-1"></svg></a>
                        <a class="logo-4" href="#"><svg viewbox="0 0 20 51"><use xlink:href="#logo-4"></svg></a>
                        <a class="logo-3" href="#"><svg viewbox="0 0 49 49"><use xlink:href="#logo-3"></svg></a>
                        <a class="logo-2" href="#"><svg viewbox="0 0 55 51"><use xlink:href="#logo-2"></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </article>

    {{>related-items}}
</div>
