<!doctype html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="ru" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ru" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ru" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="ru" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{page_title}}</title>
    <link rel="shortcut icon" href="/favicon.ico">

    <link href="/css/reset.css" rel="stylesheet" type="text/css">

    <link href="/css/jquery-ui.structure.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">

    <link href="/css/noos.notice.css" rel="stylesheet" type="text/css">
    <link href="/css/noos.file.css" rel="stylesheet" type="text/css">
    <link href="/css/noos.slider.css" rel="stylesheet" type="text/css">
    <link href="/css/noos.select.css" rel="stylesheet" type="text/css">
    <link href="/css/noos.popup.css" rel="stylesheet" type="text/css">

    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <link href="/css/fonts.css" rel="stylesheet" type="text/css">


    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="/js/modernizr-2.7.2.js"></script>

    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/jquery/jquery-2.1.1.min.js"%3E%3C/script%3E'))</script>
</head>

<body>
{{>svg-defs}}

<div id="page" class="{{{controller}}}">
    <header class="main">
        {{^is_logged_in}}
            {{>login-panel}}
        {{/is_logged_in}}
        {{#is_logged_in}}
            {{>user-panel}}
        {{/is_logged_in}}
        
        <div class="sw bottom">
            <h1>
                {{#is_main}}
                <i><svg viewbox="0 0 253 115"><use xlink:href="#logo" /></svg></i><span>Основана Его Святейшеством<br> Бхакти Вигьяной Госвами</span>
                {{/is_main}}

                {{^is_main}}
                <a href="/"><i><svg viewbox="0 0 253 115"><use xlink:href="#logo" /></svg></i><span>Основана Его Святейшеством<br> Бхакти Вигьяной Госвами</span></a>
                {{/is_main}}
            </h1>
            <div class="agents">
                <a href="/maharaja">
                    <figure>
                        <img alt="" src="/img/p1.png">
                        <figcaption><span>Его Святейшество</span> Бхакти Вигьяна Госвами</figcaption>
                    </figure>
                </a>
                <a href="/radhanathaswami">
                    <figure>
                        <img alt="" src="/img/p2.png">
                        <figcaption><span>Его Святейшество</span> Радханатх Свами</figcaption>
                    </figure>
                </a>
                <a href="/prabhupada">
                    <figure>
                        <img alt="" src="/img/p3.png">
                        <figcaption><span>Его Божественная Милость А. Ч. Бхактиведанта Свами Прабхупада</span> ачарья-основатель Международного общества сознания Кришны</figcaption>
                    </figure>
                </a>
            </div>
            <nav>
                {{#is_news}}<span class="active news"><span>Новости</span></span>{{/is_news}}
                {{^is_news}}<a href="/news/" class="news {{#is_news_page}}active{{/is_news_page}}"><span>Новости</span></a>{{/is_news}}

                {{#is_catalogue}}<span class="active"><span>Каталог</span></span>{{/is_catalogue}}
                {{^is_catalogue}}
                    <a href="/catalogue/" {{#is_content_page}}class="active"{{/is_content_page}}><span>Каталог</span></a>
                {{/is_catalogue}}
                                
                {{#is_studio}}<span class="active"><span>О студии</span></span>{{/is_studio}}
                {{^is_studio}}
                    <a href="/studio/"><span>О студии</span></a>
                {{/is_studio}}
                
                {{#main_menu_pages}}
                    <a href="/{{{link}}}" class="page {{#is_active}}active{{/is_active}}"><span>{{title}}</span></a>
                {{/main_menu_pages}}
            </nav>
        </div>
    </header>
    
    {{>content}}
    
    <footer class="main">
        <div class="sw">
            <div class="row">
                <div class="column w-35 logos">
                    <a class="logo-1" href="#"><svg viewbox="0 0 58 57"><use xlink:href="#logo-1" /></svg></a>
                    {{!<a class="logo-2" href="#"><svg viewbox="0 0 55 51"><use xlink:href="#logo-2" /></svg></a>}}
                    {{!<a class="logo-3" href="#"><svg viewbox="0 0 49 49"><use xlink:href="#logo-3" /></svg></a>}}
                    <a class="logo-4" href="#"><svg viewbox="0 0 20 51"><use xlink:href="#logo-4" /></svg></a>
                </div>
                <div class="column w-65">
                    <ul class="links">
                        <li>
                            <a href="mailto:admin@goswami.ru">admin@goswami.ru</a>
                            <a href="#">Оставить отзыв</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/goswami.ru">Facebook</a>
                            <a href="https://www.instagram.com/goswami.ru">Instagram</a>
                            <a href="http://www.youtube.com/user/goswamistudio">YouTube</a>
                            <a href="https://plus.google.com/116800827366179544058">Google+</a>
                            <a href="http://vk.com/goswamistudio">VK</a>
                        </li>
                        <li>
                            <a href="#">Карта сайта</a>
                            <a href="#">Условия использования</a>
                            <a href="#">Политика безопастности</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="column w-30 copy">
		&copy; 1995–2016 goswami.ru
                </div>
                <div class="column w-70 share">
                    <img alt="" src="/img/socials.png">
                </div>
            </div>
        </div>
    </footer>
    <div class="loader">
        <img src="/img/velocity.gif" alt="Загрузка..." />
    </div>
</div>

    <script src="/js/jquery/jquery-2.1.1.min.js"></script>

    <script src="/js/plugins/jquery.history.js"></script>

    <script src="/js/jquery/jquery-ui.min.js"></script>

    <script src="/js/plugins/jquery.mousewheel.js"></script>
    <script src="/js/plugins/mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>

    <script src="/js/plugins/noos/noos.notice.js"></script>
    <script src="/js/plugins/noos/noos.file.js"></script>
    <script src="/js/plugins/noos/noos.slider.js"></script>
    <script src="/js/plugins/noos/noos.select.js"></script>
    <script src="/js/plugins/noos/noos.popup.js"></script>

    <script src="/js/plugins/audiojs/audio.js"></script>

    <script src="/js/soc.min.js"></script>

    <script src="/js/main.js"></script>

    <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
         change the UA-XXXXX-X to be your site's ID -->
    <script>
        var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
        (function(d, t) {
            var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
            g.async = true;
            g.src = ('https:' === location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s);
        })(document, 'script');
    </script>
</body>
</html>
