<div class="content main" role="main"> <!-- CONTENT START -->
    <article class="post">
        <div class="sw">
            <header>
                <h2>{{title}}</h2>

                <script src="/js/social.js"></script>

                <a onclick="Share.vkontakte('http://goswami.ru/{{{link}}}','{{title}}','http://goswami.ru/img/p1.png','{{teaser}}')"><img src="/content/social/vk.png"/></a>
                <a onclick="Share.facebook('http://goswami.ru/{{{link}}}','{{title}}','http://goswami.ru/img/p1.png','{{teaser}}')"><img src="/content/social/fb.png"/></a>
                <a onclick="Share.mailru('http://goswami.ru/{{{link}}}','{{title}}','http://goswami.ru/img/p1.png','{{teaser}}')"><img src="/content/social/mr.png"/></a>
                <a onclick="Share.odnoklassniki('http://goswami.ru/{{{link}}}','{{teaser}}')"><img src="/content/social/ok.png"/></a>
                <a onclick="Share.twitter('http://goswami.ru/{{{link}}}','{{title}}')"><img src="/content/social/tw.png"/></a>

            </header>
            <div class="o-h">
                <div class="text-content">
                        {{{body}}}
                </div>  
                
                {{{major_media_object_html}}}

                <ul class="objects list-inline" {{^minor_media_objects}}style="display:none"{{/minor_media_objects}}>
                    {{#minor_media_objects}}
                        <li>
                            <a href="/{{{link}}}" target="_blank" data-id="{{{id}}}" class="{{type}}">
                                <i class="icon">
                                    <svg viewBox="0 0 16 16">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{type}}"></use>
                                    </svg>
                                </i>
                                <span>{{title}}</span>
                            </a>
                        </li>
                    {{/minor_media_objects}}
                </ul>

                {{>bottom}}
            </div>
        </div>
    </article>
</div>