<div class="content main" role="main"> <!-- CONTENT START -->
    <article class="post page page-{{alias}}">
        <div class="sw header">
            <header>
                <ul class="page-children">
                    {{#children}}
                    <li>
                        <a href="{{{link}}}" title="{{title}}">
                        
                           <img alt="{{title}}" height="85" src="{{{image_uri}}}" />
                           <p>{{title}}</p>                        
                        </a>
                    </li>
                    {{/children}}
                </ul>
                <img alt="{{title}}" src="{{{image_uri}}}" />
                <h2>{{title}}</h2>
                <h3>{{{subtitle}}}</h3>
            </header>            
        </div>
        
        {{#teaser}}
        <section class="teaser">
            <div>
            {{{teaser}}}
            </div>
        </section>
        {{/teaser}}
        <div class="sw">
            <div class="o-h">
                {{{body}}}
            </div>
        </div>
    </article>
</div>
<script src="/js/page.js"></script>