<div class="content main" role="main"> <!-- CONTENT START -->
    <div class="header">
        <header class="sw">
            <div class="subnav">
                <a href="#team" class="active">
                    <i class="icon">
                        <svg viewBox="0 0 16 16">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#studio"></use>
                        </svg>
                    </i>
                    <span>Студия</span>
                </a>
                <a href="#job">
                    <i class="icon" style="width:20px">
                        <svg viewBox="0 0 16 16">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#job"></use>
                        </svg>
                    </i>
                    <span>Вакансии</span>
                </a>
                <a id="rep" href="#filial" class="stroke">
                    <i class="icon">
                        <svg viewBox="0 0 16 16">
                            <rect height="13.88235" width="0.81771" y="0.625" x="4.02086"></rect>
                            <path d="m4.83857,1.50786c6.10089,-0.23989 5.64632,2.43446 10.49056,2.60508c-3.09518,4.65057 -5.85998,1.79842 -10.49056,4.36215c0,-2.39471 0,-4.51183 0,-6.96723z"></path>
                            <path fill-opacity="0" d="m3.24066,12.84151c-1.44875,0.17486 -2.49066,0.66041 -2.49066,1.23202c0,0.71879 1.64746,1.30147 3.67971,1.30147l0,0c2.03225,0 3.67971,-0.58269 3.67971,-1.30147c0,-0.55884 -0.99588,-1.03542 -2.39419,-1.21984"></path>
                        </svg>
                    </i>
                    <span>Представители</span>
                </a>
                <a href="#donation">
                    <i class="icon" style="width:25px">
                        <svg viewBox="0 0 18 18">
                            <g fill="#555555" stroke="#F7F3DB">
                                <ellipse ry="2.43056" rx="5" cy="9.43056" cx="5.75"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="10.81944" cx="13.25"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="7.34722" cx="5.75"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="8.73612" cx="13.25"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="5.26388" cx="5.75"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="6.65278" cx="13.25"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="3.18056" cx="5.75"></ellipse>
                            </g>
                        </svg>
                    </i>
                    <span>Сбор денег</span>
                </a>
            </div>
            <h3 id="team-subtitle">
                Вся деятельность Студии БВГ служит единой цели — распространению духовного знания, данного нам Шрилой Прабхупадой.
            </h3>
            <h3 id="job-subtitle" style="display: none;">
                Служение в Студии — это личное служение Госвами Махараджу. У каждого есть возможность помогать духовному учителю независимо от того, где он находится.
            </h3>
            <h3 id="filial-subtitle" style="display: none;">
                Наша миссия — распространять послание Шрилы Прабхупады, представленное в лекциях Е.С. Бхакти Вигьяны Госвами Махараджа
            </h3>
            <h3 id="donation-subtitle" style="display: none;">
                Вся деятельность Студии БВГ служит единой цели — распространению духовного знания, данного нам Шрилой Прабхупадой.
            </h3>
        </header>
    </div>
    <article class="post studio subcontent-container">        
        <div id="team" class="sw">
            <h1>Команда</h1>
            <ul class="members">
                {{#team}}
                <li>
                    <div class="photo" {{#data.avatar}}style="background-image: url(/content/avatars/{{data.avatar}})"{{/data.avatar}}></div>
                    <div class="header1">{{data.spiritual_name}}{{^data.spiritual_name}}{{data.name}}{{/data.spiritual_name}}</div>
                    <div class="header2">{{data.activity}}</div>
                    <a href="mailto:{{email}}">{{email}}</a>
                </li>
                {{/team}}
            </ul>

            <h1>Миссия cтудии <br> Goswami.ru</h1>
            <div class="o-h">
                <div class="columned">
                    <p class="column-break-after">Е. С. Бхакти Вигьяна Госвами Махарадж служит миссии Шрилы
                        Прабхупады, ачарьи-основателя Международного общества сознания Кришны. Поэтому он так много
                        путешествует, проповедуя по всему миру.
                        Слова Е. С. Бхакти Вигьяны Госвами Махараджа обращены к каждому человеку независимо от
                        глубины его духовного поиска — и к тому, кто впервые начал задавать себе вопрос: «В чем
                        смысл моего существования?», и к тому, кто уже многие годы идет по пути бхакти.</p>

                    <p>Студия БВГ создана для того, чтобы всецело участвовать в миссии Шрилы Бхакти Вигьяны Госвами
                        Махараджа, помогая ему распространять духовное знание, которым наполнены его необыкновенные
                        лекции и семинары.
                        С этой целью мы выпускаем диски с аудио- и видеозаписями, а также размещаем эти материалы на
                        нашем сайте <a href="http://www.goswami.ru">Goswami.ru</a> и на специальном канале в <a href="http://www.youtube.com/user/goswamistudio">YouTube</a>.</p>
                </div>
                <div class="columned">
                    <p class="column-break-after">Мы также хотим помочь слушателям сориентироваться в огромном
                        потоке семинаров и выступлений Госвами Махараджа. Люди зачастую слушают хаотично и
                        непоследовательно, не понимая, что для них актуально на данном этапе. Поэтому мы
                        структурируем весь материал, делая подборку лекций по темам, помогая людям сосредоточиться
                        на главном для них, найти ответы на вопросы, которые их интересуют.</p>

                    <p>Команда Студии также переводит лекции на английский язык, благодаря чему все вайшнавы за рубежом имеют возможность их слушать.</p>
                    <p>По желанию Е. С. Бхакти Вигьяны Госвами Махараджа студия оказывает финансовую поддержку и другим его проектам.
                    </p>
                </div>
            </div>
            <h2>Служение в Студии — это личное служение Госвами Махараджу. У каждого есть возможность помогать духовному учителю независимо от того, где он находится.</h2>
            <div class="o-h">
                <div class="f-r w-50">
                   <p>Вся деятельность Студии БВГ служит единой цели — распространению духовного знания, данного нам Шрилой Прабхупадой.</p>
                </div>                
            </div>
        </div>
    </article>
    <article class="post studio subcontent-container">        
        <div id="job" class="sw" style="display:none">
            <h1>Вакансии</h1>
            <div class="o-h">
                <p>Студия Goswami.ru ищет специалистов для совместного служения</p>
                <p>Если у вас есть желание заниматься личным служением для Шри Гурудева, и вы оцениваете свою квалификацию не ниже среднего уровня, мы ждем ваших писем с небольшим рассказом о себе и примерами работ:</p>

                <ul class="jobs">
                    {{#vacancies}}
                    <li>
                        <img class="f-l" src="{{img_uri}}">
                        <div>
                            <h3>{{title}}</h3>
                            <p>{{description}}</p>
                            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                        </div>
                    </li>
                    {{/vacancies}}
                </ul>
                <h2>Служение в студии</h2>
                <div class="columned">
                    <p></p>
                    <p></p>
                </div>
                <div class="photos">
                    <img src="">
                    <img src="">
                    <img src="">
                </div>
            </div>
    </article>
    <article class="post studio subcontent-container">
        <div id="filial" class="sw" style="display:none">
            <h1>Представители студии</h1>

            <script src="/js/map.js"></script>
            <script>
                var representatives = [
                    {{#representatives}}
                         ['{{data.geo_location}}','{{data.city}},<br/>{{data.spiritual_name}}<br/>({{data.name}}),<br/>{{email}}<br/>{{data.phone}}']{{^last}}, {{/last}}
                    {{/representatives}}
                ];
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7hNtFFEJctCGfDmiVo0dkcnLeup546V0&callback=initMap"></script>
            <div id="map"></div>

            <div class="o-h">
                <p>Представители студии есть в 36 городах России, Украины, Белоруси, Германии и других странах</p>

                <p>Если вы не нашли представителя в своем городе, вы можете обратиться к ближайшему к вам
                    представителю или самому стать представителем.</p>
            </div>
            <ul class="members">
                {{#representatives}}
                <li>
                    <div class="photo" {{#data.avatar}}style="background-image: url(/content/avatars/{{data.avatar}}){{/data.avatar}}"></div>
                    <div class="header1">{{data.spiritual_name}}{{^data.spiritual_name}}{{data.name}}{{/data.spiritual_name}}</div>
                    <div class="header2">{{data.city}}</div>
                    <div class="header2">{{data.activity}}</div>
                    <a href="mailto:{{email}}">{{email}}</a>
                </li>
                {{/representatives}}
            </ul>
    </article>
    <article class="post studio subcontent-container">        
        <div id="donation" class="sw" style="display:none">
            <h1>Пожертвования</h1>
            <div class="o-h">
            <p>Все средства от пожертвований идут на осуществление выпуска новых дисков, поддержание и обновление оборудования для хранения архива аудио- и видеозаписей лекций духовного учителя, и, по желанию Е. С. Бхакти Вигьяны Госвами Махараджа, Студия оказывает финансовую поддержку и другим его проектам.</p>

                <ul class="donations">
                {{#donation_camps}}
                <li id="{{id}}">
                    <img class="f-l" src="{{{img_uri}}}">
                    <div class="donation-info">
                        <h3>{{name}}</h3>
                        <h4>{{description}}</h4>
                        <div>До конца кампании {{end_date}}<br>  необходимо собрать  {{necessary_amount}}</div>

                        <div class="status-bar">
                            <div class="status-remain"></div>
                            <div class="status-ready button-orange" style="width:{{percent}}%;"></div>
                        </div>

                        <div>на {{today}} собрано {{amount}}</div>
                    </div>
                    <div class="donation-status">
                        <form id="PAY_ZPAYMENT" name="PAY_ZPAYMENT" method="POST" action="https://z-payment.com/merchant.php">
                            <input name="LMI_PAYMENT_NO" type="hidden" value="{{id}}" /> 
                            <input name="LMI_PAYMENT_AMOUNT" value="200" type="{{^completed}}text{{/completed}}{{#completed}}hidden{{/completed}}" size="10"/>
                            <input name="LMI_PAYMENT_DESC" type="hidden" value="{{name}} (goswami.ru)" />
                            <input name="CLIENT_MAIL" type="hidden" value="{{^is_logged_in}}{{/is_logged_in}}{{#is_logged_in}}{{user.email}}{{/is_logged_in}}" />
                            <input type="hidden" name="LMI_PAYEE_PURSE" value="16263" />
                            <button type="submit" class="status-donate button-green big-button" {{#completed}}disabled{{/completed}}>{{^completed}}Пожертвовать{{/completed}}{{#completed}}Собрано!{{/completed}}</button>
                        </form>
                    </div>
                </li>
                {{/donation_camps}}
            </ul>

            <a href="#donation-archive">Архив кампаний</a>
            <p></p>
        </div>
    </article>
    <div class="sw">
        <ul class="service">
            <li class="vacancies-box f-l">
                Студия Goswami.ru <br> ищет специалистов для совместного служения
                <a href="#job">
                    <i class="icon" style="width:20px;vertical-align: sub;">
                        <svg viewBox="0 0 16 16">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#job"></use>
                        </svg>
                    </i>
                    <span>Вакансии</span>
                </a>
            </li>
            <li class="donations-box f-l">
                Вы можете поддержать один из проектов Cтудии - это тоже очень важное служение
                <a href="#donation">
                    <i class="icon" style="width:25px">
                        <svg viewBox="0 0 19 19">
                            <g fill="#555555" stroke="#F7F3DB">
                                <ellipse ry="2.43056" rx="5" cy="9.43056" cx="5.75"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="10.81944" cx="13.25"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="7.34722" cx="5.75"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="8.73612" cx="13.25"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="5.26388" cx="5.75"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="6.65278" cx="13.25"></ellipse>
                                <ellipse ry="2.43056" rx="5" cy="3.18056" cx="5.75"></ellipse>
                            </g>
                        </svg>
                    </i>
                    <span>Сбор денег</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="/js/page.js"></script>
