<div class="filters-container">
    <div class="sw">
            <div class="nav clear">
                    <div class="categories f-l w-55">
                            <a href="#collections">
                                    <i class="icon">
                                            <svg viewbox="0 0 16 16">
                                                    <use xlink:href="#collection" />
                                            </svg>
                                    </i>
                                    <span>Диски</span>
                            </a>
                            <a href="#audio">
                                    <i class="icon">
                                            <svg viewbox="0 0 16 16">
                                                    <use xlink:href="#audio" />
                                            </svg>
                                    </i>
                                    <span>Аудио</span>
                            </a>
                            <a href="#video">
                                    <i class="icon">
                                            <svg viewbox="0 0 16 16">
                                                    <use xlink:href="#video" />
                                            </svg>
                                    </i>
                                    <span>Видео</span>
                            </a>
                            <a href="#books">
                                    <i class="icon">
                                            <svg viewbox="0 0 16 16">
                                                    <use xlink:href="#book" />
                                            </svg>
                                    </i>
                                    <span>Книги</span>
                            </a>
                            <a href="#articles">
                                    <i class="icon">
                                            <svg viewbox="0 0 16 16">
                                                    <use xlink:href="#text" />
                                            </svg>
                                    </i>
                                    <span>Тексты</span>
                            </a>

		    </div>
                    <a class="jira-accept-all" href="/admin/jira/accept_all" title="Принять все">
                        <svg viewBox="0 0 16 16">
                            <path d="m204.38248,72.14249l-22.05,29.52381l-22.05,29.52381l20.58,0l0,153.52381l47.04,0l0,-153.52381l20.58,0l-22.05,-29.52381l-22.05,-29.52381zm147.00001,0l-22.05002,29.52381l-22.04999,29.52381l20.58,0l0,153.52381l47.03999,0l0,-153.52381l20.58,0l-22.05,-29.52381l-22.04999,-29.52381l0.00001,0zm-220.50001,224.38096l0,23.61904l293.99998,0l0,-23.61904l-293.99998,0z" fill="#007f00"/>
                        </svg>
                    </a>
            </div>
    </div>
</div>

{{#filtering_item}}
<h2>
    <span>{{#filtering_item.is_collection}}Элементы в коллекции{{/filtering_item.is_collection}}{{^filtering_item.is_collection}}Коллекции, в которые входит{{/filtering_item.is_collection}} <span class="parent-title">{{filtering_item.title}}</span></span>
    <ul class="jira-buttons">
        {{#filtering_item.is_collection}}
        <li>
            <a class="jira-accept-all" href="/admin/jira/accept_self_and_children?key={{{filtering_item.key}}}" title="Принять вместе с связанными">
                <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                    <path d="M72.518,34.534L37.194,69.855c-2.616,2.615-6.859,2.615-9.477,0L9.483,51.619c-2.617-2.616-2.617-6.859,0-9.476
                            c2.617-2.617,6.86-2.617,9.476-0.001l13.498,13.499L63.04,25.057c2.617-2.617,6.86-2.615,9.476,0
                            C75.133,27.674,75.133,31.916,72.518,34.534z"/>
                    <path fill="#FFFFFF" d="M50.981,76.816c-2.323,0-4.509-0.904-6.152-2.546L26.594,56.033c-1.643-1.643-2.548-3.828-2.548-6.152
                            c0-2.324,0.905-4.509,2.548-6.153c1.644-1.644,3.829-2.549,6.153-2.549c2.324,0,4.509,0.905,6.152,2.549l12.083,12.084
                            l29.169-29.169c1.643-1.643,3.828-2.548,6.151-2.548c2.324,0,4.51,0.905,6.152,2.548c3.392,3.391,3.393,8.911,0.003,12.305
                            L57.133,74.27C55.49,75.912,53.306,76.816,50.981,76.816z"/>
                    <path d="M91.043,37.534L55.719,72.855c-2.615,2.615-6.858,2.615-9.477,0L28.008,54.619c-2.617-2.616-2.617-6.859,0-9.477
                            c2.617-2.617,6.86-2.617,9.476,0l13.498,13.498l30.583-30.583c2.617-2.617,6.86-2.615,9.476,0
                            C93.658,30.674,93.658,34.916,91.043,37.534z"/>
                </svg>
            </a>
        </li>
        {{/filtering_item.is_collection}}
        <li>
            <a class="jira-decline" href="/admin/jira/decline?key={{{filtering_item.key}}}" title="Отклонить">
                <svg viewBox="0 0 100 100">
                    <path d="M76.83,32.561L59.392,50L76.83,67.439c2.594,2.594,2.594,6.798,0,9.392  c-1.296,1.296-2.995,1.945-4.694,1.945c-1.7,0-3.399-0.648-4.695-1.945L50,59.391l-17.44,17.44  c-1.296,1.296-2.995,1.945-4.695,1.945c-1.699,0-3.397-0.648-4.694-1.945c-2.594-2.593-2.594-6.797,0-9.392L40.608,50L23.17,32.561  c-2.594-2.594-2.594-6.798,0-9.392c2.593-2.592,6.795-2.592,9.389,0L50,40.609l17.44-17.44c2.594-2.592,6.796-2.592,9.389,0  C79.424,25.763,79.424,29.967,76.83,32.561z"/>
                </svg>
            </a>
        </li>            
    </ul>
</h2>
{{/filtering_item}}

<ul class="jira-list list-unstyled">
    {{>admin/jira-list}}
</ul>

<div class="jira-comment-container" style="display: none">
    <p>Можно оставить комментарий к задаче, пояснив, что надо улучшить.</p>
    <textarea class="jira-comment"></textarea>
    <ul class="jira-container-buttons">
            <li>
                <button class="jira-accept">
                    <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <path d="M81.517,36.534L46.194,71.855c-2.616,2.616-6.859,2.616-9.477,0L18.483,53.619c-2.617-2.616-2.617-6.859,0-9.476  c2.617-2.617,6.86-2.617,9.476-0.001l13.498,13.498L72.04,27.057c2.617-2.617,6.86-2.615,9.476,0  C84.133,29.674,84.133,33.916,81.517,36.534z"/>
                    </svg>
                </button>
            </li>
            <li>
                <button class="jira-cancel">
                    <svg viewBox="0 0 100 100">
                        <path d="M76.83,32.561L59.392,50L76.83,67.439c2.594,2.594,2.594,6.798,0,9.392  c-1.296,1.296-2.995,1.945-4.694,1.945c-1.7,0-3.399-0.648-4.695-1.945L50,59.391l-17.44,17.44  c-1.296,1.296-2.995,1.945-4.695,1.945c-1.699,0-3.397-0.648-4.694-1.945c-2.594-2.593-2.594-6.797,0-9.392L40.608,50L23.17,32.561  c-2.594-2.594-2.594-6.798,0-9.392c2.593-2.592,6.795-2.592,9.389,0L50,40.609l17.44-17.44c2.594-2.592,6.796-2.592,9.389,0  C79.424,25.763,79.424,29.967,76.83,32.561z"/>
                    </svg>
                </button>
            </li>            
        </ul>
</div>
<div class="jira-disk-accept-container" style="display: none">
    <p>Можно загрузить изображения для диска</p>
    <div class="disk-images-upload">
        <input name="img-file" id="img" type="file" data-dnd="true" data-url="/collection/upload/" data-btn-text="" data-default-text="" data-current-file="" />
    </div>
    <ul class="jira-container-buttons">
            <li>
                <button class="jira-accept">
                    <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <path d="M81.517,36.534L46.194,71.855c-2.616,2.616-6.859,2.616-9.477,0L18.483,53.619c-2.617-2.616-2.617-6.859,0-9.476  c2.617-2.617,6.86-2.617,9.476-0.001l13.498,13.498L72.04,27.057c2.617-2.617,6.86-2.615,9.476,0  C84.133,29.674,84.133,33.916,81.517,36.534z"/>
                    </svg>
                </button>
            </li>
            <li>
                <button class="jira-cancel">
                    <svg viewBox="0 0 100 100">
                        <path d="M76.83,32.561L59.392,50L76.83,67.439c2.594,2.594,2.594,6.798,0,9.392  c-1.296,1.296-2.995,1.945-4.694,1.945c-1.7,0-3.399-0.648-4.695-1.945L50,59.391l-17.44,17.44  c-1.296,1.296-2.995,1.945-4.695,1.945c-1.699,0-3.397-0.648-4.694-1.945c-2.594-2.593-2.594-6.797,0-9.392L40.608,50L23.17,32.561  c-2.594-2.594-2.594-6.798,0-9.392c2.593-2.592,6.795-2.592,9.389,0L50,40.609l17.44-17.44c2.594-2.592,6.796-2.592,9.389,0  C79.424,25.763,79.424,29.967,76.83,32.561z"/>
                    </svg>
                </button>
            </li>            
        </ul>
</div>
<script src="/js/plugins/noos/noos.file.js"></script>
<script src="/js/admin/jira.js"></script>
