<!doctype html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="ru" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ru" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ru" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="ru" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{page_title}}</title>
    <link rel="shortcut icon" href="/favicon.ico">

    <link href="/css/reset.css" rel="stylesheet" type="text/css">

    <link href="/css/jquery-ui.structure.min.css" rel="stylesheet" type="text/css">

    <link href="/css/noos.notice.css" rel="stylesheet" type="text/css">
    <link href="/css/noos.file.css" rel="stylesheet" type="text/css">
    <link href="/css/noos.slider.css" rel="stylesheet" type="text/css">
    <link href="/css/noos.select.css" rel="stylesheet" type="text/css">
    <link href="/css/noos.popup.css" rel="stylesheet" type="text/css">

    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <link href="/css/fonts.css" rel="stylesheet" type="text/css">
    
    <link href="/css/redactor.css" rel="stylesheet" type="text/css">
    
    <link href="/css/redactor.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery.tag-editor.css" rel="stylesheet" type="text/css">
    
    <link href="/css/admin.css" rel="stylesheet" type="text/css">


    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="/js/modernizr-2.7.2.js"></script>

    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery/jquery-2.1.1.min.js"%3E%3C/script%3E'))</script>
</head>

<body>
{{>svg-defs}}

<div id="page" class="{{{controller}}}">
    <header class="main">
        {{>user-panel}}
        <div class="sw bottom">
            <h1>
                <i><svg viewbox="0 0 253 115"><use xlink:href="#logo" /></svg></i><span>Основана Его Святейшеством<br> Бхакти Вигьяной Госвами</span>
            </h1>
            <h2>{{page_title}}</h2>
            <nav>
                {{#is_news}}<span class="active news"><span>Новости</span></span>{{/is_news}}
                {{^is_news}}<a class="news {{#is_news_page}}active{{/is_news_page}}" href="/admin/news"><span>Новости</span></a>{{/is_news}}
            
                {{#is_jira}}<span class="active"><span>Jira</span></span>{{/is_jira}}
                {{^is_jira}}<a href="/admin/jira"><span>Jira</span></a>{{/is_jira}}
                
                {{#is_pages}}<span class="active"><span>Страницы</span></span>{{/is_pages}}
                {{^is_pages}}<a class="pages {{#is_page}}active{{/is_page}}" href="/admin/page"><span>Страницы</span></a>{{/is_pages}}
                                
                {{#is_users}}<span class="active"><span>Пользователи</span></span>{{/is_users}}
                {{^is_users}}<a href="/admin/users"><span>Пользователи</span></a>{{/is_users}}
            </nav>
        </div>
    </header>
    {{>content}}
    <footer class="main">
        <div class="sw">
            
            <div class="row">
                <div class="column w-30 copy">
                    &copy; 1995–2016 goswami.ru
                </div>
            </div>
        </div>
    </footer>
</div>

    <script src="/js/jquery/jquery-2.1.1.min.js"></script>

    <script src="/js/plugins/jquery.history.js"></script>

    <script src="/js/jquery/jquery-ui.min.js"></script>

    <script src="/js/plugins/jquery.mousewheel.js"></script>
    <script src="/js/plugins/mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    
    <script src="/js/plugins/noos/noos.slider.js"></script>
    <script src="/js/plugins/audiojs/audio.js"></script>
    
    <script src="/js/admin/redactor.min.js"></script>
    <script src="/js/plugins/jquery.caret.min.js"></script>
    <script src="/js/plugins/jquery.tag-editor.js"></script>
</body>
</html>