<div class="content main" role="main"> <!-- CONTENT START -->
    <article class="post news">
        <form class="sw" method="POST" action="/admin/news/{{#id}}edit/{{{id}}}{{/id}}{{^id}}create{{/id}}">
            <header>
                <input type="text" name="title" id="title" value="{{title}}" />
            </header>
            
            <div class="o-h">
                <div class="text-content">
                    <div class="teaser">
                        <textarea id="teaser" name="teaser">{{{teaser}}}</textarea>
                    </div>
                    
                    <div class="body">
                        <textarea id="body" name="body">{{{body}}}</textarea>
                    </div>
                </div>
                
                <input type="hidden" name="content_items" id="content_items" />
                
                <ul class="objects list-inline">
                    {{#media_objects}}
                        <li>
                            <a href="/{{{link}}}" data-id="{{{id}}}" class="item {{type}}">
                                <i class="icon">
                                    <svg viewBox="0 0 16 16">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{type}}"></use>
                                    </svg>
                                </i>
                                <span>{{title}}</span>
                                <b></b>
                            </a>
                        </li>
                    {{/media_objects}}
                    <li>
                        <a class="add" href="#">
                                Прикрепить объект из каталога
                        </a>
                    </li>
                </ul>
                
                <div class="add-items-list">
                    <div class="search">
                            <i class="icon">
                                    <svg viewbox="0 0 16 16">
                                            <use xlink:href="#search" />
                                    </svg>
                            </i>
                            <input type="text" value="" placeholder="Поиск по заголовку">
                    </div>
                    <div class="filters">
                            <a href="#collection">
                                    <i class="icon">
                                            <svg viewbox="0 0 16 16">
                                                    <use xlink:href="#collection" />
                                            </svg>
                                    </i>
                                    <span>Диски</span>
                            </a>
                            <a href="#audio">
                                    <i class="icon">
                                            <svg viewbox="0 0 16 16">
                                                    <use xlink:href="#audio" />
                                            </svg>
                                    </i>
                                    <span>Аудио</span>
                            </a>
                            <a href="#video">
                                    <i class="icon">
                                            <svg viewbox="0 0 16 16">
                                                    <use xlink:href="#video" />
                                            </svg>
                                    </i>
                                    <span>Видео</span>
                            </a>
                            <a href="#book">
                                    <i class="icon">
                                            <svg viewbox="0 0 16 16">
                                                    <use xlink:href="#book" />
                                            </svg>
                                    </i>
                                    <span>Книги</span>
                            </a>
                            <a href="#article">
                                    <i class="icon">
                                            <svg viewbox="0 0 16 16">
                                                    <use xlink:href="#text" />
                                            </svg>
                                    </i>
                                    <span>Тексты</span>
                            </a>
                    </div>
                    <ul class="items">	
                    </ul>
                </div>
                
                <textarea id="tags" name="tags">{{{tags}}}</textarea>
                
                <div>
                    <input class="date" name="date" id="date" />
                </div>
            </div>
            
            <div class="buttons-block">
                <a href="/admin/news">← Назад к списку</a>
                
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </article>
</div>
<script src="/js/admin/newsupdate.js"></script>