<div class="filters-container"></div>
<div class="create-button-conainer">
    <a class="create-button" href="/admin/news/create">Создать новость</a>
</div>
<div class="content main news-list" role="main"> <!-- CONTENT START -->
    {{>admin/news-list}}
</div>

<script src="/js/admin/news.js"></script>