<div class="content main" role="main"> <!-- CONTENT START -->
    <article class="post news">
        <form class="sw" method="POST" action="/admin/page/{{#id}}edit/{{{id}}}{{/id}}{{^id}}create{{/id}}">
            <input type="hidden" name="id" id="id" value="{{{id}}}" />
            <header>
                <input type="text" name="title" id="title" value="{{title}}" />
            </header>
            <div class="bottom-margin">
                <label>алиас страницы</label>
                <input type="text" name="alias" id="alias" value="{{alias}}" />
            </div>
            <div class="o-h">
                <div class="text-content">                    
                    <div class="body">
                        <textarea id="body" name="body">{{{body}}}</textarea>
                    </div>
                </div>
                
                <div class="bottom-margin">
                    <input type="checkbox" name="is_in_main_menu" value="true" {{#is_in_main_menu}}checked="checked"{{/is_in_main_menu}} id="is_in_main_menu" />
                    <label for="is_in_main_menu">Показывать в главном меню</label>
                </div>
                
                <div>
                    <label>Родительская страница</label>
                    <select name="parent_id" id="parent_id">
                        {{#main_menu_pages}}
                            <option value="{{{id}}}" {{#is_parent}}selected="selected"{{/is_parent}}>{{title}}</option>
                        {{/main_menu_pages}}
                    </select>
                </div>
            </div>
            
            <div class="buttons-block">
                <a href="/admin/page">← Назад к списку</a>
                
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </article>
</div>
<script src="/js/admin/pageupdate.js"></script>