<div class="filters-container"></div>
<div class="create-button-conainer">
    <a class="create-button" href="/admin/page/create">Создать страницу</a>
</div>
<div class="content main pages-list" role="main"> <!-- CONTENT START -->
    {{>admin/pages-list}}
</div>

<script src="/js/admin/pages.js"></script>