<div id="myCarousel" class="carousel slide pull-left span5">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><img class="img-rounded" src="/content/img/parampara/bvgm-slides-1.jpg" width="600" alt="" ></div>
      <div class="item"><img class="img-rounded" src="/content/img/parampara/bvgm-slides-2.jpg" width="600" alt="" ></div>
      <div class="item"><img class="img-rounded" src="/content/img/parampara/bvgm-slides-3.jpg" width="600" alt="" ></div>
    </div>

</div>

<h2>Бхакти Вигьяна Госвами</h2>
<h3>президент Центра обществ сознания Кришны в России (ЦОСКР)</h3>
<article>
    <p>Бхакти Вигьяна Госвами (в миру - Тунеев Вадим Михайлович) родился в 1956 г. Детство и юность провел в Ташкенте,
        рос в семье ученых. С 1973 по 1978 гг. учится на химическом факультете МГУ им. Ломоносова, после чего продолжает учебу
        в Институте молекулярной биологии АН СССР. В процессе обучения в аспирантуре серьезно увлекся изучением ведической
        (древнеиндийской) философии и культуры, в частности, изложенной в трудах философов-вайшнавов традиции бенгальского
        бхакти. Получает духовное посвящение и духовное имя Вайдьянатх дас.</p>
    <p>За активную религиозную деятельность был уволен из НИИ, в котором занимался научной и исследовательской деятельностью.
        В 1988 году, спасаясь от преследований советских властей и спецслужб, вынужден был уехать в Швецию, где руководил
        изданием книг по ведической и вайшнавской философии на русском языке.</p>
    <p>В начале 1995 года возвращается в Россию и вскоре, благодаря своим лекциям и семинарам, охватывающим практически
        все аспекты ведических философии и культуры, становится одним из самых популярных известных вайшнавских проповедников
        в России и странах бывшего СССР.</p>
    <p>В августе 2001 г. получает монашеский статус саньяси и новое духовное имя Бхакти Вигьяна Госвами.</p>
    <p>Увлекается поэзией, музыкой, философией, историей. В совершенстве владеет английским, серьезно изучает санскрит, бенгали, хинди. Автор сборника поэтических переводов с бенгальского языка "Шаранагати". Поклонник хатха-йоги как эффективной оздоровительной системы для всех возрастов.</p>
    <p>ЦОСКР возглавляет с 1995 г. - после возвращения из эмиграции.</p>
    <p>Бхакти Вигьяна Госвами также член Общества деловых и культурных связей с Индией.</p>
</article>

<ul class="stories list-unstyled">
    <li class="clearfix">
        <h3><a href="/about-kd/">Кришнананда Дас о Госвами Махарадже</a></h3>
        <article>
            <img class="pull-left img-polaroid" width="88" alt="" src="/content/img/parampara/bvgm-second_pic2.jpg">
            <p>Невозможно понять возвышенного преданного. Чайтанья Махапрабху говорил Санатане Госвами...</p>
        </article>
    </li>
    <li class="clearfix">
        <h3><a href="/about-nectar/">Нектар Махараджа</a></h3>
        <article>
            <img class="pull-left img-polaroid" width="88" height="138" alt="" src="/content/img/parampara/bvgm-about-nectar200_small.jpg" title="">
            <p>Однажды на завтраке в Коршнасе Ади Прабху, старый преданный, ученик Шрилы Прабхупады, громогласно спросил: "Что в мире является самым сильным утверждением?" </p>
        </article>
    </li>
    <li class="clearfix">
        <h3><a href="/about-br/">Мой брат</a></h3>
        <article>
            <img class="pull-left img-polaroid" width="88" height="138" alt="" src="/content/img/parampara/bvgm-about-br-sm.jpg" title="">
            <p>Накануне принятия Вайдьянатхом прабху санньясы, в Сухарево, где я тогда находилась, позвонили преданные Вайшнавского Университета с просьбой составить его биографию. </p>
        </article>
    </li>
    <li class="clearfix">
        <h3><a href="/about-bg2/">Мой брат 2</a></h3>
        <article>
            <img class="pull-left img-polaroid" width="88" height="125" title="" alt="" src="/content/img/parampara/bvgm-pioner2-sm.jpg">
            <p>Время от времени, когда у нас в квартире что-то взрывалось, когда после фейерверков дым расползался по всему дому, из квартиры, что была напротив, выглядывал сосед, пожилой ученый-ихтиолог, и ругался. Мама в подобных случаях говорила: «Недаром тебя Вадимом назвали, ты отвечаешь сути этого имени». Вадим в переводе означает «смутьян», брат всегда что-то придумывал, экспериментировал, чем, порой, действительно смущал людей </p>
        </article>
    </li>
</ul>
<script type="text/javascript">
    $('.carousel').carousel({ interval: false });
</script>