<div class="row-fluid">
    <div id="main-ad" class="stub span4">
        <a href="/disks"><img src="/img/disk-adv.png" alt="Disk" /></a>
    </div>
    <div id="secondary-ad" class="span8">
        <div class="row-fluid">
            <div class="span6 stub"><a href="/books"><img src="/img/book-adv.png" alt="Disk" /></a></div>
            <div class="span6"><a href="/disks"><img src="/img/relationships-adv.png" alt="Disk" /></a></div>
        </div>
        <div class="row-fluid">
            <div class="span6"><a href="/books"><img src="/img/enter-mathura-adv.png" alt="Disk" /></a></div>
            <div class="span6 stub"><a href="/disks"><img src="/img/disk-small-adv.png" alt="Disk" /></a></div>
        </div>
    </div>
</div>