<footer>
    <div class="tags">
        {{#date}}<span class="date"><i><svg viewbox="0 0 16 16"><use xlink:href="#calendar" /></svg></i><span>{{date}}</span></span>{{/date}}
        {{#is_in_collection}}<i><svg viewbox="0 0 16 16"><use xlink:href="#disc" /></svg></i>{{/is_in_collection}}
        {{#content_type}}<i><svg viewbox="0 0 16 16"><use xlink:href="#{{content_type}}" /></svg></i>{{/content_type}}
        {{#authors}}
        <a href="#"><i><svg viewBox="0 0 16 16"><use xlink:href="#people" /></svg></i><span>{{name}}</span></a>
        {{/authors}}
        {{#venue}}<a href="#"><i><svg viewbox="0 0 16 16"><use xlink:href="#mark" /></svg></i><span>{{venue.name}}</span></a>{{/venue}}
        {{#tags}}
        <a href="/{{{link}}}"  data-id="{{{id}}}"><i><svg viewbox="0 0 16 16"><use xlink:href="#tag" /></svg></i><span>{{tag}}</span></a>
        {{/tags}}
    </div>
</footer>