<div id="{{id}}" class="tab sw">
    <div class="close-c w-80"><a class="close" href="#"></a></div>
    <h2><a href="/{{{link}}}">{{title}}</a></h2>
    <div class="row">
        <div class="column w-80">
            {{{teaser}}}

            <ul {{^sub_collection_items}}style="display:none"{{/sub_collection_items}} class="subcollections-list">
                {{#sub_collection_items}}
                <li>
                    <i><svg viewbox="0 0 20 20"><use xlink:href="#collection" /></svg></i><span>{{title}}</span>
                    <ol {{^linked_medias}}style="display:none"{{/linked_medias}}>
                        {{#linked_medias}}
                        <li>
                            {{^visible}}{{title}}{{/visible}}
                            {{#visible}}<a href="/{{{link}}}">{{title}}</a>{{/visible}}
                            <span class="f-r">{{time}}</span>
                        </li>
                        {{/linked_medias}}
                    </ol>
                </li>
                {{/sub_collection_items}}
            </ul>


            <ol {{^content_items}}style="display:none"{{/content_items}}>
                {{#content_items}}
                    <li>
                        {{^visible}}{{title}}{{/visible}}
                        {{#visible}}<a href="/{{{link}}}">{{title}}</a>{{/visible}}
                        <span class="f-r">{{time}}</span></li>
                {{/content_items}}
            </ol>
        </div>
        <div class="column w-20 ta-c sidebar">
            <img alt="{{title}}" height="180" src="{{^cover_img_uri}}/img/{{content_type}}-default.png{{/cover_img_uri}}{{{cover_img_uri}}}">
            <a class="btn-green" href="/studio/#filial"><i><svg viewbox="0 0 20 20"><use xlink:href="#order" /></svg></i><span>Заказать диск</span></a>
            <!--a class="btn-green" href="{{{download_uri}}}"><i><svg viewbox="0 0 20 20"><use xlink:href="#arrow-down-circle" /></svg></i><span>Скачать диск</span></a-->
        </div>
    </div>
    {{>bottom}}
</div>
