<div class="login-panel top">
    <div class="sw">
        <div class="buttons ta-r">
            <a class="regist" href="#block-regist">Зарегистрироваться</a>
            <a class="login" href="#block-login">Войти</a>
            <a class="help" href="#block-help">?</a>
        </div>
        {{>user-details}}
        <div id="block-login" class="block clear" style="height: 0px; overflow: hidden;">
            <div class="step step-1">
                <div class="row">
                    <div class="column column-center w-30 ta-c">
                        <form method="POST" action="/account/logon" class="type-2">
                            <label for="logon-email">эл. почта</label>
                            <input name="email" id="logon-email" type="email" value="">
                            <label for="logon-password">пароль</label>
                            <input name="password" id="logon-password" type="password" value="">
                            <ul class="errors">

                            </ul>
                            <div class="buttons">
                                <button type="submit" class="btn-grey submit">Войти</button><br>
                                <span class="btn-1 toggle-step">Забыли пароль?</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="step step-2">
                <div class="row">
                    <div class="column column-center w-30 ta-c">
                        <form class="type-2" method="POST" action="/account/forgotpassword">
                            <label for="forgot-email">Введите адрес эл. почты и мы отправим вам новый пароль для входа</label>
                            <input name="email" id="forgot-email" type="email" value="">
                            <ul class="errors">

                            </ul>
                            <div class="buttons">
                                <button type="submit" class="btn-grey submit">Отправить</button><br>
                                <span class="btn-1 toggle-step">Войти</span>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div id="block-help" class="block clear" style="height: 0px; overflow: hidden;">
            <div class="row">
                <div class="column w-40">
                    <h2>Зачем регистрироваться?</h2>
                    <h4>Харе Кришна, дорогой друг!<br> Примите поклоны всей нашей команды.<br> Слава Шриле Прабхупаде!</h4>
                    <p>Этот сайт создан для последователей Шрилы Прабхупады, учеников Бхакти Вигьяны Госвами, всех вайшнавов, всех кто интересуется ведическим знанием, всех кто хочет изучить науку о Боге и достичь совершенства в жизни.</p>
                </div>
                <div class="column w-40 f-r">
                    <p>Зачем регистрироваться на сайте? А вы и не обязаны :), просто мы хотим, чтобы наши отношения были более открытыми, личностными, мы хотим знать кто вы, наш гость.</p>
                    <h3>Что вы получите за регистрацию?</h3>
                    <ol>
                        <li>Доступ к материалам на сайте до того как они публикуются на дисках!</li>
                        <li>Регулярные уведомления о новых материалах на сайте.</li>
                        <li>Вместе с нами принять участие в миссии Шрилы Прабхупады.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>