{{#items}}
    <article class="post text {{#object_only}}object-only{{/object_only}}">
        <section class="sw content-article">
            {{^object_only}}
            <header>
                <h2><a href="/{{{link}}}" data-id="{{{id}}}">{{title}}</a></h2>
            </header>
            <div class="o-h">
                <ul class="nav">
                    <li class="text"><a href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#text2-circle" /></svg></i><span>Текст</span></a></li>
                </ul>
                <div class="info-content">
                    <div class="indent">
                        {{{teaser}}}
                    </div>
                </div>
                <div class="text-content">
                    <div class="indent">
                        {{{body}}}
                    </div>
                </div>
            </div>
            {{/object_only}}

            {{{major_media_object_html}}}

            {{^object_only}}
            <ul class="objects list-inline" {{^minor_media_objects}}style="display:none"{{/minor_media_objects}}>
                {{#minor_media_objects}}
                    <li>
                        <a href="/{{{link}}}" target="_blank" data-id="{{{id}}}" class="{{type}}">
                                <i class="icon">
                                    <svg viewBox="0 0 16 16">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{type}}"></use>
                                    </svg>
                                </i>
                                <span>{{title}}</span>
                            </a>
                    </li>
                {{/minor_media_objects}}
            </ul>
            {{/object_only}}
        
            {{>bottom}}
        </section>
    </article>
{{/items}}
<div class="sw">{{{paginator}}}</div>