<div class="list-els" {{^related_items}}style="display:none"{{/related_items}}>
     <div class="sw">
        <ul>
            {{#related_items}}
                {{^is_picture_view}}
                <li>
                    <div class="el hover">
                        <h4><a href="/{{{link}}}">{{title}}</a></h4>
                        <div class="o-1"><i><svg viewbox="0 0 16 16"><use xlink:href="#people" /></svg></i><span>Бхакти Вигьяна Госвами</span></div>
                        {{#venue}}<div class="o-2"><i><svg viewbox="0 0 16 16"><use xlink:href="#mark" /></svg></i><span>{{venue.name}}</span></div>{{/venue}}
                        {{#occurrence_date}}
                            <div class="o-3">
                                <i><svg viewbox="0 0 16 16"><use xlink:href="#calendar" /></svg></i><span>{{occurrence_date}}</span>
                            </div>
                        {{/occurrence_date}}
                        <div class="o-4">
                            <i><svg viewbox="0 0 16 16"><use xlink:href="#{{type}}" /></svg></i>
                        </div>
                    </div>
                </li>
                {{/is_picture_view}}
                {{#is_picture_view}}
                <li>
                    <a class="disc" href="/{{{link}}}">
                        <span class="hover">
                            <img alt="{{title}}" height="180" src="{{^img_uri}}/img/collection-default.png{{/img_uri}}{{{img_uri}}}">
                        </span>
                        <strong>{{title}}</strong>
                    </a>
                </li>
                {{/is_picture_view}}
            {{/related_items}}
        </ul>
    </div>
</div>