{{#has_items}}
{{#first_half_no_books_nor_collections_items}}
    {{{.}}}
{{/first_half_no_books_nor_collections_items}}

<article class="tabs" {{^first_half_books_and_collections_items}}style="display:none;"{{/first_half_books_and_collections_items}}>
    <header class="sw">
        {{#first_half_books_and_collections_items}}
            <a href="#{{{id}}}" class="{{content_type}}">
                <img alt="{{title}}" height="180" src="{{^cover_img_uri}}/img/{{content_type}}-default.png{{/cover_img_uri}}{{{cover_img_uri}}}">
                {{^cover_img_uri}}<span class="default-image-label">{{title}}</span>{{/cover_img_uri}}
                <span>{{title}}</span>
            </a>
        {{/first_half_books_and_collections_items}}
    </header>
    <div class="content">
        <div class="arrow"></div>
    </div>
</article>

<article class="tabs" {{^second_half_books_and_collections_items}}style="display:none;"{{/second_half_books_and_collections_items}}>
    <header class="sw">
        {{#second_half_books_and_collections_items}}
            <a href="#{{{id}}}" class="{{content_type}}">
                <img alt="{{title}}" height="180" src="{{^cover_img_uri}}/img/{{content_type}}-default.png{{/cover_img_uri}}{{{cover_img_uri}}}">
                {{^cover_img_uri}}<span class="default-image-label">{{title}}</span>{{/cover_img_uri}}
                <span>{{title}}</span>
            </a>
        {{/second_half_books_and_collections_items}}
    </header>
    <div class="content">
        <div class="arrow"></div>
    </div>
</article>

{{#second_half_no_books_nor_collections_items}}
    {{{.}}}
{{/second_half_no_books_nor_collections_items}}

<div class="sw">{{{paginator}}}</div>
{{/has_items}}
{{^has_items}}
    <p class="sw no-items">Не удалось найти что-либо по вашему запросу. Попробуйте смягчить критерии поиска.</p>
{{/has_items}}