<div style="display:none">
    <svg width="0" height="0">
    <defs>
        <!-- Patterns  -->
        <path id="home" d="M100 59.375l-18.75-18.75v-28.125h-12.5v15.625l-18.75-18.75-50 50v3.125h12.5v31.25h31.25v-18.75h12.5v18.75h31.25v-31.25h12.5z" transform="translate(2, 2) scale(.95)"/>

        <path id="collection" transform="scale(1)" d="M8,16c4.4,0,8-3.6,8-8c0-4.4-3.6-8-8-8C3.6,0,0,3.6,0,8C0,12.4,3.6,16,8,16z
              M8,2c3.3,0,6,2.7,6,6c0,3.3-2.7,6-6,6s-6-2.7-6-6C2,4.7,4.7,2,8,2z M4,8c0-2.2,1.8-4,4-4V3C5.2,3,3,5.2,3,8H4z M5,8
              c0,1.7,1.3,3,3,3c1.7,0,3-1.3,3-3c0-1.7-1.3-3-3-3C6.3,5,5,6.3,5,8z M8,7c0.6,0,1,0.4,1,1c0,0.6-0.4,1-1,1C7.4,9,7,8.6,7,8
              C7,7.4,7.4,7,8,7z M8,12v1c2.8,0,5-2.2,5-5h-1C12,10.2,10.2,12,8,12z"/>
        <path id="tag" transform="scale(1)" d="M6,4.5C6,5.3,5.3,6,4.5,6S3,5.3,3,4.5C3,3.8,3.5,3,4.4,3C5.3,3,6,3.4,6,4.5z
              M1,1v6c0,0.8,0.3,1.5,0.9,2.1l5,5c1.2,1.2,3.1,1.2,4.2,0l3-3c1.2-1.2,1.2-3.1,0-4.2l-5-5C8.5,1.3,7.8,1,7,1H1z"/>
        <path id="audio" transform="scale(1)" d="M8,13c-3.3,0-6-2.7-6-6c0-0.6,0.4-1,1-1c0.6,0,1,0.4,1,1c0,2.2,1.8,4,4,4
              c2.2,0,4-1.8,4-4c0-0.6,0.4-1,1-1c0.6,0,1,0.4,1,1C14,10.3,11.3,13,8,13z M11,3c0,0.3,0,4,0,4c0,1.7-1.3,3-3,3c-1.7,0-3-1.3-3-3
              V3c0-0.8,0.9-3,3-3C10.2,0,11,2.2,11,3z
              M4,16h8v-1H9v-2H7v2H4V16z"/>
        <path id="video" transform="scale(1)" d="M8,13c-6,0-8-5-8-5s2-5,8-5c6,0,8,5,8,5S14,13,8,13z M8,5C6.3,5,5,6.3,5,8
              c0,1.7,1.3,3,3,3c1.7,0,3-1.3,3-3C11,6.3,9.7,5,8,5z M8,10c-1.1,0-2-0.9-2-2h2L6.6,6.6C6.9,6.2,7.4,6,8,6c1.1,0,2,0.9,2,2
              C10,9.1,9.1,10,8,10z"/>
        <path id="book" transform="scale(1)" d="M15,14c-1.5,0.1-4.4,0.3-6,1.2C8.9,15.6,8.5,16,8,16c-0.5,0-0.9-0.4-1-0.8
              c-1.6-0.8-4.5-1.1-6-1.2c-0.6,0-1-0.4-1-1V1c0-0.6,0.4-1,1-1c0,0,0.1,0,0.1,0C8,0.2,8,2,8,2s0-1.8,6.9-2c0,0,0.1,0,0.1,0
              c0.6,0,1,0.4,1,1v12C16,13.6,15.6,14,15,14z M7,3.1c-1.3-0.7-3.4-0.9-5-1v10c2.7,0.1,4.2,0.5,5,0.9V3.1z M14,2.1
              c-1.6,0.1-3.7,0.4-5,1V13c0.8-0.4,2.3-0.8,5-0.9V2.1z M13,4v2c0,0-3,0-3,1V5C10,5,10,4,13,4z M13,8v2c0,0-3,0-3,1V9
              C10,9,10,8,13,8z M6,5v2c0-1-3-1-3-1V4C6,4,6,5,6,5z M6,9v2c0-1-3-1-3-1V8C6,8,6,9,6,9z"/>
        <path id="text" transform="scale(1)" d="M2,2.5h12v2l-12,0V2.5z
              M2,11.5h6v2H2V11.5z
              M2,8.5l10,0v2l-10,0V8.5z
              M2,5.5h8v2H2V5.5z"/>
        <path id="text2" transform="scale(0.6) translate(-1, -1)" d="M4,10h7v2H4V10z
              M4,4h8v2H4V4z
              M4,7h6v2H4V7z"/>
        <path id="text2-circle" fill-rule="evenodd" clip-rule="evenodd" d="M10,0c5.5,0,10,4.5,10,10c0,5.5-4.5,10-10,10S0,15.5,0,10C0,4.5,4.5,0,10,0z
              M10,19c5,0,9-4,9-9c0-5-4-9-9-9c-5,0-9,4-9,9C1,15,5,19,10,19z
              M6,12h7v2H6V12z
              M6,6h8v2H6V6z
              M6,9h6v2H6V9z"/>

        <path id="arrow-down" transform="scale(0.6) translate(0.5, 0)" d="M7,3h2v7l3-3l1,2l-5,5L3,9l1-2l3,3V3z"/>
        <path id="arrow-down-circle" d="M10,0c5.5,0,10,4.5,10,10c0,5.5-4.5,10-10,10S0,15.5,0,10C0,4.5,4.5,0,10,0z
              M10,19c5,0,9-4,9-9c0-5-4-9-9-9c-5,0-9,4-9,9C1,15,5,19,10,19z
              M9,5h2v7l3-3l1,2l-5,5l-5-5l1-2l3,3V5z"/>

        <path id="i" transform="scale(0.65) translate(-0.5, -0.5)" d="M6,13h4v-1H9V6H6v1h1v5H6V13z
              M8,3c0.7,0,1,0.3,1,1c0,0.7-0.3,1-1,1C7.3,5,7,4.7,7,4C7,3.3,7.3,3,8,3z"/>

        <path id="i-circle" fill-rule="evenodd" clip-rule="evenodd" d="M8,15h4v-1h-1V8H8v1h1v5H8V15z
              M10,5c0.7,0,1,0.3,1,1c0,0.7-0.3,1-1,1C9.3,7,9,6.7,9,6C9,5.3,9.3,5,10,5z
              M10,0c5.5,0,10,4.5,10,10c0,5.5-4.5,10-10,10S0,15.5,0,10C0,4.5,4.5,0,10,0z
              M10,19c5,0,9-4,9-9c0-5-4-9-9-9c-5,0-9,4-9,9C1,15,5,19,10,19z"/>

        <path id="people" transform="scale(1)" d="M10.1,11c-0.1-0.6,0-1.1,0-1.7c0.3-0.2,0.9-1.1,1-1.9c0.2,0,0.6-0.2,0.7-1.1c0.1-0.5-0.2-0.7-0.3-0.8
              C12,3.7,11.6,1.1,9,0.6C8.8,0.2,8.4,0,8,0C7.6,0,7.2,0.2,7,0.6C4.3,1.1,4,3.7,4.6,5.5C4.5,5.6,4.2,5.8,4.3,6.3
              C4.4,7.2,4.8,7.4,5,7.4c0.1,0.8,0.7,1.8,1,1.9c0,0.6,0,1,0,1.7c-0.7,1.9-5.7,1.3-5.9,5h16C15.8,12.4,10.8,12.9,10.1,11z"/>
        <path id="calendar" transform="scale(1)" d="M13,16H3c-1.7,0-3-1.3-3-3V3c0-1.3,0.8-2.4,2-2.8v1.3C2,2.3,2.7,3,3.5,3
              C4.3,3,5,2.3,5,1.5V0h6v1.5C11,2.3,11.7,3,12.5,3C13.3,3,14,2.3,14,1.5V0.2c1.2,0.4,2,1.5,2,2.8v10C16,14.6,14.7,16,13,16z M14,5
              H2v8c0,0.6,0.4,1,1,1h10c0.6,0,1-0.4,1-1V5z M10,10h2v2h-2V10z M10,7h2v2h-2V7z M7,10h2v2H7V10z M7,7h2v2H7V7z M4,10h2v2H4V10z
              M4,7h2v2H4V7z M12.5,2C12.2,2,12,1.7,12,1.5V0h1v1.5C13,1.7,12.8,2,12.5,2z M3.5,2C3.2,2,3,1.7,3,1.5V0h1v1.5C4,1.7,3.8,2,3.5,2
              z"/>
        <path id="calendar2" transform="scale(1) " d="M4,10v2h2v-2H4z
              M7,10v2h2v-2H7z
              M10,12h2v-2h-2V12z
              M4,7v2h2V7H4z
              M7,7v2h2V7H7z
              M10,9h2V7h-2V9z
              M4,4v2h8V4H4z"/>
        <path id="mark" transform="scale(1)" d="M8,0C4.7,0,2,2.7,2,6c0,3.3,6,10,6,10s6-6.7,6-10C14,2.7,11.3,0,8,0z M12,6c0,2.2-1.8,4-4,4S4,8.2,4,6c0-2.2,1.8-4,4-4
              S12,3.8,12,6z M10,6c0,1.1-0.9,2-2,2C6.9,8,6,7.1,6,6s0.9-2,2-2C9.1,4,10,4.9,10,6z"/>
        <path id="search" transform="scale(1)" d="M15,13l-3.3-3.3c0.6-0.9,0.9-2,0.9-3.2c0-3.3-2.7-6-6-6c-3.3,0-6,2.7-6,6c0,3.3,2.7,6,6,6c1.2,0,2.2-0.3,3.2-0.9L13,15
              c0.5,0.5,1.4,0.5,2,0C15.6,14.5,15.6,13.6,15,13z M6.6,10.8c-2.3,0-4.2-1.9-4.2-4.2c0-2.3,1.9-4.2,4.2-4.2s4.2,1.9,4.2,4.2
              C10.8,8.9,8.9,10.8,6.6,10.8z"/>


        <path id="AR" transform="scale(1)" d="M4.2,4h1.3l2.2,5.8H6.4L6,8.5H3.8L3.3,9.8H2L4.2,4z M5.6,7.6L4.9,5.4h0L4.1,7.6H5.6z
              M9.4,9.7C9,9.6,8.7,9.4,8.5,9.1C8.2,8.8,8.1,8.4,8.1,8c0-0.3,0.1-0.6,0.2-0.8c0.1-0.2,0.3-0.4,0.4-0.6
              c0.2-0.1,0.4-0.3,0.6-0.3c0.2-0.1,0.5-0.1,0.8-0.1H13V12h-1.3V9.8h-0.9L9.2,12H7.6L9.4,9.7z M11.7,8.9V7.2h-1.3
              c-0.1,0-0.3,0-0.4,0c-0.1,0-0.2,0.1-0.3,0.1C9.6,7.4,9.5,7.5,9.5,7.6C9.4,7.7,9.4,7.8,9.4,8c0,0.2,0,0.3,0.1,0.4
              c0.1,0.1,0.1,0.2,0.3,0.3c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4,0H11.7z"/>

        <path id="logo" transform="scale(1)" d="M53.1,65.8c0-2.3,1.5-4,3.6-5.2c-1.2-0.7-1.9-1.7-1.9-3.2c0-2,1.1-3.2,2.4-4c-2.4-1.3-3.7-3.6-3.7-6.4
              c0-4.6,3.5-7.7,9.4-7.7c1.4,0,2.7,0.2,3.8,0.5h7.7v3.8h-2.9c0.6,1,0.9,2.2,0.9,3.4c0,4.5-3.2,7.7-9.1,7.7c-0.9,0-1.7,0-2.5-0.2
              c-0.5,0.3-0.8,0.7-0.8,1.2c0,1.1,1.2,1.3,4.3,1.5c4.4,0.2,10,0.3,10,6.5c0,4.5-4.7,7.7-11.6,7.7C56.6,71.4,53.1,69.6,53.1,65.8z
              M68.3,64.4c0-2.3-2-2.2-5.1-2.4c-1-0.1-2-0.1-2.9-0.3c-1.1,0.8-1.7,1.7-1.7,3c0,1.7,1.2,2.9,4.1,2.9
              C66.3,67.5,68.3,66.2,68.3,64.4z M66.7,47c0-2.5-1.4-3.9-3.8-3.9c-2.4,0-3.8,1.4-3.8,3.9c0,2.4,1.4,3.9,3.8,3.9
              C65.2,50.9,66.7,49.5,66.7,47z M74.3,50.5c0-5.4,3.2-11.2,10.6-11.2c7.4,0,10.8,5.6,10.8,11c0,5.3-3.3,11.2-10.7,11.2
              C77.6,61.5,74.3,55.9,74.3,50.5z M89.5,50.5c0-4-1.4-6.9-4.7-6.9c-3.3,0-4.4,2.7-4.4,6.7c0,4,1.3,6.8,4.6,6.8
              C88.4,57.2,89.5,54.5,89.5,50.5z M95.9,59.9l2-4.1c0.9,0.4,3.4,1.4,5.8,1.4c2.2,0,3.5-0.7,3.5-1.9c0-1.4-2.4-1.8-5.4-3.3
              c-3-1.4-4.7-3-4.7-6.3c0-4,3.1-6.5,7.9-6.5c2.7,0,5.2,0.5,6.6,1l-1.6,4.1c-1.8-0.6-3.1-0.8-4.8-0.8c-2,0-2.9,0.7-2.9,1.9
              c0,1.4,1.9,1.8,4.4,2.8c3.4,1.4,5.8,2.9,5.8,6.5c0,4.4-3.2,6.8-8.4,6.8C100.2,61.5,97.3,60.5,95.9,59.9z M112.6,39.8h6.2l3.2,13.5
              h0.1l3.6-13.5h5.4l3.6,13.6h0.1l3.3-13.6h5.8L137.9,61h-5.2l-4.4-14.2h-0.1L123.9,61h-5.2L112.6,39.8z M143.8,55.6
              c0-5.5,5.7-7.5,11.3-7.5h0.7v-1.2c0-2-0.9-3-3.4-3c-1.8,0-3.8,0.5-5,1.2l-1.6-4.2c1.9-1,4.5-1.5,7.3-1.5c5.8,0,8.5,2.2,8.5,7.8
              v7.6c0,2.9,0.3,4.9,0.6,6.3h-5.7c-0.2-0.5-0.3-1.6-0.3-2.3c-1.1,1.4-3.2,2.8-6,2.8C146.5,61.5,143.8,59.4,143.8,55.6z M155.8,55.5
              v-3.8h-0.7c-3.4,0-5.7,1-5.7,3.5c0,1.6,1.3,2.2,2.6,2.2C153.7,57.3,154.9,56.5,155.8,55.5z M165,39.8h5.7v2.6
              c1.1-1.2,3-3.1,6.4-3.1c3,0,4.7,1.3,5.4,3.3c1.8-2,3.7-3.3,6.8-3.3c4.5,0,6.1,3,6.1,6.9V61h-5.8V47.4c0-2.1-0.6-3.2-2.5-3.2
              c-1.8,0-3.1,1.4-4,2.4V61h-5.8V47.4c0-2.1-0.7-3.2-2.5-3.2c-2.1,0-3.5,2-4,2.6V61H165V39.8z M198.1,33.6c0-1.8,1.5-3.4,3.5-3.4
              c2,0,3.6,1.6,3.6,3.4c0,1.9-1.5,3.5-3.6,3.5C199.6,37.1,198.1,35.5,198.1,33.6z M198.7,39.8h5.8V61h-5.8V39.8z M207.8,57.7
              c0-2.1,1.7-3.7,3.9-3.7c2.1,0,3.8,1.6,3.8,3.7c0,2.1-1.7,3.7-3.8,3.7C209.5,61.5,207.8,59.8,207.8,57.7z M218.5,39.8h5.8v2.9
              c0.9-1.6,2.7-3.4,5.4-3.4c1.6,0,2.9,0.4,3.4,0.7l-1.9,4.8c-0.5-0.3-1.5-0.5-2.3-0.5c-2.6,0-4.1,2.4-4.6,3.3V61h-5.8V39.8z
              M233.7,54.7V39.8h5.8v13.7c0,2.1,0.7,3.2,2.8,3.2c2.2,0,3.9-2.1,4.4-2.7V39.8h5.8v15.1c0,2.7,0.3,4.8,0.6,6.1h-5.7
              c-0.2-0.6-0.4-2-0.4-2.8c-1.1,1.4-3.3,3.3-6.8,3.3C235.4,61.5,233.7,58.5,233.7,54.7z M55.8,31.8l0.9-1.6c0.5,0.3,1.6,1,3,1
              c1.5,0,2.4-0.6,2.4-1.6c0-1.1-1-1.5-2.8-2.3c-1.9-0.8-3.3-1.7-3.3-3.7c0-2,1.5-3.4,4-3.4c2,0,3.3,0.8,3.7,1.1l-1,1.6
              c-0.4-0.3-1.4-0.9-2.7-0.9c-1.3,0-2,0.6-2,1.6c0,1.1,1,1.5,2.4,2.1c2,0.8,3.7,1.7,3.7,3.8c0,2.3-1.7,3.7-4.5,3.7
              C58,33,56.6,32.4,55.8,31.8z M67.5,29.6v-7.5h-2v-1.7h2v-3.5h2.1v3.5h3.1v1.7h-3.1v7.2c0,1.2,0.4,1.8,1.4,1.8
              c0.8,0,1.4-0.4,1.7-0.5l0.7,1.6C73,32.5,72.1,33,70.7,33C68.5,33,67.5,31.7,67.5,29.6z M75.1,29.1v-8.7h2.2v8.3
              c0,1.5,0.5,2.4,2.1,2.4c1.7,0,3.1-1.8,3.3-2.1v-8.5h2.2v9.5c0,1.1,0.1,2.2,0.3,2.8H83c-0.1-0.3-0.2-1.2-0.2-1.8
              c-0.6,0.8-1.9,2.1-4,2.1C76.2,33,75.1,31.3,75.1,29.1z M86.7,26.6c0-3.9,2.3-6.4,5.4-6.4c1.3,0,2.3,0.4,3.1,1v-6.8h2.1V30
              c0,1,0.2,2,0.3,2.7h-2.2c-0.1-0.3-0.2-0.9-0.2-1.4c-0.8,1-2,1.7-3.5,1.7C88.8,33,86.7,30.7,86.7,26.6z M95.2,29.5V23
              c-0.7-0.7-1.6-1-2.8-1c-2.2,0-3.4,1.9-3.4,4.6c0,2.7,0.9,4.6,3.3,4.6C93.4,31.1,94.5,30.5,95.2,29.5z M99.9,16.8
              c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5C100.5,18.3,99.9,17.6,99.9,16.8z M100.3,20.4h2.2v12.2h-2.2
              V20.4z M104.8,26.6c0-2.9,1.5-6.4,5.7-6.4c4.2,0,5.9,3.5,5.9,6.4c0,2.9-1.7,6.5-5.9,6.5C106.4,33,104.8,29.5,104.8,26.6z
              M114.2,26.6c0-2.5-1.2-4.7-3.6-4.7c-2.4,0-3.4,2-3.4,4.6c0,2.6,1.1,4.7,3.5,4.7C113.1,31.2,114.2,29.1,114.2,26.6z M41.8,58.6
              c0,13.3-7.6,18.3-14,20.1c-0.2,0-0.2,0.2,0,0.2C33,79.9,39,84.7,39,91.3c0,12.5-13.4,14.7-18.2,23.7c-4.8-9-18.1-11.2-18.2-23.7
              c0-6.6,6-11.4,11.2-12.4c0.2,0,0.1-0.2,0-0.2C7.6,76.9,0,71.9,0,58.6V21C0,2.1,15.8,0,20.9,0s20.9,2.1,20.9,21v11.7H30.6V19.1
              c0-11.9-6.7-12.6-9.8-12.6s-9.8,0.7-9.8,12.6v41.5c0,11.9,6.7,12.6,9.8,12.6s9.8-0.7,9.8-12.6V47h-7.2v-7.2h18.3l0,0V58.6z"/>

        <path id="logo-1" transform="scale(1)" d="M40,34.3C40,34.3,40,34.3,40,34.3L40,34.3c-0.6,0.1-1.1,0.6-1.4,1.1c-0.2,0.3-0.3,0.6-0.3,1c0,0,0,0,0,0l0,0c0,0,0,0,0,0
              l0,0c0.1-0.1,0.2,0,0.2,0c0.1,0.1,0.1,0.2,0,0.2l0,0c0,0,0,0,0,0c0,0,0,0,0,0l0,0c0,0,0.1,0,0.1,0c0,0,0,0.1,0,0.2l0,0
              c-0.2,0.2-0.7,0.9,0,1.6c1.4,1.4,2.8,1.7,3.7,2.6c0.8,0.8,0.3,1.5,0.1,1.6c-0.2,0.2-0.8,0.7-1.6-0.1c-0.9-0.9-1.2-2.3-2.6-3.7
              c-0.7-0.7-1.4-0.2-1.6,0l0,0l0,0c0,0-0.1,0-0.2,0c0,0,0-0.1,0-0.1v0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0-0.2,0-0.2,0
              c-0.1-0.1-0.1-0.2,0-0.2l0,0c0,0,0,0,0,0l0,0c0,0,0,0,0,0c-0.4,0.1-0.7,0.1-1,0.3c-0.7,0.5-1,1.7-1.7,2c-0.8,0.3-1.8-0.4-2.7-0.2
              c-0.3,0.1-0.6,0.3-0.9,0.5c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0v0c0.1,0,0.2,0.1,0.2,0.2c0,0.1-0.1,0.2-0.1,0.2l0,0c0,0,0,0,0,0
              c0,0,0,0,0,0l0,0c0,0,0.1,0.1,0.1,0.1c0,0.1-0.1,0.1-0.1,0.1l0,0l0,0c-0.3,0-1.1,0.2-1.1,1.2c0,2,0.7,3.2,0.7,4.5
              c0,1.2-0.9,1.2-1.1,1.2c-0.2,0-1.1-0.1-1.1-1.2c0-1.3,0.7-2.5,0.7-4.5c0-1-0.8-1.2-1.1-1.2l0,0l0,0c-0.1,0-0.1,0-0.1-0.1
              c0,0,0-0.1,0.1-0.1l0,0c0,0,0,0,0,0c0,0,0,0,0,0l0,0c-0.1,0-0.1-0.1-0.1-0.2c0-0.1,0.1-0.2,0.2-0.2v0c0,0,0,0,0,0c0,0,0,0,0,0
              l0,0c-0.3-0.2-0.6-0.4-0.9-0.5c-0.8-0.2-1.9,0.5-2.6,0.2c-0.8-0.3-1.1-1.6-1.7-2c-0.3-0.2-0.6-0.3-1-0.3c0,0,0,0,0,0l0,0
              c0,0,0,0,0,0h0c0.1,0.1,0,0.2,0,0.2c-0.1,0.1-0.2,0.1-0.2,0c0,0,0,0,0,0c0,0,0,0,0,0l0,0l0,0c0,0,0,0.1,0,0.1c0,0-0.1,0-0.2,0
              l0,0c-0.2-0.2-0.9-0.7-1.6,0c-1.4,1.4-1.7,2.8-2.6,3.7c-0.8,0.8-1.5,0.3-1.6,0.1c-0.2-0.2-0.7-0.8,0.1-1.6
              c0.9-0.9,2.3-1.2,3.7-2.6c0.7-0.7,0.2-1.4,0-1.6l0,0l0,0c0,0,0-0.1,0-0.2c0,0,0.1,0,0.1,0h0c0,0,0,0,0,0c0,0,0,0,0,0h0
              c0-0.1,0-0.2,0-0.2c0.1-0.1,0.2-0.1,0.2,0l0,0c0,0,0,0,0,0l0,0c0,0,0,0,0,0c-0.1-0.4-0.1-0.7-0.3-1c-0.3-0.4-0.8-0.9-1.4-1
              c0,0,0,0,0,0c0,0,0,0,0,0c1.2,0.2,1.4,0.3,3.5,2.4c2.1,2.1,4.9,3.3,8,3.3c3.1,0,6-1.3,8-3.3C38.5,34.6,38.7,34.5,40,34.3L40,34.3
              C40,34.3,40,34.3,40,34.3z M40,22.8L40,22.8c-0.6-0.1-1.1-0.6-1.4-1c-0.2-0.3-0.3-0.6-0.3-1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0
              l0,0c0.1,0.1,0.2,0,0.2,0c0.1-0.1,0.1-0.2,0-0.2l0,0c0,0,0,0,0,0c0,0,0,0,0,0l0,0c0,0,0.1,0,0.1,0c0,0,0-0.1,0-0.2l0,0
              c-0.2-0.2-0.7-0.9,0-1.6c1.4-1.4,2.8-1.7,3.7-2.6c0.8-0.8,0.3-1.5,0.1-1.6c-0.2-0.2-0.8-0.7-1.6,0.1c-0.9,0.9-1.2,2.3-2.6,3.7
              c-0.7,0.7-1.4,0.2-1.6,0l0,0l0,0c0,0-0.1,0-0.2,0c0,0,0,0.1,0,0.1l0,0c0,0,0,0,0,0c0,0,0,0,0,0h0c-0.1,0-0.2,0-0.2,0
              c-0.1,0.1-0.1,0.2,0,0.2l0,0c0,0,0,0,0,0l0,0l0,0c-0.4-0.1-0.7-0.1-1-0.3c-0.7-0.5-1-1.7-1.7-2c-0.8-0.3-1.8,0.4-2.7,0.2
              c-0.3-0.1-0.6-0.3-0.9-0.5v0c0,0,0,0,0,0c0,0,0,0,0,0h0c0.1,0,0.2-0.1,0.2-0.2c0-0.1-0.1-0.2-0.1-0.2l0,0c0,0,0,0,0,0
              c0,0,0,0,0,0l0,0c0,0,0.1-0.1,0.1-0.1c0-0.1-0.1-0.1-0.1-0.1l0,0l0,0c-0.3,0-1.1-0.2-1.1-1.2c0-2,0.7-3.2,0.7-4.5
              c0-1.2-0.9-1.2-1.1-1.2c-0.2,0-1.1,0.1-1.1,1.2c0,1.3,0.7,2.5,0.7,4.5c0,1-0.8,1.2-1.1,1.2l0,0l0,0c-0.1,0-0.1,0.1-0.1,0.1
              c0,0,0,0.1,0.1,0.1v0c0,0,0,0,0,0c0,0,0,0,0,0l0,0c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0.1,0.2,0.2,0.2l0,0c0,0,0,0,0,0l0,0v0
              c-0.3,0.2-0.6,0.4-0.9,0.5c-0.8,0.2-1.9-0.5-2.6-0.2c-0.8,0.3-1.1,1.6-1.7,2c-0.3,0.2-0.6,0.3-1,0.3v0l0,0c0,0,0,0,0,0l0,0
              c0.1-0.1,0-0.2,0-0.2c-0.1-0.1-0.2-0.1-0.2,0l0,0c0,0,0,0,0,0l0,0l0,0c0,0,0-0.1,0-0.1c0,0-0.1,0-0.2,0l0,0
              c-0.2,0.2-0.9,0.7-1.6,0c-1.4-1.4-1.7-2.8-2.6-3.7c-0.8-0.8-1.5-0.3-1.6-0.1c-0.2,0.2-0.7,0.8,0.1,1.6c0.9,0.9,2.3,1.2,3.7,2.6
              c0.7,0.7,0.2,1.4,0,1.6l0,0l0,0c0,0,0,0.1,0,0.2c0,0,0.1,0,0.1,0l0,0c0,0,0,0,0,0c0,0,0,0,0,0h0c0,0.1,0,0.2,0,0.2
              c0.1,0.1,0.2,0.1,0.2,0l0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0.4-0.1,0.7-0.3,1c-0.3,0.4-0.8,0.9-1.4,1c0,0,0,0,0,0
              c0,0,0,0,0,0c1.3-0.2,1.4-0.3,3.5-2.4c2.1-2.1,4.9-3.3,8-3.3c3.1,0,6,1.3,8,3.3C38.5,22.5,38.7,22.6,40,22.8L40,22.8
              C40,22.8,40,22.8,40,22.8C40,22.8,40,22.8,40,22.8z
              M56.8,28.5c-1.5,0-1.9-0.4-2.3-1.9c-0.9-3.2-3.6-7.3-7.4-5.8c0,0,0,0,0,0c0,0,0,0,0,0c3.7-1.6,2.7-6.4,1.1-9.3
              c-0.7-1.3-0.7-1.9,0.3-3c0,0,0,0,0-0.1c0,0,0,0-0.1,0c-1,1-1.6,1-3,0.3c-2.9-1.6-7.7-2.6-9.3,1.1l0,0c0,0,0,0,0,0c0,0,0,0,0,0
              c1.5-3.8-2.6-6.5-5.8-7.4c-1.4-0.4-1.9-0.8-1.9-2.3c0,0,0,0,0,0c0,0,0,0,0,0c0,1.5-0.4,1.9-1.9,2.3c-3.1,0.9-7.3,3.6-5.8,7.4
              c0,0,0,0,0,0c0,0,0,0,0,0l0,0c-1.6-3.8-6.4-2.7-9.3-1.1c-1.3,0.7-1.9,0.7-3-0.3c0,0,0,0-0.1,0c0,0,0,0,0,0.1c1,1,1,1.7,0.3,3
              c-1.6,2.9-2.6,7.8,1.1,9.3c0,0,0,0,0,0c0,0,0,0,0,0l0,0c-3.7-1.5-6.4,2.7-7.4,5.8c-0.4,1.5-0.8,1.9-2.3,1.9c0,0,0,0,0,0
              c0,0,0,0,0,0c1.5,0,1.9,0.5,2.3,1.9c0.9,3.2,3.6,7.3,7.4,5.8l0,0c0,0,0,0,0,0c0,0,0,0,0,0C6,38,7.1,42.8,8.6,45.7
              c0.7,1.3,0.7,1.9-0.3,3c0,0,0,0,0,0.1c0,0,0,0,0.1,0c1-1,1.6-1,3-0.3c2.9,1.6,7.7,2.6,9.3-1.1c0,0,0,0,0,0c0,0,0,0,0,0
              c-1.5,3.8,2.6,6.5,5.8,7.4c1.4,0.4,1.9,0.8,1.9,2.3c0,0,0,0,0,0c0,0,0,0,0,0c0-1.5,0.4-1.9,1.9-2.3c3.1-0.9,7.3-3.6,5.8-7.4
              c0,0,0,0,0,0c0,0,0,0,0,0c1.6,3.8,6.4,2.7,9.3,1.1c1.3-0.7,1.9-0.8,3,0.3c0,0,0,0,0.1,0c0,0,0,0,0-0.1c-1-1-1-1.7-0.3-3
              c1.6-2.9,2.6-7.8-1.1-9.3l0,0c0,0,0,0,0,0c0,0,0,0,0,0c3.7,1.5,6.4-2.7,7.4-5.8C54.9,29.1,55.3,28.6,56.8,28.5
              C56.8,28.6,56.8,28.6,56.8,28.5C56.8,28.5,56.8,28.5,56.8,28.5z M46,21.3c1.7-0.6,3.6,1,4.2,3.2c0.7,2.4,1.4,4,2.8,4c0,0,0,0,0,0
              c0,0,0,0,0,0c-1.4,0-2.1,1.6-2.8,4c-0.6,2.2-2.5,3.9-4.2,3.3l0,0l-0.2-0.1c-0.4-0.2-0.6-0.4-0.6-0.8c0-0.4-0.3-0.8-0.7-1
              c-0.6-0.2-1.2,0-1.5,0.6c-0.2,0.6,0,1.2,0.6,1.5c0.4,0.2,0.9,0,1.1-0.2c0.3-0.3,0.6-0.3,1-0.1l0.2,0.1l0,0
              c1.7,0.8,1.8,3.3,0.7,5.3c-1.2,2.2-1.8,3.8-0.9,4.8c0,0,0,0,0,0.1c0,0,0,0-0.1,0c-1-1-2.6-0.4-4.8,0.9c-2,1.1-4.5,1-5.3-0.7
              L35.7,46c-0.1-0.4-0.1-0.7,0.1-1c0.3-0.3,0.4-0.8,0.2-1.2c-0.2-0.6-0.9-0.9-1.5-0.6c-0.6,0.2-0.9,0.9-0.6,1.5
              c0.2,0.4,0.6,0.7,0.9,0.7c0.4,0,0.6,0.2,0.8,0.6l0.1,0.2c0.6,1.7-1,3.6-3.2,4.3c-2.4,0.7-4,1.4-4,2.8c0,0,0,0,0,0c0,0,0,0,0,0
              c0-1.4-1.6-2.1-4-2.8c-2.2-0.6-3.9-2.5-3.2-4.3l0.2-0.4c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.8-0.3,1-0.7c0.2-0.6,0-1.3-0.6-1.5
              c-0.6-0.2-1.2,0-1.5,0.6c-0.2,0.4-0.1,0.9,0.2,1.1c0.3,0.3,0.3,0.6,0.1,1l-0.2,0.4c-0.8,1.7-3.2,1.8-5.3,0.7
              c-2.2-1.2-3.8-1.9-4.8-0.9c0,0,0,0-0.1,0c0,0,0,0,0-0.1c1-1,0.4-2.6-0.9-4.8c-1.1-2-1-4.5,0.7-5.3l0,0l0.2-0.1
              c0.4-0.1,0.7-0.1,1,0.1c0.3,0.3,0.8,0.4,1.2,0.2c0.6-0.2,0.9-0.9,0.6-1.5c-0.2-0.6-0.9-0.9-1.5-0.6c-0.4,0.2-0.7,0.6-0.7,0.9
              c0,0.4-0.2,0.6-0.6,0.8l-0.2,0.1l0,0c-1.7,0.6-3.6-1-4.2-3.3c-0.7-2.4-1.4-4-2.8-4c0,0,0,0,0,0c0,0,0,0,0,0c1.4,0,2.1-1.6,2.8-4
              c0.6-2.2,2.5-3.9,4.2-3.2l0,0l0.2,0.1c0.4,0.2,0.6,0.4,0.6,0.8c0,0.4,0.3,0.8,0.7,1c0.6,0.2,1.2,0,1.5-0.6c0.2-0.6,0-1.3-0.6-1.5
              c-0.4-0.2-0.9-0.1-1.1,0.2c-0.3,0.3-0.6,0.3-1,0.1l-0.2-0.1c-1.7-0.8-1.8-3.3-0.7-5.3c1.2-2.2,1.8-3.8,0.9-4.8c0,0,0,0,0-0.1
              c0,0,0,0,0.1,0c1,1,2.6,0.4,4.8-0.9c2-1.1,4.5-1,5.3,0.7l0.1,0.2c0.1,0.4,0.1,0.7-0.1,1c-0.3,0.3-0.4,0.8-0.2,1.2
              c0.2,0.6,0.9,0.9,1.5,0.6c0.6-0.2,0.9-0.9,0.6-1.5c-0.2-0.4-0.6-0.7-0.9-0.7c-0.4,0-0.6-0.2-0.8-0.6l-0.1-0.2
              c-0.6-1.7,1-3.6,3.2-4.3c2.4-0.7,4-1.4,4-2.8c0,0,0,0,0,0c0,0,0,0,0,0c0,1.4,1.6,2.1,4,2.8c2.2,0.6,3.9,2.5,3.2,4.3l-0.1,0.2
              c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.8,0.3-1,0.7c-0.2,0.6,0,1.2,0.6,1.5c0.6,0.2,1.2,0,1.5-0.6c0.2-0.4,0.1-0.9-0.2-1.1
              c-0.3-0.3-0.3-0.6-0.1-1l0.1-0.2c0.8-1.7,3.3-1.8,5.3-0.7c2.2,1.2,3.8,1.9,4.8,0.9c0,0,0,0,0.1,0c0,0,0,0,0,0.1
              c-1,1-0.4,2.6,0.9,4.8C47.8,17.9,47.7,20.4,46,21.3L46,21.3l-0.2,0c-0.4,0.2-0.7,0.1-1-0.1c-0.3-0.3-0.8-0.4-1.2-0.2
              c-0.6,0.2-0.9,0.9-0.6,1.5c0.2,0.6,0.9,0.9,1.5,0.6c0.4-0.2,0.7-0.6,0.7-0.9c0-0.4,0.2-0.6,0.6-0.8L46,21.3L46,21.3z
              M32.9,24.8c0-2.4-2.4-2.7-4.2-2.7c-1.4,0-2.5,0-3.9,0.2l-0.1,0v0.3c0,0.2,0,0.3,0.3,0.4c0.5,0,1,0.2,1,1.1
              c0,0.2,0,0.4-0.1,0.7l-1.4,7c-0.4,2.1-1.1,2.1-1.6,2.1c-0.3,0-0.3,0.2-0.3,0.4v0.3l0.1,0c1.6,0.1,2.9,0.2,4.4,0.2
              c2.6,0,5.5-1,5.5-3.8c0-2-1.4-2.8-2.7-2.9C30.8,27.8,32.9,27,32.9,24.8z M30.8,30.8c0,1.8-1.4,3.2-3.1,3.2
              c-0.9,0-1.5-0.2-1.8-0.4c0.7-3.6,0.9-4.5,0.9-4.7c0.8-0.2,1.3-0.2,1.7-0.2C29.9,28.6,30.8,29.5,30.8,30.8z M30.5,26.6
              c-0.6,0.7-1.3,1-2.2,1.1C27.7,27.9,27,28,27,28l0.9-5c0.1,0,0.8,0,0.9,0c1.6,0,2.3,0.6,2.3,1.9C31.1,25.5,30.9,26.1,30.5,26.6z
              M40.6,25.2c-0.1-0.4,0-0.9,0.2-1.1c0,0-2.1-0.1-2.9-0.1c-0.8,0-2.1,0-3.2,0.1l-0.1,0v0.2c0,0.1,0,0.3,0.2,0.3
              c0.4,0,0.7,0.1,0.7,0.8c0,0.1,0,0.3-0.1,0.5l-1.1,5.4c-0.2,0.9-0.5,1-0.8,1c-0.2,0-0.2,0.2-0.2,0.3v0.2l0.1,0
              c0.2,0.1,1.3,0.1,1.5,0.1c0.4,0,0.8,0,1.3-0.1c0.1,0,0.2-0.1,0.2-0.3v-0.3h-0.1c-0.6,0-0.8-0.1-0.8-0.5c0-0.1,0-0.1,0-0.2l1.3-7
              c0.2,0,1.7,0,2.3,0.2c0.4,0.1,1.1,0.2,1.1,0.8c0,0.3-0.3,0.5-0.5,0.5c0.3-0.1,0.4-0.3,0.4-0.4c0-0.2-0.1-0.3-0.2-0.3
              c-0.3,0-0.4,0.2-0.4,0.5c0,0.3,0.2,0.4,0.5,0.4C40.5,26.2,40.7,25.7,40.6,25.2z
              M20.4,27.6c-0.3,0-0.7,0-1.1,0.1l0.5-3.1c0.2,0,1.7,0,2.3,0.2c0.4,0.1,1.1,0.2,1.1,0.8c0,0.3-0.3,0.5-0.5,0.5
              c0.3-0.1,0.4-0.3,0.4-0.4c0-0.2-0.1-0.3-0.2-0.3c-0.3,0-0.4,0.2-0.4,0.5c0,0.3,0.2,0.4,0.5,0.4c0.4,0,0.6-0.5,0.5-1.1
              c-0.1-0.4,0-0.9,0.2-1.1c0,0-2.1-0.1-2.9-0.1c-0.8,0-2.1,0-3.2,0.1l-0.1,0v0.2c0,0.1,0,0.3,0.2,0.3c0.4,0,0.7,0.1,0.7,0.8
              c0,0.1,0,0.3-0.1,0.5l-1,5c-0.3,1.4-0.8,1.5-1.1,1.5c-0.2,0-0.2,0.2-0.2,0.3v0.2l0.1,0c1.2,0.1,2.1,0.1,3.1,0.1
              c1.9,0,3.9-0.9,3.9-3C23.2,28.4,22.3,27.6,20.4,27.6z M19.7,32.4c-0.6,0-1-0.2-1.2-0.3c0.5-2.7,0.7-3.5,0.7-3.7
              c0.3-0.1,0.6-0.1,0.8-0.1c1.2,0,1.8,0.6,1.8,1.8C21.9,31.4,20.9,32.4,19.7,32.4z
              M47.7,27.2c-0.2-0.7-1.2-1-2.1-0.5c-0.7,0.3-1.2,0.7-1.6,1c-0.7,0.5-1.4,0.6-1.7,0.2c-0.2-0.2-0.1-0.9,0.5-0.8
              c-0.3,0-0.5,0.3-0.4,0.5c0.3,0.4,0.8,0.1,0.8-0.3c0-0.2-0.2-0.4-0.4-0.5c-0.1,0-0.3,0-0.5,0.2c-0.3,0.3-0.2,0.9,0.1,1.2
              c0.4,0.4,1.3,0.4,2.3-0.2c0.8-0.5,1-0.6,1.6-0.9c0.6-0.3,1.2-0.4,1.4,0.1c0.2,0.4-0.3,0.9-0.8,0.7c0.3,0.1,0.6-0.1,0.6-0.4
              c-0.2-0.5-0.7-0.3-0.8,0c-0.1,0.3,0.2,0.7,0.8,0.5C47.7,28.1,47.8,27.5,47.7,27.2z
              M40.5,29.3c0.2-0.7,1.2-1,2.1-0.5c0.7,0.3,1.2,0.7,1.6,1c0.7,0.5,1.4,0.6,1.7,0.2c0.2-0.2,0.1-0.9-0.5-0.8
              c0.3,0,0.5,0.3,0.4,0.5c-0.3,0.4-0.8,0.1-0.8-0.3c0-0.2,0.2-0.4,0.4-0.5c0.1,0,0.3,0,0.5,0.2c0.3,0.3,0.2,0.9-0.1,1.2
              c-0.4,0.4-1.3,0.4-2.3-0.2c-0.8-0.5-1-0.6-1.6-0.9c-0.6-0.3-1.2-0.4-1.4,0.1c-0.2,0.4,0.3,0.9,0.8,0.7c-0.3,0.1-0.6-0.1-0.6-0.4
              c0.2-0.5,0.7-0.3,0.8,0c0.1,0.3-0.2,0.8-0.8,0.5C40.4,30.2,40.3,29.7,40.5,29.3z
              M15.6,27.2c-0.2-0.7-1.2-1-2.1-0.5c-0.7,0.3-1.2,0.7-1.6,1c-0.7,0.5-1.4,0.6-1.7,0.2c-0.2-0.2-0.1-0.9,0.5-0.8
              c-0.3,0-0.5,0.3-0.4,0.5c0.3,0.4,0.8,0.1,0.8-0.3c0-0.2-0.2-0.4-0.4-0.5c-0.1,0-0.3,0-0.5,0.2c-0.3,0.3-0.2,0.9,0.1,1.2
              c0.4,0.4,1.3,0.4,2.3-0.2c0.8-0.5,1-0.6,1.6-0.9c0.6-0.3,1.2-0.4,1.4,0.1c0.2,0.4-0.3,0.9-0.8,0.7c0.3,0.1,0.6-0.1,0.6-0.4
              c-0.2-0.5-0.7-0.3-0.8,0c-0.1,0.3,0.2,0.7,0.8,0.5C15.7,28.1,15.7,27.5,15.6,27.2z
              M8.4,29.3c0.2-0.7,1.2-1,2.1-0.5c0.7,0.3,1.2,0.7,1.6,1c0.7,0.5,1.4,0.6,1.7,0.2c0.2-0.2,0.1-0.9-0.5-0.8
              c0.3,0,0.5,0.3,0.4,0.5c-0.3,0.4-0.8,0.1-0.8-0.3c0-0.2,0.2-0.4,0.4-0.5c0.1,0,0.3,0,0.5,0.2c0.3,0.3,0.2,0.9-0.1,1.2
              c-0.4,0.4-1.3,0.4-2.3-0.2c-0.8-0.5-1-0.6-1.6-0.9c-0.6-0.3-1.2-0.4-1.4,0.1c-0.2,0.4,0.3,0.9,0.8,0.7c-0.3,0.1-0.6-0.1-0.6-0.4
              c0.2-0.5,0.7-0.3,0.8,0c0.1,0.3-0.2,0.8-0.8,0.5C8.3,30.2,8.3,29.7,8.4,29.3z"/>

        <path id="logo-2" transform="scale(1)" d="M52.4,39.1c-1.8-0.2-3.8-1.9-6.3-2.6c-0.2,0.1-0.4,0.3-0.6,0.4c-0.9,0.6-2,1.1-3.1,1.5c-1,0.3-2.1,0.6-3.3,0.8l0,0
              c0.5,0.3,1.1,0.7,1.6,1.3c0.5,0.4,0.9,0.9,1.4,1.3c0.1,0.1,0.2,0.2,0.3,0.3c3.3,0.9,7.1-0.5,9.9-2.4
              C52.7,39.4,52.7,39.1,52.4,39.1z
              M44,44.3c-3-1.4-5.4-7.9-12.5-5.1c0.2,0.2,0.3,0.3,0.5,0.4c0.4,0.4,0.7,0.8,1,1.3c0.3,0.6,0.5,1.4,0.5,2.1
              c0,0.3,0,0.6-0.1,0.8c2.8,2,7.1,1.8,10.4,0.8C44.1,44.6,44.3,44.4,44,44.3z
              M35,11.1c0-0.5,0.5-0.7,0.6-0.8c0.5-0.2,0.4-1,0.7-1.2c0.3-0.2,0.9-0.3,1-0.5l0,0c-0.1-0.1-0.2-0.3-0.2-0.5
              c0-0.3,0.2-0.6,0.5-0.7l0,0V3.8c-0.1-0.1-0.2-0.2-0.2-0.4c0-0.3,0.2-0.5,0.5-0.5c0.3,0,0.5,0.2,0.5,0.5c0,0.2-0.1,0.3-0.2,0.4
              v3.6l0,0c0.3,0.1,0.5,0.4,0.5,0.7c0,0.2-0.1,0.4-0.2,0.5l0,0c0.1,0.2,0.7,0.3,1,0.5c0.3,0.2,0.2,1,0.7,1.2
              c0.1,0.1,0.6,0.2,0.6,0.8c0,0.4-0.4,0.7-0.6,0.7c-0.3,0.1-0.3,0.3,0,0.4c0.2,0.1,1.5,0.8,1.8,1c0.2,0.1,0.2,0.2,0.2,0.4
              c0,0.3,0,0.4-0.2,0.4c-0.2,0-0.2,0.2-0.1,0.3c0,0,1.1,0.8,1.3,0.9c0.2,0.1,0.2,0.2,0.2,0.4c0,0.3,0,0.4-0.2,0.4
              c-0.2,0-0.2,0.2-0.1,0.3c0.1,0.1,0.9,0.9,1.1,1.1c0.2,0.2,0.2,0.2,0.2,0.4c0,0.3,0,0.4-0.2,0.4c-0.2,0-0.2,0.2-0.1,0.3
              c2.2,5,0.8,13.2-7.4,19.2c0,0-2.6-0.7-5.5,0.8c-0.2-0.1-0.4-0.3-0.7-0.4c6.6-5.7,6.5-18.2,4.4-21.3c-0.1-0.1,0-0.2,0-0.3
              c0.3-0.6,0.1-1.2-0.1-1.4c-0.2-0.2-0.5-0.4-0.8-0.8c0,0-0.1-0.1-0.1-0.2l0-0.5c0-0.2,0-0.3,0.2-0.4c0.3-0.2,1.6-0.8,1.8-1
              c0.3-0.1,0.3-0.4,0-0.4C35.4,11.8,35,11.5,35,11.1z
              M26.7,0c-0.3,0-0.5,0.2-0.5,0.5c0,0.2,0.1,0.3,0.2,0.4v3.9c-0.3,0.1-0.5,0.4-0.5,0.7c0,0.2,0.1,0.4,0.2,0.5l0,0
              c-0.1,0.2-0.8,0.4-1.1,0.5c-0.3,0.2-0.2,1.1-0.8,1.3c-0.1,0.1-0.7,0.2-0.7,0.8c0,0.4,0.4,0.7,0.7,0.8c0.3,0.1,0.3,0.3,0,0.4
              c-0.2,0.1-1.6,0.8-1.9,1c-0.2,0.1-0.3,0.2-0.3,0.4c0,0.3,0.1,0.4,0.3,0.4c0.2,0,0.2,0.2,0.1,0.3c0,0-1.2,0.8-1.4,1
              c-0.2,0.1-0.2,0.2-0.2,0.5c0,0.3,0,0.4,0.2,0.4c0.2,0,0.2,0.2,0.1,0.3c-0.1,0.1-1,1-1.2,1.2c-0.2,0.2-0.2,0.2-0.2,0.5
              c0,0.3,0,0.4,0.2,0.4c0.3,0,0.2,0.2,0.1,0.3c-0.6,0.9-0.9,1.5-1.1,2.2c-0.6,2.4-1.4,13.6,5.2,18.9c0.7-0.3,1.6-0.4,2.4-0.4
              c0.9,0,1.7,0.1,2.4,0.4c6.6-5.3,5.8-16.5,5.2-18.9c-0.2-0.8-0.4-1.4-1.1-2.2c-0.1-0.1-0.1-0.3,0.1-0.3c0.2,0,0.2-0.1,0.2-0.4
              c0-0.3,0-0.3-0.2-0.5c-0.2-0.2-1.1-1-1.2-1.2C32,14.2,32,14,32.3,14c0.2,0,0.2-0.1,0.2-0.4c0-0.3,0-0.3-0.2-0.5
              c-0.2-0.2-1.4-1-1.4-1c-0.1-0.1-0.1-0.3,0.1-0.3c0.2,0,0.2-0.1,0.2-0.4c0-0.3,0-0.3-0.3-0.4c-0.3-0.2-1.7-0.9-1.9-1
              c-0.3-0.2-0.3-0.4,0-0.4c0.3-0.1,0.7-0.4,0.7-0.8c0-0.6-0.5-0.8-0.7-0.8c-0.6-0.2-0.4-1.1-0.8-1.3c-0.3-0.2-0.9-0.3-1.1-0.5l0,0
              c0.1-0.1,0.2-0.3,0.2-0.5c0-0.3-0.2-0.6-0.5-0.7V0.9c0.1-0.1,0.2-0.2,0.2-0.4C27.2,0.2,27,0,26.7,0z
              M21,43c0,4.2,4.8,5.5,5.4,7.1c0.1,0.2,0.2,0.2,0.3,0.2c0.1,0,0.2,0,0.3-0.2c0.6-1.7,5.4-2.9,5.4-7.1
              c0-2.6-2.5-4.7-5.7-4.7S21,40.4,21,43z
              M44.9,17c-0.2-0.1-0.4-0.4-0.7-0.7c0,0-0.1-0.1-0.1-0.2v-0.4c0-0.2,0-0.3,0.2-0.4c0.3-0.2,1.4-0.8,1.6-0.9
              c0.3-0.1,0.2-0.3,0-0.4c-0.3-0.1-0.6-0.3-0.6-0.7c0-0.5,0.4-0.7,0.6-0.7c0.5-0.2,0.4-1,0.6-1.2c0.3-0.1,0.8-0.3,0.9-0.5l0,0
              c-0.1-0.1-0.2-0.3-0.2-0.5c0-0.3,0.2-0.5,0.4-0.6V6.4c-0.1-0.1-0.2-0.2-0.2-0.4c0-0.2,0.2-0.4,0.5-0.4c0.3,0,0.5,0.2,0.5,0.4
              c0,0.2-0.1,0.3-0.2,0.4v3.4c0.3,0.1,0.4,0.3,0.4,0.6c0,0.2-0.1,0.4-0.2,0.5l0,0c0.1,0.2,0.7,0.3,0.9,0.5c0.3,0.2,0.2,0.9,0.7,1.2
              c0.1,0,0.6,0.2,0.6,0.7c0,0.4-0.3,0.6-0.6,0.7c-0.2,0.1-0.3,0.3,0,0.4c0.2,0.1,1.4,0.7,1.7,0.9c0.2,0.1,0.2,0.2,0.2,0.4
              c0,0.3,0,0.4-0.2,0.4c-0.2,0-0.2,0.2-0.1,0.2c0,0,1.1,0.7,1.3,0.9c0.2,0.1,0.2,0.2,0.2,0.4c0,0.2,0,0.3-0.2,0.3
              c-0.2,0-0.1,0.1-0.1,0.3c2.3,6.5-2.3,18.6-14.6,20.2c-0.2-0.1-0.5-0.2-0.7-0.3l0,0c9-6.3,9.5-14.9,7.7-19.3c0-0.1-0.1-0.2,0-0.4
              C45.4,17.7,45.2,17.2,44.9,17z
              M0.9,39.1c1.8-0.2,3.8-1.9,6.2-2.6c0.2,0.1,0.4,0.3,0.6,0.4c0.9,0.6,2,1.1,3.1,1.5c1,0.3,2.1,0.6,3.3,0.8c0,0,0,0,0,0
              c-0.5,0.3-1,0.7-1.6,1.3c-0.5,0.4-0.9,0.9-1.4,1.3c-0.1,0.1-0.2,0.2-0.3,0.3c-3.3,0.9-7.1-0.5-9.9-2.4
              C0.7,39.4,0.7,39.1,0.9,39.1z
              M9.3,44.3c3-1.4,5.4-7.9,12.5-5.1c-0.2,0.2-0.3,0.3-0.5,0.4c-0.4,0.4-0.7,0.8-1,1.3c-0.3,0.6-0.5,1.4-0.5,2.1
              c0,0.3,0,0.6,0.1,0.8c-2.8,2-7.1,1.8-10.4,0.8C9.2,44.6,9.1,44.4,9.3,44.3z
              M18.4,11.1c0-0.5-0.5-0.7-0.6-0.8c-0.5-0.2-0.4-1-0.7-1.2c-0.3-0.2-0.9-0.3-1-0.5l0,0c0.1-0.1,0.2-0.3,0.2-0.5
              c0-0.3-0.2-0.6-0.5-0.7l0,0V3.8C16,3.7,16,3.6,16,3.4c0-0.3-0.2-0.5-0.5-0.5c-0.3,0-0.5,0.2-0.5,0.5c0,0.2,0.1,0.3,0.2,0.4v3.6
              l0,0c-0.3,0.1-0.5,0.4-0.5,0.7c0,0.2,0.1,0.4,0.2,0.5l0,0c-0.1,0.2-0.7,0.3-1,0.5c-0.3,0.2-0.2,1-0.7,1.2
              c-0.1,0.1-0.6,0.2-0.6,0.8c0,0.4,0.4,0.7,0.6,0.7c0.3,0.1,0.3,0.3,0,0.4c-0.2,0.1-1.5,0.8-1.8,1c-0.2,0.1-0.2,0.2-0.2,0.4
              c0,0.3,0,0.4,0.2,0.4c0.2,0,0.2,0.2,0.1,0.3c0,0-1.1,0.8-1.3,0.9c-0.2,0.1-0.2,0.2-0.2,0.4c0,0.3,0,0.4,0.2,0.4
              c0.2,0,0.2,0.2,0.1,0.3c-0.1,0.1-0.9,0.9-1.1,1.1c-0.2,0.2-0.2,0.2-0.2,0.4c0,0.3,0,0.4,0.2,0.4c0.2,0,0.2,0.2,0.1,0.3
              c-2.2,5-0.8,13.2,7.5,19.2c0,0,2.5-0.7,5.5,0.8c0.2-0.1,0.4-0.3,0.6-0.4c-6.6-5.7-6.5-18.2-4.4-21.3c0.1-0.1,0-0.2,0-0.3
              c-0.3-0.6-0.1-1.2,0.1-1.4c0.1-0.2,0.5-0.4,0.8-0.8c0,0,0.1-0.1,0.1-0.2l0-0.5c0-0.2,0-0.3-0.2-0.4c-0.3-0.2-1.6-0.8-1.8-1
              c-0.3-0.1-0.2-0.4,0-0.4C18,11.8,18.4,11.5,18.4,11.1z
              M8.4,17c0.2-0.1,0.4-0.4,0.7-0.7c0,0,0.1-0.1,0.1-0.2l0-0.4c0-0.2,0-0.3-0.2-0.4c-0.3-0.2-1.4-0.8-1.6-0.9
              c-0.3-0.1-0.2-0.3,0-0.4C7.6,13.9,8,13.7,8,13.3c0-0.5-0.4-0.7-0.6-0.7c-0.5-0.2-0.4-1-0.7-1.2c-0.2-0.1-0.8-0.3-0.9-0.5l0,0
              C6,10.8,6,10.6,6,10.5c0-0.3-0.2-0.5-0.4-0.6V6.4C5.7,6.3,5.8,6.2,5.8,6c0-0.2-0.2-0.4-0.5-0.4C5.1,5.6,4.9,5.8,4.9,6
              c0,0.2,0.1,0.3,0.2,0.4v3.4c-0.3,0.1-0.4,0.3-0.4,0.6c0,0.2,0.1,0.4,0.2,0.5l0,0c-0.1,0.2-0.7,0.3-0.9,0.5
              c-0.3,0.2-0.2,0.9-0.7,1.2c-0.1,0-0.6,0.2-0.6,0.7c0,0.4,0.3,0.6,0.6,0.7c0.2,0.1,0.3,0.3,0,0.4c-0.2,0.1-1.4,0.7-1.7,0.9
              c-0.2,0.1-0.2,0.2-0.2,0.4c0,0.3,0,0.4,0.2,0.4c0.2,0,0.2,0.2,0.1,0.2c0,0-1.1,0.7-1.3,0.9c-0.2,0.1-0.2,0.2-0.2,0.4
              c0,0.2,0,0.3,0.2,0.3c0.2,0,0.1,0.1,0.1,0.3c-2.3,6.5,2.3,18.6,14.6,20.2c0.2-0.1,0.5-0.2,0.7-0.3h0c-9-6.3-9.5-14.9-7.7-19.3
              c0-0.1,0.1-0.2,0-0.4C7.9,17.7,8.2,17.2,8.4,17z"/>

        <path id="logo-3" transform="scale(1)" d="M25,48.5c-1.6,0-3.2-0.5-4.6-1.3c-1.7,0.4-3.5,0.3-5.1-0.4c-1.4-0.6-2.6-1.5-3.6-2.7c-1.5-0.3-2.8-1-3.9-2
              c-1.3-1.2-2.2-2.7-2.5-4.4c-1.5-0.9-2.6-2.2-3.3-3.8c-0.6-1.4-0.8-2.9-0.6-4.4c-0.8-1.3-1.3-2.7-1.3-4.2
              c-0.1-1.7,0.4-3.4,1.3-4.9c-0.4-1.7-0.3-3.4,0.4-5c0.6-1.4,1.5-2.6,2.7-3.6c0.3-1.5,1-2.8,2.1-3.9c1.2-1.3,2.7-2.1,4.4-2.5
              c0.9-1.5,2.3-2.6,3.9-3.3c1.4-0.6,2.9-0.8,4.4-0.6c1.3-0.8,2.7-1.3,4.3-1.3c1.7-0.1,3.4,0.4,4.9,1.3c1.7-0.4,3.5-0.3,5.1,0.4
              c1.4,0.6,2.6,1.5,3.6,2.7c1.5,0.3,2.8,1,4,2.1c1.3,1.2,2.2,2.7,2.5,4.4c1.5,0.9,2.6,2.2,3.3,3.8c0.6,1.4,0.8,2.9,0.6,4.4
              c0.8,1.3,1.3,2.7,1.3,4.2c0.1,1.8-0.4,3.4-1.3,4.9c0.4,1.7,0.3,3.5-0.4,5c-0.6,1.4-1.5,2.6-2.7,3.5c-0.3,1.5-1,2.8-2.1,3.9
              c-1.2,1.3-2.7,2.2-4.4,2.5c-0.9,1.5-2.3,2.6-3.9,3.3c-1.4,0.6-2.9,0.8-4.4,0.6c-1.3,0.8-2.7,1.3-4.3,1.3
              C25.2,48.5,25.1,48.5,25,48.5z M20.8,45.1l0.4,0.3c1.1,0.8,2.5,1.2,3.9,1.2l0.3,0c1.3-0.1,2.5-0.5,3.6-1.2l0.3-0.2l0.4,0.1
              c1.3,0.2,2.6,0.1,3.7-0.4c1.4-0.6,2.5-1.6,3.2-2.9l0.2-0.4l0.4-0.1c1.5-0.3,2.8-1,3.8-2c0.9-0.9,1.4-2.1,1.7-3.4l0.1-0.4l0.3-0.2
              c1-0.7,1.9-1.8,2.3-2.9c0.6-1.4,0.6-2.8,0.2-4.3l-0.1-0.4l0.3-0.4c0.9-1.2,1.3-2.6,1.2-4.1c0-1.3-0.5-2.5-1.2-3.5l-0.2-0.3
              l0.1-0.4c0.2-1.3,0.1-2.5-0.4-3.7c-0.6-1.4-1.6-2.4-2.9-3.2L41.7,12l-0.1-0.4c-0.2-1.5-1-2.8-2-3.8c-0.9-0.9-2.1-1.4-3.4-1.7
              l-0.4-0.1l-0.2-0.3c-0.7-1-1.8-1.8-3-2.3c-1.4-0.5-2.9-0.6-4.3-0.2L28,3.4l-0.4-0.3c-1.1-0.8-2.5-1.2-3.9-1.2l-0.3,0
              c-1.3,0.1-2.5,0.5-3.6,1.2l-0.3,0.2l-0.4-0.1c-1.2-0.2-2.5-0.1-3.7,0.4c-1.4,0.6-2.5,1.6-3.2,2.9L12.1,7L11.6,7
              c-1.5,0.2-2.8,1-3.8,2C7,10,6.4,11.2,6.2,12.4l-0.1,0.4L5.8,13c-1,0.7-1.9,1.7-2.3,2.9c-0.5,1.3-0.6,2.8-0.2,4.3l0.1,0.4
              l-0.3,0.4c-0.9,1.2-1.3,2.6-1.2,4.1c0.1,1.3,0.5,2.5,1.2,3.5L3.3,29l-0.1,0.4c-0.2,1.3-0.1,2.6,0.4,3.7c0.6,1.4,1.6,2.4,2.9,3.2
              L7,36.5l0.1,0.5c0.2,1.5,1,2.8,2,3.8c0.9,0.9,2.1,1.4,3.4,1.7l0.4,0.1l0.2,0.3c0.7,1,1.8,1.8,3,2.3c1.4,0.5,2.9,0.6,4.3,0.2
              L20.8,45.1z
              M32.8,13.8c-0.5,0-0.9,0.2-1.3,0.4c0,0.3-0.1,0.6-0.3,0.8c-0.2,0.3-0.6,0.4-0.9,0.4l0,0c-0.7,0-1.3-0.5-1.4-1.1
              C28.4,14.1,28,14,27.5,14c-1.4,0-3.3,1.3-3.2,3.6c0.1,2.3,1.5,3.3,2.1,3.8c0.6,0.5,4.2,3.3,4.2,3.3l0,0l0,0c0,0,3.4-3,3.9-3.6
              c0.5-0.6,1.9-1.7,1.8-4C36.2,14.8,34.2,13.7,32.8,13.8z
              M28.2,11.6l0,0.3c0,0.2,0.1,0.4,0.3,0.5l0.9,0.6l0,1.1c0,0.4,0.3,0.7,0.7,0.6c0.4,0,0.7-0.3,0.6-0.7l-0.1-1.4
              c0-0.2-0.1-0.4-0.3-0.5l-0.9-0.6c0.5-0.3,0.8-0.8,0.8-1.4l-0.1-3.3c0-0.8-0.8-1.5-1.6-1.5c-0.9,0-1.5,0.8-1.5,1.6l0.1,3.3
              C27.3,10.8,27.6,11.4,28.2,11.6z
              M22.2,14.7l0.4,10.6l-3.2,0.1l-0.2-4.1l-0.4,0c-0.2,0-0.5,0-0.7,0.1c-0.2,0-0.4,0.1-0.6,0.3c-0.2,0.2-0.4,0.4-0.5,0.7
              c-0.2,0.3-0.4,0.7-0.6,1.3l-0.8,1.9l-3.5,0.1l1-2.3c0.2-0.5,0.3-0.8,0.5-1.1c0.1-0.3,0.3-0.5,0.4-0.7c0.1-0.2,0.2-0.3,0.4-0.4
              c0.1-0.1,0.3-0.2,0.4-0.3c-0.1,0-0.2-0.1-0.3-0.1c-0.1-0.1-0.2-0.1-0.4-0.2c-0.1-0.1-0.3-0.2-0.4-0.3c-0.1-0.1-0.3-0.3-0.4-0.5
              c-0.1-0.2-0.2-0.4-0.3-0.6c-0.1-0.2-0.1-0.5-0.1-0.8c0-0.2,0-0.4,0-0.7c0-0.2,0.1-0.5,0.2-0.7c0.1-0.3,0.3-0.5,0.4-0.7
              c0.2-0.2,0.4-0.4,0.7-0.6c0.3-0.2,0.6-0.3,1-0.5c0.4-0.1,0.8-0.2,1.3-0.2L22.2,14.7z M18.4,16.9c-0.3,0-0.7,0-0.9,0.1
              c-0.3,0-0.5,0.1-0.6,0.2c-0.2,0.1-0.3,0.2-0.3,0.4c-0.1,0.2-0.1,0.4-0.1,0.6c0,0.2,0.1,0.4,0.1,0.6c0.1,0.2,0.2,0.3,0.4,0.4
              c0.2,0.1,0.4,0.1,0.6,0.2c0.3,0,0.6,0,1,0l0.7,0l-0.1-2.6L18.4,16.9z
              M14.3,27.6l0.4,0.4c0,0,0.1,0.1,0.2,0.2c0.1,0.1,0.1,0.1,0.2,0.2c0.1,0.1,0.1,0.2,0.2,0.2c0.1,0.1,0.1,0.2,0.2,0.2
              c0.1-0.2,0.2-0.3,0.3-0.5c0.1-0.1,0.2-0.3,0.3-0.4l0.4-0.5l1.9-0.1L16.4,30l2.3,2.5l-1.9,0.1l-0.6-0.6c0,0-0.1-0.1-0.1-0.1
              c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1-0.1-0.1-0.2-0.2-0.2c-0.1-0.1-0.1-0.2-0.2-0.2c-0.1,0.1-0.2,0.3-0.2,0.4
              c-0.1,0.1-0.1,0.2-0.2,0.2C15,31.8,15,31.8,15,31.9c0,0.1-0.1,0.1-0.1,0.2l-0.4,0.6l-1.9,0.1l2-2.7l-2.1-2.3L14.3,27.6z
              M21.6,27.4c0.2,0,0.4,0,0.6,0c0.2,0,0.3,0.1,0.5,0.2c0.1,0.1,0.3,0.2,0.3,0.3c0.1,0.1,0.2,0.2,0.2,0.3
              c0.1,0.1,0.1,0.2,0.1,0.3c0,0.1,0,0.2,0.1,0.3c0,0.1,0,0.2,0,0.3c0,0.1-0.1,0.2-0.1,0.4c-0.1,0.1-0.1,0.2-0.2,0.3
              c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.1-0.5,0.2c-0.2,0.1-0.4,0.1-0.6,0.1l-1,0l0.1,1.9l-1.5,0.1l-0.2-5L21.6,27.4z
              M20.6,28.3l0,1.2l0.3,0c0.2,0,0.3,0,0.4,0c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.1-0.1,0.2-0.2c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2-0.1-0.3
              c0-0.1-0.1-0.1-0.2-0.2c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.3,0-0.5,0L20.6,28.3z
              M25.1,31.2l-0.4,1l-1.6,0.1l2-5.1l1.7-0.1l2.4,4.9l-1.5,0.1l-0.5-1L25.1,31.2z M26.9,30.3l-0.8-1.8l-0.7,1.8L26.9,30.3z
              M29.6,27L31,27l1.6,1.8l1.5-1.9l1.4-0.1l0.2,5l-1.5,0.1L34,29l-1.3,1.7h-0.1l-1.4-1.6l0.1,2.9L29.8,32L29.6,27z
              M15.4,36.9l0.4,0l-0.8,2l-0.1,0l-0.6-1.4L13.8,39l-0.1,0l-1-2l0.4,0l0.6,1.2l0.5-1.2l0.3,0l0.5,1.2L15.4,36.9z
              M18.7,36.8l0.4,0l-0.8,2h-0.1l-0.6-1.3l-0.5,1.4l-0.1,0l-1-2l0.4,0L17,38l0.5-1.2l0.3,0l0.5,1.2L18.7,36.8z
              M22,36.6l0.4,0l-0.8,2h-0.1l-0.6-1.3l-0.5,1.4l-0.1,0l-1-2l0.4,0l0.6,1.2l0.5-1.2l0.3,0l0.5,1.2L22,36.6z
              M22.8,38.1c0.1,0,0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.1,0.2c0,0.1,0,0.1-0.1,0.2c0,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1
              c-0.1,0-0.1-0.1-0.1-0.2c0-0.1,0-0.1,0.1-0.2C22.7,38.1,22.8,38.1,22.8,38.1z
              M24.6,36.5l0.4,0l-0.8,2l-0.1,0l-1-2l0.4,0l0.6,1.2L24.6,36.5z
              M26.9,37.5l-1.4,0.1c0,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.3,0.2,0.5,0.1c0.3,0,0.5-0.1,0.7-0.3l0,0.4
              c-0.1,0.1-0.2,0.1-0.4,0.2c-0.1,0-0.3,0.1-0.4,0.1c-0.2,0-0.4,0-0.5-0.1c-0.1-0.1-0.3-0.2-0.3-0.4c-0.1-0.1-0.1-0.3-0.1-0.5
              c0-0.3,0.1-0.5,0.2-0.7c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.6,0.2C26.8,36.9,26.9,37.1,26.9,37.5L26.9,37.5z M25.5,37.3l1,0
              c0-0.1-0.1-0.3-0.2-0.4c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.2,0.1-0.3,0.1C25.6,37,25.6,37.1,25.5,37.3z
              M28.6,35.4l0.4,0l0.1,3l-0.8,0c-0.3,0-0.5-0.1-0.7-0.2c-0.2-0.2-0.3-0.4-0.3-0.7c0-0.3,0.1-0.5,0.2-0.7
              c0.2-0.2,0.4-0.3,0.7-0.3c0.1,0,0.3,0,0.4,0.1L28.6,35.4z M28.7,38l-0.1-1.2c-0.1-0.1-0.3-0.1-0.4-0.1c-0.2,0-0.3,0.1-0.5,0.2
              c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.4,0.2,0.5C27.9,38,28,38,28,38c0.1,0,0.2,0,0.4,0L28.7,38z
              M30.9,37.1l0,0.8c0,0.1,0,0.1,0.1,0.1c0,0,0.1,0,0.2-0.1l0,0.2c-0.1,0.1-0.2,0.1-0.2,0.1c-0.1,0-0.1,0-0.2,0
              c-0.2,0-0.3,0-0.3-0.2c-0.2,0.1-0.3,0.2-0.5,0.2c-0.1,0-0.3,0-0.4-0.1c-0.1-0.1-0.1-0.2-0.2-0.3c0-0.1,0-0.2,0.1-0.3
              c0.1-0.1,0.2-0.2,0.4-0.2l0.5-0.2l0-0.1c0-0.2-0.1-0.3-0.4-0.3c-0.2,0-0.4,0.1-0.6,0.4l0-0.4c0.1-0.2,0.4-0.3,0.6-0.3
              c0.2,0,0.4,0,0.5,0.1c0,0,0.1,0.1,0.1,0.1c0,0.1,0.1,0.1,0.1,0.2C30.9,36.8,30.9,36.9,30.9,37.1z M30.5,37.9l0-0.6l-0.3,0.1
              c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0.1,0.2c0.1,0.1,0.1,0.1,0.2,0.1C30.3,38.1,30.4,38,30.5,37.9z
              M31.8,37.8c0.1,0,0.1,0,0.2,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0.1,0,0.1-0.1,0.2c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1
              c-0.1,0-0.1-0.1-0.1-0.2c0-0.1,0-0.1,0.1-0.2C31.7,37.8,31.8,37.8,31.8,37.8z
              M33,36.2l0,0.5l0,0c0.2-0.3,0.4-0.5,0.6-0.5c0.1,0,0.3,0.1,0.5,0.2l-0.2,0.4c-0.1-0.1-0.3-0.2-0.4-0.2
              c-0.1,0-0.2,0.1-0.3,0.2C33.1,36.8,33,37,33,37.2l0,1l-0.4,0l-0.1-2L33,36.2z
              M35.7,38.1l0-0.3c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.3-0.1c-0.1-0.1-0.2-0.1-0.2-0.2
              c-0.1-0.1-0.1-0.3-0.1-0.5l0-1.1l0.4,0l0,1.1c0,0.2,0,0.4,0.1,0.4c0.1,0.1,0.2,0.1,0.3,0.1c0.2,0,0.3-0.1,0.5-0.3l-0.1-1.4l0.4,0
              l0.1,2L35.7,38.1z"/>

        <path id="logo-4" transform="scale(1)" d="M19,17.7L19,17.7h-8.3v3.2h3.3v6c0,5.3-3,5.6-4.4,5.6s-4.4-0.3-4.4-5.6V8.5c0-5.3,3-5.6,4.4-5.6s4.4,0.3,4.4,5.6v6H19
              V9.3C19,0.9,11.8,0,9.5,0S0,0.9,0,9.3V26c0,5.9,3.5,8.1,6.3,8.9c0.1,0,0.1,0.1,0,0.1c-2.4,0.4-5.1,2.5-5.1,5.5
              C1.2,46,7.3,47,9.5,51c2.2-4,8.3-5,8.3-10.5c0-2.9-2.7-5-5.1-5.5c-0.1,0-0.1-0.1,0-0.1c2.9-0.8,6.3-3,6.3-8.9V17.7z"/>

        <path id="order" transform="scale(1)" d="M10,0c5.5,0,10,4.5,10,10c0,5.5-4.5,10-10,10C4.5,20,0,15.5,0,10
              C0,4.5,4.5,0,10,0z M10,19c5,0,9-4,9-9c0-5-4-9-9-9c-5,0-9,4-9,9C1,15,5,19,10,19z
              M4,12v1h12v-1H4z
              M5,11h10c0,0-0.4-4-5-4S5.2,10.8,5,11z
              M9,6V5h2v1H9z"/>
        
        <path id="job" transform="scale(1) " d="m8.9985,10.59395l2.2591,-4.85433l3.1581,0l-5.41721,4.85433l0,0l0.00001,0zm-7.60239,-4.85433l3.07119,0l2.30792,4.82013l-5.37911,-4.82013zm1.18832,-2.94824l1.43449,2.20915l-2.90062,0l1.46614,-2.20915l-0.00001,0zm4.43842,-0.30204l-2.26499,2.29536l-1.49044,-2.29536l3.75541,0l0.00001,0l0.00001,0zm5.43145,0l-1.4905,2.29536l-2.26498,-2.29536l3.75548,0l0,0l0,0l0,0zm0.6847,0.29909l1.5368,2.2121l-2.9731,0l1.4363,-2.2121zm-5.27827,-0.09805l2.27957,2.3099l-4.55932,0l2.27975,-2.3099l0,0zm0.04024,8.51478l-2.61742,-5.46553l5.16115,0l-2.54372,5.46553l-0.00001,0zm7.83383,-5.9319c-0.0105,-0.03918 -0.0268,-0.07736 -0.0508,-0.11284c-0.0005,-0.0005 -0.0005,-0.00123 -0.0011,-0.00197l-2.2096,-3.1813c-0.0276,-0.06627 -0.0745,-0.12516 -0.1385,-0.16727c-0.0643,-0.04188 -0.1369,-0.06109 -0.2086,-0.05961c-0.001,0 -0.002,-0.00025 -0.003,-0.00025l-5.21881,0l-0.08688,0l-5.22964,0c-0.00393,0 -0.00712,0.00123 -0.01105,0.00123c-0.02356,0.00074 -0.04638,0.0037 -0.06896,0.00863c-0.00859,0.00198 -0.01694,0.00468 -0.02553,0.00738c-0.01816,0.00543 -0.03583,0.01231 -0.05276,0.02044c-0.00859,0.00418 -0.01718,0.00838 -0.02553,0.01331c-0.0054,0.0032 -0.01153,0.00518 -0.01694,0.00887c-0.01153,0.00763 -0.02111,0.01677 -0.03141,0.02537c-0.00613,0.00518 -0.013,0.00985 -0.01865,0.01528c-0.02037,0.01921 -0.03902,0.0404 -0.05497,0.06405l-0.00025,0l-2.15601,3.24855l-0.00049,0l-0.00098,0.00173c-0.00049,0.0005 -0.00049,0.00123 -0.00074,0.00172c-0.02381,0.03597 -0.03951,0.07513 -0.04934,0.11505c-0.00074,0.00295 -0.00195,0.00543 -0.00271,0.00838c-0.00565,0.02562 -0.00907,0.05248 -0.00907,0.07983c0,0.01208 0.00245,0.02341 0.00367,0.03523c0.00049,0.00665 0.00098,0.01355 0.00196,0.02019c0.0054,0.0367 0.01669,0.07268 0.03313,0.10668c0.00295,0.00566 0.00613,0.01133 0.00933,0.017c0.0184,0.03325 0.04172,0.06429 0.07092,0.09139c0.00172,0.00147 0.00246,0.0037 0.00418,0.00517l7.47522,6.6982c0.00567,0.00516 0.01328,0.00678 0.01918,0.01156c0.02405,0.01891 0.04955,0.03448 0.0766,0.04624c0.01077,0.00497 0.02081,0.01089 0.03215,0.01452c0.03797,0.01309 0.07749,0.02149 0.11749,0.02149l0.00203,0c0.04073,-0.00029 0.07951,-0.00869 0.11676,-0.02169c0.01085,-0.00373 0.0204,-0.00936 0.03101,-0.01433c0.02696,-0.01204 0.05296,-0.02751 0.077,-0.04681c0.00567,-0.00468 0.01303,-0.00583 0.01838,-0.01098l7.47531,-6.6982c0.0017,-0.00147 0.0024,-0.00395 0.0042,-0.00517c0.0297,-0.0276 0.0535,-0.05937 0.0721,-0.09362c0.0029,-0.00518 0.006,-0.01059 0.0085,-0.01627c0.0168,-0.03449 0.0276,-0.0707 0.0329,-0.10815c0.001,-0.00666 0.0015,-0.01404 0.0023,-0.02094c0.001,-0.01034 0.0032,-0.02044 0.0032,-0.03129c0,-0.02857 -0.0041,-0.05642 -0.0101,-0.08327c-0.0019,-0.00468 -0.0039,-0.00887 -0.0051,-0.01355l0,0l0,0.00001l0,0.00001l0,0z"></path>
        <path id="studio" transform="scale(1) " d="m12.375,5.54175l0,0l-3.09456,0l0,0.99577l1.2104,0l0,1.88899c0,1.65565 -1.13404,1.75664 -1.65088,1.75664c-0.51684,0 -1.65072,-0.10099 -1.65072,-1.75664l0,-5.76951c0,-1.65581 1.13388,-1.75668 1.65072,-1.75668c0.51684,0 1.65088,0.10087 1.65088,1.75668l0,1.88899l1.88416,0l0,-1.62158c0,-2.62639 -2.67557,-2.92441 -3.53504,-2.92441c-0.85931,0 -3.53487,0.29803 -3.53487,2.92441l0,5.23455c0,1.8453 1.29453,2.54113 2.36273,2.79199c0.02709,0.00625 0.02895,0.02499 0.00287,0.02923c-0.88976,0.13939 -1.90397,0.79814 -1.90364,1.71974c0.00051,1.7414 2.26505,2.04356 3.0729,3.30008c0.808,-1.25652 3.07255,-1.55868 3.07305,-3.30008c0.00033,-0.9216 -1.01386,-1.58035 -1.90364,-1.71974c-0.02608,-0.00423 -0.02436,-0.02298 0.00271,-0.02923c1.06819,-0.25086 2.3629,-0.9467 2.3629,-2.79199l0,-2.61721l0.00003,0z"></path>
    </defs>
  </svg>
</div>