<div class="user-panel top">
    <div class="sw">
        <div class="buttons ta-r">
            {{#user.data.avatar}}<img src="/content/avatars/{{user.data.avatar}}" alt="avatar">{{/user.data.avatar}}
            <a class="account" href="#block-profile">{{user.username}}</a>
            <a class="logout" href="/account/logout/">Выйти</a>
        </div>
        {{>user-details}}
    </div>
</div>