<div id="{{^user}}block-regist{{/user}}{{#user}}block-profile{{/user}}" class="block clear" style="height: 0px; overflow: hidden;">
    <form method="POST" action="/account/{{^user}}create{{/user}}{{#user}}edit{{/user}}" class="type-2">
        <div class="row">
            <div class="column w-30">
                <label for="reg-email">эл. почта</label>
                <input id="reg-email" name="email" type="email" value="{{user.email}}" {{#user}}readonly="readonly"{{/user}} tabindex="1">
            </div>
            <div class="column w-30">
                <label for="reg-name">имя и фамилия</label>
                <input id="reg-name" name="name" type="text" value="{{user.data.name}}" tabindex="4">
            </div>
            <div class="column w-30">
                <label for="reg-city">город</label>
                <input type="text" name="city" id="reg-city" value="{{user.data.city}}" tabindex="6">
            </div>
        </div>
        <div class="row">
            <div class="column w-30">
                <label for="reg-password">{{#user}}новый {{/user}}пароль</label>
                <input name="password" id="reg-password" type="password" value="" tabindex="2">
            </div>
            <div class="column w-30">
                <label for="reg-spiritual_name">духовное имя (если есть)</label>
                <input name="spiritual_name" id="reg-spiritual_name" type="text" value="{{user.data.spiritual_name}}" tabindex="5">
            </div>

            <div class="column w-25">
                <label for="reg-birth_date">дата рождения</label>
                <input type="text" class="date" name="birth_date" value="{{user.data.birth_date}}" id="reg-birth_date" tabindex="7" />
            </div>
            <div class="column w-15">
                <div class="field horizontal">
                    <input name="sex" id="reg-sex_m" type="radio" value="false" {{^user.data.sex}}checked="checked"{{/user.data.sex}}>
                    <label for="reg-sex_m">M</label>
                    <input name="sex" id="reg-sex_f" type="radio" value="true" {{#user.data.sex}}checked="checked"{{/user.data.sex}}>
                    <label for="reg-sex_f">Ж</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column w-30">
                <label for="reg-password_confirm">{{#user}}новый {{/user}}пароль еще раз</label>
                <input name="password_confirm" id="reg-confirm_password" type="password" value="" tabindex="3">
            </div>
            <div class="column w-30">
                <label for="reg-phone">номер телефона</label>
                <input name="phone" id="reg-phone" type="text" value="{{user.data.phone}}" tabindex="4">
            </div>
            {{#user.roles.team}}
            <div class="column w-30">
                <label for="reg-activity">служение в студии</label>
                <input name="activity" id="reg-activity" type="text" value="{{user.data.activity}}" tabindex="8">
            </div>
            {{/user.roles.team}}
        </div>
        <div class="row">
            <div class="column w-30">
                <input name="avatar-file" id="avatar" type="file" data-dnd="true" data-url="/account/avatar/" data-btn-text="" data-default-text="" />
                <label for="avatar">Для загрузки фото, нажмите на «+» или просто перетащите файл в область</label>
                <input name="avatar" type="hidden" {{#user.data.avatar}}value="{{user.data.avatar}}"{{/user.data.avatar}} />
            </div>
            <div class="column w-30 checkboxes-column">
                <input name="email_subscriber" id="reg-email_subscriber" type="checkbox" {{#user.data.email_subscriber}}checked="checked"{{/user.data.email_subscriber}}>
                <label for="reg-email_subscriber">Я согласен получать сообщения по электронной почте</label>
                {{^user}}
                <input name="accept_conditions" id="reg-accept_conditions" type="checkbox">
                <label for="reg-accept_conditions"> согласен с <a href="#">пользовательским соглашением</a> и <a href="#">соглашением о конфиденциальности</a></label>
                {{/user}}
            </div>
            <div class="column w-30 button-column">
                <ul class="errors">

                </ul>
                {{^user}}<button type="submit" class="btn-grey submit">Зарегистрироваться</button>{{/user}}
                {{#user}}<button type="submit" class="btn-grey submit">Сохранить</button>{{/user}}
            </div>
        </div>
    </form>
</div>
