{{#items}}
<li id="{{{key}}}" class="jira-item">
    <h3>
        {{#media_object_exists}}
        <a href="{{{media_object_link}}}" class="media-link" target="_blank" title="Этот элемент уже присутсвует в катлоге, но он был изменен в Jira">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 345.002 345.002"  xml:space="preserve">
                <g>
                    <path d="M341.34,90.612l-43.452-43.453c-0.008-0.007-0.014-0.016-0.02-0.023c-0.008-0.007-0.019-0.014-0.023-0.021L254.392,3.661   C252.048,1.317,248.869,0,245.553,0c-3.315,0-6.494,1.317-8.839,3.661L26.285,214.088c-1.727,1.727-2.909,3.92-3.404,6.312   L0.259,329.975c-0.851,4.12,0.429,8.393,3.403,11.366c2.368,2.368,5.558,3.661,8.839,3.661c0.841,0,1.688-0.085,2.527-0.258   l109.57-22.625c2.392-0.494,4.585-1.677,6.312-3.403L341.34,108.289C346.222,103.409,346.222,95.494,341.34,90.612z    M42.677,248.161l54.164,54.164l-68.256,14.093L42.677,248.161z M122.071,292.2L52.8,222.928L245.553,30.179l25.796,25.797   l-116.637,116.64c-4.882,4.882-4.882,12.796,0,17.678c2.44,2.44,5.64,3.661,8.839,3.661c3.199,0,6.398-1.221,8.839-3.661   l116.639-116.64l25.796,25.797L122.071,292.2z"/>
                </g>
            </svg>
        </a>
        {{/media_object_exists}}
        <a href="http://jira.bvgm.org:8888/browse/{{{key}}}" target="_blank" data-key="{{{key}}}">{{title}}</a>
    </h3>
    <ul class="jira-buttons">
        {{#is_collection}}
        <li>
            <a class="jira-accept-all" href="/admin/jira/accept_self_and_children?key={{{key}}}" title="Принять вместе с связанными">
                <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                    <path d="M72.518,34.534L37.194,69.855c-2.616,2.615-6.859,2.615-9.477,0L9.483,51.619c-2.617-2.616-2.617-6.859,0-9.476
                            c2.617-2.617,6.86-2.617,9.476-0.001l13.498,13.499L63.04,25.057c2.617-2.617,6.86-2.615,9.476,0
                            C75.133,27.674,75.133,31.916,72.518,34.534z"/>
                    <path fill="#FFFFFF" d="M50.981,76.816c-2.323,0-4.509-0.904-6.152-2.546L26.594,56.033c-1.643-1.643-2.548-3.828-2.548-6.152
                            c0-2.324,0.905-4.509,2.548-6.153c1.644-1.644,3.829-2.549,6.153-2.549c2.324,0,4.509,0.905,6.152,2.549l12.083,12.084
                            l29.169-29.169c1.643-1.643,3.828-2.548,6.151-2.548c2.324,0,4.51,0.905,6.152,2.548c3.392,3.391,3.393,8.911,0.003,12.305
                            L57.133,74.27C55.49,75.912,53.306,76.816,50.981,76.816z"/>
                    <path d="M91.043,37.534L55.719,72.855c-2.615,2.615-6.858,2.615-9.477,0L28.008,54.619c-2.617-2.616-2.617-6.859,0-9.477
                            c2.617-2.617,6.86-2.617,9.476,0l13.498,13.498l30.583-30.583c2.617-2.617,6.86-2.615,9.476,0
                            C93.658,30.674,93.658,34.916,91.043,37.534z"/>
                </svg>
            </a>
        </li>
        {{/is_collection}}
        <li>
            <a class="jira-accept" href="/admin/jira/accept?key={{{key}}}" title="Принять">
                <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                    <path d="M81.517,36.534L46.194,71.855c-2.616,2.616-6.859,2.616-9.477,0L18.483,53.619c-2.617-2.616-2.617-6.859,0-9.476  c2.617-2.617,6.86-2.617,9.476-0.001l13.498,13.498L72.04,27.057c2.617-2.617,6.86-2.615,9.476,0  C84.133,29.674,84.133,33.916,81.517,36.534z"/>
                </svg>
            </a>
        </li>
        <li>
            <a class="jira-decline" href="/admin/jira/decline?key={{{key}}}" title="Отклонить">
                <svg viewBox="0 0 100 100">
                    <path d="M76.83,32.561L59.392,50L76.83,67.439c2.594,2.594,2.594,6.798,0,9.392  c-1.296,1.296-2.995,1.945-4.694,1.945c-1.7,0-3.399-0.648-4.695-1.945L50,59.391l-17.44,17.44  c-1.296,1.296-2.995,1.945-4.695,1.945c-1.699,0-3.397-0.648-4.694-1.945c-2.594-2.593-2.594-6.797,0-9.392L40.608,50L23.17,32.561  c-2.594-2.594-2.594-6.798,0-9.392c2.593-2.592,6.795-2.592,9.389,0L50,40.609l17.44-17.44c2.594-2.592,6.796-2.592,9.389,0  C79.424,25.763,79.424,29.967,76.83,32.561z"/>
                </svg>
            </a>
        </li>            
    </ul>

    {{#file_uri}}
    <audio src="{{{file_uri}}}" preload="none"></audio>
    {{/file_uri}}

    <article>
        {{{annotation}}}
    </article>
    
    <section class="related">
        <label>
            <a class="filter" href="?related_to={{{key}}}">
                {{#is_collection}}Отфильтровать неопубликованное содержимое коллекции{{/is_collection}}
                {{^is_collection}}Отфильтровать неопубликованные коллекции, в которые входит этот элемент{{/is_collection}}
            </a>
        </label>        
    </section>
    
    <footer>
        <div class="tags">
            <span class="date"><i><svg viewbox="0 0 16 16"><use xlink:href="#calendar" /></svg></i><span>{{occurrence_date}}</span></span>
            {{#is_in_collection}}<i><svg viewbox="0 0 16 16"><use xlink:href="#collection" /></svg></i>{{/is_in_collection}}
            <i><svg viewbox="0 0 16 16"><use xlink:href="#{{content_type}}" /></svg></i>
            {{#authors}}
            <span class="author"><i><svg viewBox="0 0 16 16"><use xlink:href="#people" /></svg></i><span>{{.}}</span></span>
            {{/authors}}                
            <span><i><svg viewbox="0 0 16 16"><use xlink:href="#mark" /></svg></i><span>{{venue}}</span></span>
            {{#tags}}
            <span><i><svg viewbox="0 0 16 16"><use xlink:href="#tag" /></svg></i><span>{{.}}</span></span>
            {{/tags}}
        </div>
    </footer>
</li>
{{/items}}

{{^items}}
    <li class="sw no-items">Не удалось найти что-либо по вашему запросу. Возможно, в Jira нет задач с нужным статусом.</li>
{{/items}}