{{#items}}
    <li>
        <a href="/{{{link}}}" data-id="{{{id}}}" class="{{type}}">
            <i class="icon">
                <svg viewBox="0 0 16 16">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{type}}"></use>
                </svg>
            </i>
            <span>{{title}}</span>
            <b></b>
        </a>
    </li>
{{/items}}