{{#items}}
    <article class="post text">
        <section class="sw content-article">
            <header>
                <h2>
                    <a href="/admin/page/{{{id}}}">{{title}}</a>
                    <span class="alias">{{alias}}</span>
                </h2>
                <ul class="jira-buttons">
                    <li>
                        <a class="jira-decline" href="/admin/page/delete/{{{id}}}">
                            <svg viewBox="0 0 100 100">
                                <path d="M76.83,32.561L59.392,50L76.83,67.439c2.594,2.594,2.594,6.798,0,9.392  c-1.296,1.296-2.995,1.945-4.694,1.945c-1.7,0-3.399-0.648-4.695-1.945L50,59.391l-17.44,17.44  c-1.296,1.296-2.995,1.945-4.695,1.945c-1.699,0-3.397-0.648-4.694-1.945c-2.594-2.593-2.594-6.797,0-9.392L40.608,50L23.17,32.561  c-2.594-2.594-2.594-6.798,0-9.392c2.593-2.592,6.795-2.592,9.389,0L50,40.609l17.44-17.44c2.594-2.592,6.796-2.592,9.389,0  C79.424,25.763,79.424,29.967,76.83,32.561z"/>
                            </svg>
                        </a>
                    </li>            
                </ul>
            </header>
        </section>
    </article>
{{/items}}
<div class="sw">{{{paginator}}}</div>