<table>
    <thead>
        <th>email</th>
        <th>Имя</th>
        <th>Духовное имя</th>
        <th>Город</th>
        <th>Роли</th>
        <th></th>
    </thead>
    <tbody>
        {{#items}}
        <tr id="{{pk}}">
            <td class="email" contenteditable="true">{{email}}</td>
            <td class="name" contenteditable="true">{{data.name}}</td>
            <td class="spritual_name" contenteditable="true">{{data.spritual_name}}</td>
            <td class="city" contenteditable="true">{{data.city}}</td>
            <td class="roles">
                <a href="#" class="team {{#is_team}}active{{/is_team}}">
                    <i class="icon">
                        <svg viewBox="0 0 16 16">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#studio"></use>
                        </svg>
                    </i>
                    <span>Команда студии</span>
                </a>
                <a href="#" class="flilial {{#is_filial}}active{{/is_filial}}">
                    <i class="icon">
                        <svg viewBox="0 0 16 16">
                            <rect height="13.88235" width="0.81771" y="0.625" x="4.02086"></rect>
                            <path d="m4.83857,1.50786c6.10089,-0.23989 5.64632,2.43446 10.49056,2.60508c-3.09518,4.65057 -5.85998,1.79842 -10.49056,4.36215c0,-2.39471 0,-4.51183 0,-6.96723z"></path>
                            <path fill-opacity="0" d="m3.24066,12.84151c-1.44875,0.17486 -2.49066,0.66041 -2.49066,1.23202c0,0.71879 1.64746,1.30147 3.67971,1.30147l0,0c2.03225,0 3.67971,-0.58269 3.67971,-1.30147c0,-0.55884 -0.99588,-1.03542 -2.39419,-1.21984"></path>
                        </svg>
                    </i>
                    <span>Представитель</span>
                </a>
            </td>
            <td class="controls"><button>X</button></td>
        </tr>
        {{/items}}
    </tbody>
</table>
<div class="sw">{{{paginator}}}</div>