<article class="post text">
    <section class="sw content-article">
        <header>
            <h2><a href="/{{link}}">{{title}}</a></h2>
        </header>
        <div class="o-h">
            <ul class="nav">
                <li class="inf"><a href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#i-circle" /></svg></i><span>Инфо</span></a></li>
                <li class="text"><a href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#text2-circle" /></svg></i><span>Текст</span></a></li>
            </ul>
            <div class="info-content">
                <div class="indent">
                    {{{teaser}}}
                </div>
            </div>
            <div class="text-content">
                <div class="indent">
                    {{{text}}}
                </div>
            </div>
            {{>bottom}}
        </div>
    </section>
</article>