<article class="post audio">
    <section class="sw">
        <header>
            {{^is_attached}}<h2><a href="/{{{link}}}">{{title}}</a></h2>{{/is_attached}}    
            {{#is_attached}}<h3><a href="/{{{link}}}">{{title}}</a></h3>{{/is_attached}}
        </header>
        
        {{^is_attached}}
        <div class="disc" style="{{^collections}}display:none;{{/collections}}">
            <div class="title">
                <a href="/{{{first_collection.link}}}">
                    <i><svg viewbox="0 0 16 16"><use xlink:href="#disc" /></svg></i>
                    <span>{{first_collection.title}}</span>
                </a>
            </div>
            <div class="images">
                {{#collections}}
                <a class="cd" href="/{{{link}}}"><img alt="{{title}}" height="180" src="{{^img_uri}}/img/{{type}}-default.png{{/img_uri}}{{{img_uri}}}" /><span>{{title}}</span></a>
                {{/collections}}
            </div>
        </div>
        {{/is_attached}}
        
        <div class="o-h">
            {{^is_attached}}
            <ul class="nav">
                <li class="inf"><a href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#i-circle" /></svg></i><span>Инфо</span></a></li>
                {{#is_logged_in}}
                <li><a href="{{{file_uri}}}" download><i><svg viewbox="0 0 20 20"><use xlink:href="#arrow-down-circle" /></svg></i><span>{{verbal_size}}</span></a></li>
                {{/is_logged_in}}
                <li class="text"><a href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#text2-circle" /></svg></i><span>Текст</span></a></li>
            </ul>
            {{/is_attached}}
            <audio src="{{{file_uri}}}" preload="none"></audio>
            <div class="info-content">
                <div class="indent">
                    {{{teaser}}}
                </div>
            </div>

            {{^is_attached}}
            <div class="text-content">
                <div class="indent">
                    {{{text}}}
                </div>
            </div>
            
                {{>bottom}}
            {{/is_attached}}
        </div>
    </section>
</article>