<section class="major-object content-book">
    <header>
            {{^is_attached}}<h2><a href="/{{{link}}}">{{title}}</a></h2>{{/is_attached}}    
            {{#is_attached}}<h3><a href="/{{{link}}}">{{title}}</a></h3>{{/is_attached}}
    </header>
    
    <div class="pull-left">
        <img class="cover" width="180" height="180" src="{{{cover_img_uri}}} {{^cover_img_uri}}/img/disk-adv.png{{/cover_img_uri}}" alt="{{name}}" />
        <!--<section class="links">
            <a class="buy" href="/{{link}}#buy">Купить диск</a>
            {{#download_uri}}
            <a href="{{{download_uri}}}"><i class="icon-download-alt"></i>Скачать</a>
            {{/download_uri}}'
        </section>-->
    </div>
    <p class="teaser">
        {{{teaser}}}
    </p>
    {{^is_attached}}
        {{>bottom}}
    {{/is_attached}}
</section>