<article class="post collection">
    <section class="sw">
    <header>
            {{^is_attached}}<h2><a href="/{{{link}}}">{{title}}</a></h2>{{/is_attached}}    
            {{#is_attached}}<h3><a href="/{{{link}}}">{{title}}</a></h3>{{/is_attached}}
    </header>
    
    <div class="column w-20 ta-c sidebar">
        <img alt="{{title}}" height="180" src="{{^cover_img_uri}}/img/collection-default.png{{/cover_img_uri}}{{{cover_img_uri}}}">
        
        {{^is_attached}}
            <a class="btn-green" href="/studio/#filial"><i><svg viewbox="0 0 20 20"><use xlink:href="#order" /></svg></i><span>Заказать диск</span></a>
            {{#download_uri}}
            <!--a class="btn-green" href="{{{download_uri}}}">
                <i><svg viewbox="0 0 20 20"><use xlink:href="#arrow-down-circle" /></svg></i>
                <span>Скачать диск</span>
            </a-->
            {{/download_uri}}
            <div class="logos">
                <a class="logo-1" href="#"><svg viewbox="0 0 58 57"><use xlink:href="#logo-1" /></svg></a>
                <a class="logo-4" href="#"><svg viewbox="0 0 20 51"><use xlink:href="#logo-4" /></svg></a>
                <a class="logo-3" href="#"><svg viewbox="0 0 49 49"><use xlink:href="#logo-3" /></svg></a>
                <a class="logo-2" href="#"><svg viewbox="0 0 55 51"><use xlink:href="#logo-2" /></svg></a>
            </div>
        {{/is_attached}}
    </div>
    
    <div class="o-h column w-80">
            {{^is_attached}}
            <ul class="nav">
                <li class="inf"><a href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#i-circle" /></svg></i><span>Инфо</span></a></li>
                <li><a href="{{{file_uri}}}"><i><svg viewbox="0 0 20 20"><use xlink:href="#arrow-down-circle" /></svg></i><span>{{verbal_size}}</span></a></li>
                <li class="text"><a href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#text2-circle" /></svg></i><span>Текст</span></a></li>
            </ul>
            {{/is_attached}}
            
            <div class="info-content">
                <div class="indent">
                    {{{teaser}}}
                </div>
            </div>

            {{^is_attached}}
            <ul {{^sub_collection_items}}style="display:none"{{/sub_collection_items}} class="subcollections-list">
                {{#sub_collection_items}}
                <li>
                    <i><svg viewbox="0 0 20 20"><use xlink:href="#collection" /></svg></i><span>{{title}}</span>
                    <ol {{^linked_medias}}style="display:none"{{/linked_medias}}>
                        {{#linked_medias}}
                        <li>
                            {{^visible}}{{title}}{{/visible}}
                            {{#visible}}<a href="/{{{link}}}">{{title}}</a>{{/visible}}
                            <span class="f-r">{{time}}</span></li>
                        {{/linked_medias}}
                    </ol>
                </li>
                {{/sub_collection_items}}
            </ul>
            
            <ol {{^content_items}}style="display:none"{{/content_items}}>
                {{#content_items}}
                <li>
                    {{^visible}}{{title}}{{/visible}}
                    {{#visible}}<a href="/{{{link}}}">{{title}}</a>{{/visible}}
                    <span class="f-r">{{time}}</span></li>
                {{/content_items}}
            </ol>
            
            <div class="text-content">
                <div class="indent">
                    {{{text}}}
                </div>
            </div>
            
            {{>bottom}}
            
            {{/is_attached}}
        </div>
</section>
</article>