<section class="major-object content-news">
        <h3><a href="/{{{link}}}" data-id="{{{id}}}">{{title}}</a></h3>
        <p>
            {{teaser}}
        </p>

        {{{major_media_object_html}}}

        <section class="bottom">
            <span class="date">{{date}}</span>
            <ul class="tags inline">
                {{#tags}}
                    <li><a href="/{{{link}}}" data-id="{{{id}}}">{{text}}</a></li>
                {{/tags}}
            </ul>

            <ul class="objects inline" {{^minor_media_objects}}style="display:none"{{/minor_media_objects}}>
                {{#minor_media_objects}}
                    <li><a href="/{{{link}}}" data-id="{{{id}}}" class="{{type}}"></a></li>
                {{/minor_media_objects}}
            </ul>
        </section>
</section>