<section class="major-object content-video">
    <h4><a href="{{link}}">{{title}}</a></h4>
<!--   {{#is_local}}  -->
<!--     <video width="{{video_width}}" height="{{video_height}}" controls>  -->
<!--        <source src="{{file_uri}}" type="video/mp4">  -->
<!--        Your browser does not support the video tag.  -->
<!--    </video>  -->
<!--    {{/is_local}} -->

<!--    {{#is_youtube}} -->
    <iframe width="468" height="234" src="https://www.youtube.com/embed/{{file_uri}}" frameborder="0" allowfullscreen>

    </iframe>
<!--    {{/is_youtube}}  -->

    <p class="teaser">
        {{{teaser}}}
    </p>
</section>

<article class="post video">
    <div class="sw">
        <header>
            <h2><a href="/{{link}}">{{title}}</a></h2>
        </header>
        <div class="o-h">
            <ul class="nav">
                <li class="inf"><a href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#i-circle" /></svg></i><span>Инфо</span></a></li>
                <li class="text"><a href="#"><i><svg viewbox="0 0 20 20"><use xlink:href="#text2-circle" /></svg></i><span>Текст</span></a></li>
                {{#audio_version_link}}<li class="exit"><a href="/{{audio_version_link}}"><i class="audio"><svg viewbox="0 0 16 16"><use xlink:href="#audio" /></svg></i></a></li>{{/audio_version_link}}
            </ul>
            
 <!--           {{#is_local}}  -->
 <!--                <video width="{{video_height}}" height="{{video_width}}" controls>  -->
 <!--                    <source src="{{file_uri}}" type="video/mp4">  -->
 <!--                   Your browser does not support the video tag.  -->
 <!--               </video>   -->
 <!--           {{/is_local}}  -->

 <!--           {{#is_youtube}} -->
                <iframe width="468" height="234" src="https://www.youtube.com/embed/{{file_uri}}" frameborder="0" allowfullscreen>
                </iframe>
 <!--           {{/is_youtube}} -->
            
            <div class="info-content">
                <div class="indent">
                    {{{teaser}}}
                </div>
            </div>
            <div class="text-content">
                <div class="indent">
                    {{{text}}}
                </div>
            </div>
            {{>bottom}}
        </div>
    </div>
</article>